<div id="article_page">
    <div class="wrapper">
        <div class="mod_title">
            <div class="font_24 blue1 font_medium ">
                Tropicana Caffe Digital Signage
            </div>
        </div>
        <div id="article_carousel">
            <!--carousel here-->
            <section>

            </section>
            <!--carousel here-->

        </div>
        <div id="article_section">
            <div class="dis_flex">
                <section class="flex_lg">
                    <blockquote>
                        <p ng-bind-html="selected.article ">
                            <i class="fa fa-quote-left"></i>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            <i class="fa fa-quote-right"></i>
                        </p>
                    </blockquote>
                    <article>
                        What was holding them back?
                        Adapting to the shifting changes in technology and consumer needs is a huge priority for Telstra. Having a Discovery Store where they have showcased how they are able to engage with their customers by bringing digital to the physical environment, has provided an amazing innovations platform for a roll out to other stores. The Discovery store has also allowed Telstra to reflect the values of their company on a large scale.

                        What did they change?
                        Engagis worked with Telstra to create, “The Store Of The Future”. Whether its a giant curved digital screens with video content, or a Sandbox tabletop where the customer controls the information they receive interactively – this really is a store which sets the benchmark for the phygital space.

                        How has it worked out?
                        The success of the Sydney Discovery Store has been a driving factor for the roll out across all Telstra stores over the next 5 years and has set the tone for the Telstra Future Retail Environment (FRE), also delivered by Engagis across their 400+ locations Australia wide. What’s more, this store is not all smoke and mirrors; the interactive and customer engagement solutions in store are delivering an improved ROI, delivering more sales and driving a huge increase in advocacy among Telstra customers.
                    </article>
                </section>
                <section class="flex_sm">
                    <button type="button" class="btn btn-primary width100">
                        Share
                    </button>
                </section>
            </div>
        </div>
        <div id="related_items">
            <div class="dis_table">
                <div class="dis_cell_top ">
                    <div class="font_18 blue3 border_bottom">
                        Related Articles
                    </div>
                    <div class="article_instances">
                        <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="img_holder">
                                        <img src="../images/test_06.jpg"/>

                                    </div>
                                    <div class="item_text">
                                        <div class="item_title">
                                            <a class="blue1 font_bold">
                                                ddsads

                                            </a>
                                        </div>
                                        <div class="item_content font_14 grey1 font_light">
                                            dsds

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="img_holder">
                                        <img src="../images/test_06.jpg"/>

                                    </div>
                                    <div class="item_text">
                                        <div class="item_title">
                                            <a class="blue1 font_bold">
                                                ddsads

                                            </a>
                                        </div>
                                        <div class="item_content font_14 grey1 font_light">
                                            dsds

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="dis_cell_top">
                    <div class="font_18 blue3 border_bottom">
                        Featured Products
                    </div>
                    <div class="article_instances">
                        <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="img_holder">

                                    </div>
                                    <div class="item_text">
                                        <div class="item_title">
                                            <a class="blue1 font_bold">

                                            </a>
                                        </div>
                                        <div class="item_content font_14 grey1 font_light">

                                        </div>
                                        <div class="box_price font_24 font_light"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>