<div id="article_page">
    <div class="wrapper">
        <div class="breadcrumbs font_medium">
            <div class="dis_table_auto">
                <div class="dis_cell">
                    <a class=" btn btn-tessa-back " ng-click="goBack()">
                        <i class="fa fa-angle-left"> </i>
                    </a>
                </div>
                <div class="dis_cell">
                    <a class="current pad_side_10 ">
                        {{detail.title}}
                    </a>
                </div>
            </div>
            <!-- <a class="current">
            > {{details.bundle_name}}
            </a> -->
        </div>
        <div id="article_carousel">
            <!--carousel here-->
            <section id="#carousel-custom">
                <!--  <div uib-carousel active="$index" interval="myInterval" no-wrap="noWrapSlides">

                    <div uib-slide ng-repeat="slide in detail.mediafiles track by $index" index="$index">
                        <div ng-if="slide.media_mimetype == 'image/jpeg' || slide.media_mimetype == 'image/png'">
                            <img ng-src="{{slide.media_path}}" style="margin:auto;">
                        </div>
                        <div class="vid_holder">
                            <div ng-if="slide.media_mimetype == 'video/mp4'">
                                <videogular vg-theme="detail.article_thumbnail.url">
                                    <vg-media vg-src="detail.article_thumbnail.media_path"></vg-media>
                                    <vg-controls>
                                        <vg-play-pause-button></vg-play-pause-button>
                                        <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                        <vg-scrub-bar>
                                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        </vg-scrub-bar>
                                        <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                                        <vg-volume>
                                            <vg-mute-button></vg-mute-button>
                                            <vg-volume-bar></vg-volume-bar>
                                        </vg-volume>
                                        <vg-fullscreen-button></vg-fullscreen-button>
                                    </vg-controls>
                                    <vg-overlay-play></vg-overlay-play>
                                    <vg-buffering></vg-buffering>
                                </videogular>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                    <div class="carousel-outer">
                        <div class="carousel-inner">
                            <div ng-repeat="slide in slides" class="item" ng-class="{active:!$index}" data-thumb="{{$index}}">
                                <div ng-if="slide.media_mimetype == 'image/jpeg' || slide.media_mimetype == 'image/png'">
                                    <img ng-src="{{slide.image}}" style="margin:auto;">
                                </div>
                                <div class="vid_holder">
                                    <div ng-if="slide.media_mimetype == 'video/mp4'">
                                        <videogular vg-theme="slide.url">
                                            <vg-media vg-src="slide.image"></vg-media>
                                            <vg-controls>
                                                <vg-play-pause-button></vg-play-pause-button>
                                                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                                <vg-scrub-bar>
                                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                                </vg-scrub-bar>
                                                <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                                                <vg-volume>
                                                    <vg-mute-button></vg-mute-button>
                                                    <vg-volume-bar></vg-volume-bar>
                                                </vg-volume>
                                                <vg-fullscreen-button></vg-fullscreen-button>
                                            </vg-controls>
                                            <vg-buffering></vg-buffering>
                                        </videogular>
                                    </div>
                                </div>
                                <a class="carousel-control left" data-target='#carousel-custom' data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="carousel-control right" data-target='#carousel-custom' data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="article_section">
            <div class="dis_flex">
                <section class="flex_lg">
                    <blockquote>
                        <div ng-bind-html="detail.article ">
                            <!-- <i class="fa fa-quote-left"></i> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            <i class="fa fa-quote-right"></i> -->
                        </div>
                    </blockquote>
                    <article>
                        <p ng-bind-html="detail.description "></p>
                    </article>
                </section>
                <section class="flex_sm">
                    <div>
                        <ul class="product_gallery">
                            <li ng-repeat="slide in slides" data-target='#carousel-custom' data-slide-to="{{$index}}" ng-class="{active:!$index}">
                                <img ng-if="slide.media_mimetype == 'image/jpeg' || slide.media_mimetype == 'image/png'" ng-src="{{slide.image}}" alt='' width="150" height="150" />
                                <div class="vid_holder">
                                    <div ng-if="slide.media_mimetype == 'video/mp4'">
                                        <videogular vg-theme="slide.url">
                                            <vg-media vg-src="slide.image"></vg-media>
                                            <!--  <vg-controls>
                                                <vg-play-pause-button></vg-play-pause-button>
                                                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                                <vg-scrub-bar>
                                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                                </vg-scrub-bar>
                                                <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                                                <vg-volume>
                                                    <vg-mute-button></vg-mute-button>
                                                    <vg-volume-bar></vg-volume-bar>
                                                </vg-volume>
                                                <vg-fullscreen-button></vg-fullscreen-button>
                                            </vg-controls> -->
                                            <vg-buffering></vg-buffering>
                                        </videogular>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button type="button" ng-click="openShareModal()" class=" btn btn-primary width100">
                        Share
                    </button>
                </section>
            </div>
        </div>
        <div id="related_items">
            <div class="dis_table">
                <div class="dis_cell_top ">
                    <div class="font_18 blue3 border_bottom">
                        Related Experience
                    </div>
                    <div class="article_instances">
                        <div class="col-lg-3" ng-repeat="related in relatedExperiences" ng-if="related.is_active == 1" ng-click="select(related.article_id)">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <!--   <div class="img_holder">
                                        <img ng-repeat="image in related.mediafiles | limitTo: 1" ng-src="{{image.media_path}}" err-src="http://placehold.it/750x450" />
                                    </div> -->
                                    <div class="img_holder" ng-if="!related.thumbnail_media">
                                        <img ng-src="{{related.image}}" imageonload err-src="http://placehold.it/750x450" />
                                        <span class="loading background-spinner"> <img src="./images/icons/default.gif"></span>
                                    </div>
                                    <div class="img_holder" ng-if="related.article_thumbnail.media_mimetype == 'image/jpeg' || related.article_thumbnail.media_mimetype == 'image/png'">
                                        <img ng-src="{{related.article_thumbnail.media_path}}" imageonload ng-if="related.article_thumbnail" err-src="http://placehold.it/750x450" />
                                        <span class="loading background-spinner"> <img src="./images/icons/default.gif"></span>
                                    </div>
                                    <div class="videogular-container" ng-if="related.article_thumbnail.media_mimetype == 'video/mp4'">
                                        <videogular vg-theme="related.article_thumbnail.url">
                                            <vg-media vg-src="related.article_thumbnail.media_path"></vg-media>
                                            <vg-buffering></vg-buffering>
                                            <!-- <vg-overlay-play></vg-overlay-play> -->
                                        </videogular>
                                        <span class="loading background-spinner"> <img src="./images/icons/default.gif"></span>
                                    </div>
                                    <div class="item_text">
                                        <div class="item_title">
                                            <a class="blue1 font_bold">
                                                {{related.title}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item_content font_14 grey1 font_light">
                                        <p ng-bind-html="related.article"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3" ng-show="!relatedExperiences.length">
                        <div class="panel-body">
                            <div class="item_text">
                                <p class="grey3 ">
                                    No related experience
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dis_cell_top">
                    <div class="font_18 blue3 border_bottom">
                        Featured Solution
                    </div>
                    <div class="article_instances">
                        <div class="col-lg-3" ng-repeat="item in bundles" ng-if="detail.article_features.length > 0" ui-sref="main.productDetailsSolution({selected_id:item.pb_id})">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="img_holder">
                                        <img ng-repeat="image in item.product_images | limitTo: 1" ng-src="{{image.image_path}}" err-src="http://placehold.it/750x450" />
                                    </div>
                                    <div class="item_text">
                                        <div class="item_title">
                                            <a class="blue1 font_bold">
                                                {{item.bundle_name}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item_content font_14 grey1 font_light">
                                        <p ng-bind-html="item.bundle_description"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" ng-if="detail.article_features.length == 0">
                            <div class="panel-body">
                                <div class="item_text">
                                    <p class="grey3 ">
                                        {{norelated}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
#active-experience {
    background: #424242;
}
</style>
