<div id="modal-cart">
    <div class="modal-body" style="padding:0;">
        <!--Cart-->
        <div class="dis_flex">
            <div id="shopping_cart">
                <div class="row_title">
                    SHOPPING CART
                </div>
                <div id="cart_details">
                    <div id="cart_items">
                        <table class="flow-x">
                            <thead>
                                <tr>
                                    <th>ITEMS</th>
                                    <th>QTY</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="cartitem in details track by $index">
                                    <td>
                                        <div class="img_holder" ng-if="cartitem.pb_id ">
                                            <img src="{{image.image_path}}" ng-repeat="image in cartitem.product_images | limitTo: 1" />
                                        </div>
                                        <div class="img_holder" ng-if="cartitem.p_id">
                                            <img src="{{cartitem.img_default}}" />
                                        </div>
                                        <div class="font_bold grey2" ng-show="cartitem.bundle_name">
                                            {{cartitem.bundle_name}}
                                        </div>
                                        <div class="font_bold grey2" ng-show="cartitem.item_name">
                                            {{cartitem.item_name}}
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="input-group bootstrap-touchspin">

                                            <span class="input-group-btn">
                                                        <button ng-click="minusbutton(cartitem)"
                                                                class="btn btn-midnightblue bootstrap-touchspin-down"
                                                                type="button">-</button>
                                            </span>
                                            <input ng-model="cartitem.quantity" class="form-control" />
                                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;">

                                            </span>
                                            <span class="input-group-btn">
                                                        <button ng-click="addbutton(cartitem)"
                                                                class="btn btn-midnightblue bootstrap-touchspin-up"
                                                                type="button">+</button>
                                            </span>
                                            <span class="input-group-btn">
                                                    <button ng-click="remove(cartitem)" type="button"
                                                            class="btn btn-default">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="cart_cost">
                        <div id="cost_breakdown" class="dis_cell">
                            <table>
                                <tr>
                                    <th>Item(s)</th>
                                    <td>${{totalUpfront | number:2}}</td>
                                </tr>
                                <tr>
                                    <th>Estimated Tax</th>
                                    <td>$8,000.00</td>
                                </tr>
                                <tr>
                                    <th>Fees</th>
                                    <td>$8,000.00</td>
                                </tr>
                            </table>
                        </div>
                        <div id="total_cost" class="dis_cell">
                            <div class="font_bold  grey2">Order Total</div>
                            <div class="font_bold font_18 blue1">${{totalUpfront | number:2}}</div>
                            <div class="font_12 grey3">{{items.length}} items</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="payment_terms">
                <div class="row_title">
                    Payment terms
                </div>
                <div class="dis_table">
                    <div id="opt_a" class="dis_cell">
                        <div class="font_light grey3">Option A</div>
                        <a class="font_14 font_light box_price">
                            <sup>$</sup>
                            <span class=" font_24">700</span> /week
                        </a>
                        <a class="font_14 font_light box_price">
                            <sup>$</sup>
                            <span class=" font_24">700</span> /week
                        </a>
                        <div class="font_bold grey2">or</div>
                        <a class="font_14 font_light box_price">
                            <sup>$</sup>
                            <span class=" font_24">700</span> /week
                        </a>
                    </div>
                    <div id="opt_b" class="dis_cell">
                        <div class="font_light grey3">Option A</div>
                        <a class="font_14 font_light box_price">
                            <sup>$</sup>
                            <span class=" font_24">700</span> /week
                        </a>
                        <a class="font_14 font_light box_price">
                            <sup>$</sup>
                            <span class=" font_24">700</span> /week
                        </a>
                        <div class="font_bold grey2">or</div>
                        <a class="font_14 font_light box_price">
                            <sup>$</sup>
                            <span class=" font_24">700</span> /week
                        </a>
                    </div>
                </div>
                <div class="pad20all">
                    <button id="trigger_generate" type="button" class="font_bold btn btn-primary">
                        PROCEED TO GENERATE QUOTE
                    </button>
                </div>
            </div>
            <div id="customer_details" style="display: none;">
                <div class="row_title">
                    Customer Information
                </div>
                <div class="pad20top">
                    <table>
                        <tr>
                            <th>
                                Company Name
                            </th>
                            <td>
                                <input type="text" class="form-control" id="company_name" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Company Email
                            </th>
                            <td>
                                <input type="text" class="form-control" id="company_email" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Company Address
                            </th>
                            <td>
                                <input type="text" class="form-control" id="company_address" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Payment Term
                            </th>
                            <td>
                                <select class="form-control" id="source" id="payment_terms">
                                    <option value="test">Test 1</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                    <button id="trigger_generate" ng-click="generateQuote()" type="button"
                            class="font_bold btn btn-primary">
                        GENERATE QUOTE

                    </button>
                    <button id="close_quote" type="button" class="btn btn-default pull-right">Cancel
                    </button>
                </div>
            </div>
        </div>
        <!--End of Cart-->
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#shopping_cart").css({
            'flex': '60%'
        });

        $("#payment_terms").css({
            'flex': '1'
        });
        $("#close_quote").click(function () {
            $("#customer_details").hide();
            $("#trigger_generate").show();
            if (window.matchMedia('(max-width: 1024px)').matches) {
                $("#shopping_cart").css({
                    'flex': '100%'
                });
                $("#payment_terms").css({
                    'flex': '100%'
                });
                $("#customer_details").css({
                    'flex': '100%'
                });



            } else {
                $(".modal-lg").css({
                    'min-width': '950px'
                });

                $("#shopping_cart").css({
                    'flex': '50%'
                });
                $("#payment_terms").css({
                    'flex': '50%'
                })
                $("#customer_details").css({
                    'flex': ''
                })
                $("#customer_details, #payment_terms").css({
                    'border-left': 'solid thin #E0E0E0'
                })
            }
        });
        $("#trigger_generate").click(function () {
            $("#customer_details").show();
            $("#trigger_generate").hide();
            if (window.matchMedia('(max-width: 1024px)').matches) {
                $("#shopping_cart").css({
                    'flex': '100%'
                });
                $("#payment_terms").css({
                    'flex': '100%'
                });
                $("#customer_details").css({
                    'flex': '100%'
                });
            } else {
                $(".modal-lg").css({
                    'min-width': '1200px'
                });
                $("#shopping_cart").css({
                    'flex': '0 1 40%'
                });
                $("#payment_terms").css({
                    'flex': '0 1 30%'
                })
                $("#customer_details").css({
                    'flex': '0 1 30%'
                })
                $("#customer_details, #payment_terms").css({
                    'border-left': 'solid thin #E0E0E0'
                })
            }
        });
    });
</script>
