<div id="product-catalogue">
    <div id="article-page" class="wrapper">
        <div class="breadcrumbs padding_10">
            <img src="./images/icons/ico_store00.svg" />
            <a class="current font_medium">
                Product Catalogue
            </a>
        </div>
        <div class="page_menu">
            <div class="menu_primary ">
                <div class="dis_table_auto">
                    <a class="dis_cell" ng-class="{'active': prodTypeLabel == 'Solution'}" ng-click="activeProd('Solution')">Solutions</a>
                    <a class="dis_cell" ng-class="{'active': prodTypeLabel == 'Hardware'}" ng-click="activeProd('Hardware')">Hardware</a>
                </div>
            </div>
            <div class="menu_secondary" ng-show="prodTypeLabel == 'Hardware'">
                <a class="dis_cell" ng-class="{'active': hardwareType == 'Screens'}" ng-click="activeHard('Screens')">Screens</a>
                <a class="dis_cell" ng-class="{'active': hardwareType == 'MediaPlayer'}" ng-click="activeHard('MediaPlayer')">Media Player</a>
            </div>
            <div class="menu_secondary" ng-show="prodTypeLabel == 'Solution'">
                <a class="dis_cell" ng-class="{'active': solutionTypes == 'EzeImpress'}" ng-click="activateTab('EzeImpress')">Eze Impress</a>
                <a class="dis_cell" ng-class="{'active': solutionTypes == 'EzeWifi'}" ng-click="activateTab('EzeWifi')">Eze
                    Wifi</a>
            </div>
        </div>
        <div class="filter_primary">
            <div class="dis_table" ng-hide="prodTypeLabel == 'Solution' && solutionTypes == 'EzeWifi'">
                <a class="dis_cell" ng-click="seemore=!seemore" style="width: 40%;">
                    <span><img
                            src="./images/icons/ico_filter01.svg" style="max-height: 16px; max-width: 16px;"/></span>
                    <span class="blue2 font_12" ng-show="seemore">Filter</span>
                    <span class="blue2 font_12" ng-show="!seemore">Hide Filter</span>
                </a>
                <!-- <a class="dis_cell">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Sort By <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            dasdsa
                        </li>
                        <li class="divider"></li>
                    </ul>
                </a> -->
            </div>
        </div>
        <div ng-hide="seemore" class="filter_secondary">
            <div>
                <div>
                    <span class="font_medium">Select one or more options below.</span>
                    <a class="btn btn-default btn-sm" ng-click="clear()">
                        <span class="fa fa-minus-square-o"></span> Clear all filter selection.
                    </a>
                </div>
                <div ng-show="prodTypeLabel == 'Solution'" style="padding:10px 0px 0px;">
                    <div class="dd-filter" ng-show="solutionTypes == 'EzeImpress'">
                        <span class="btn-group" style="margin-right: 5px;margin-bottom: 3px;">
                            <div class="inblock">
                                <input type="search" ng-model="txtSearch" placeholder="Search keywords..."
                                       ng-keypress="($event.which === 13)?searchData():0" class="form-control"
                                       ng-change="(txtSearch.length < 1)?searchData() && clear():0"/>
                            </div>
                            <div class="inblock">
                                <div class="form_addon" style="margin-left: -3px;">
                                  <a class="blue1" ng-click="searchData()">
                                  <i class="fa fa-search"></i>
                                   </a>
                                </div>
                            </div>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.screensize"
                                    popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;">Screen Size
                                  <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.location" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;margin-top: -2px;">Location
                                <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.mounting" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 6px;margin-top: -2px;">Mounting Option
                                <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.usage" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;">Usage
                                <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.orientation1" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default" style="margin-right: 5px;">Orientation
                                <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.brightness" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;">Brightness
                                <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.bezel" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;">Bezel Size
                                <span class="caret"></span>
                        </button>
                        </span>
                    </div>
                    <div class="dd-filter" ng-show="solutionTypes == 'EzeWifi'">
                        <!--EZE WIFI-->
                        <span class="btn-group">
                            <div class="inblock">
                               <input type="search" ng-model="txtSearch" placeholder="Search keywords..."
                                      ng-keypress="($event.which === 13)?searchData():0" class="form-control"
                                      ng-change="(txtSearch.length < 1)?searchData():0"/>
                            </div>
                            <div class="inblock">
                                <div class="form_addon">
                                   <a class="blue1" ng-click="searchData()">
                                        <i class="fa fa-search"></i>
                                </a>
                                </div>
                            </div>

                        </span>
                        <!-- <span class="pad_side_10">
                            <img src="../images/icons/ico_filter01.svg" style="max-height: 16px; max-width: 16px;"/>
                            <a ng-click="seemore=!seemore" class="font_bold blue2 font_12">Hide Filter</a>
                        </span> -->
                        <!-- <span class="btn-group">
                            <button uib-popover-template="dynamicPopover.templateUrl7" ng-click="wifi = !wifi" popover-trigger="outsideClick" popover-placement="bottom" type="button" class="btn font_medium btn-default">CMS
                                <span ng-class="{'glyphicon glyphicon-chevron-up': wifi,'glyphicon glyphicon-chevron-down': !wifi}"></span>
                            </button>
                        </span> -->
                        <!-- <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-expanded="false">
                                Wifi Test <span class="caret"></span>
                        </button>
                        </span> -->
                    </div>
                </div>
                <div ng-show="prodTypeLabel == 'Hardware'" style="padding:10px 0px 0px;">
                    <div class="dd-filter" ng-show="hardwareType == 'Screens'">
                        <!--SCREENS-->
                        <span class="btn-group" style="margin-right: 5px;">
                           <div class="inblock">
                               <input type="search" ng-model="txtSearch" placeholder="Search keywords..."
                                      ng-keypress="($event.which === 13)?searchData():0" class="form-control"
                                      ng-change="(txtSearch.length < 1)?searchData():0"/>
                            </div><div class="inblock">
                                <div class="form_addon">
                                   <a class="blue1" ng-click="searchData()">
                                        <i class="fa fa-search"></i>
                                </a>
                                </div>
                            </div>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.screensize"
                                    popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;">Screen Size
                                  <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.brightness" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;">Brightness
                                <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.bezel" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;">Bezel Size
                                <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.usage" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;">Usage
                                <span class="caret"></span>
                        </button>
                        </span>
                        <!-- <span>
                            <button uib-popover-template="dynamicPopover.weight" popover-trigger="outsideClick" popover-placement="bottom" type="button" class="btn font_medium btn-default">Weight
                                <span class="caret"></span>
                    </button>
                    </span>
                     <span>
                            <button uib-popover-template="dynamicPopover.displaytechno" popover-trigger="outsideClick" popover-placement="bottom" type="button" class="btn font_medium btn-default">Display Technology
                                <span class="caret"></span>
                    </button>
                    <span>
                            <button uib-popover-template="dynamicPopover.displayinterface" popover-trigger="outsideClick" popover-placement="bottom" type="button" class="btn font_medium btn-default">Display Interface
                                <span class="caret"></span>
                    </button>
                    </span>
                    <span>
                            <button uib-popover-template="dynamicPopover.orientation" popover-trigger="outsideClick" popover-placement="bottom" type="button" class="btn font_medium btn-default">Orientation
                                <span class="caret"></span>
                    </button>
                    </span> -->
                        <!-- <span class="pad_side_10">
                            <img src="../images/icons/ico_filter01.svg" style="max-height: 16px; max-width: 16px;"/>
                            <a ng-click="seemore=!seemore" class="font_bold blue2 font_12">Hide Filter</a>
                        </span> -->
                    </div>
                    <div class="dd-filter" ng-show="hardwareType == 'MediaPlayer'">
                        <!-- MEDIA PLAYER-->
                        <span class="btn-group" style="margin-right: 5px;">
                                <div class="inblock">
                                <input type="search" ng-model="txtSearch" placeholder="Search keywords..."
                                       ng-keypress="($event.which === 13)?searchData():0" class="form-control"
                                       ng-change="(txtSearch.length < 1)?searchData():0"/>
                            </div><div class="inblock">
                                <div class="form_addon">
                                   <a class="blue1" ng-click="searchData()">
                                         <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </span>
                        <span>
                        <button uib-popover-template="dynamicPopover.templateUrl8" popover-trigger="outsideClick"
                                    popover-placement="bottom" type="button" class="btn font_medium btn-default"
                                    style="margin-right: 5px;">RAM
                                  <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.templateUrlStorage"
                                    popover-trigger="outsideClick" popover-placement="bottom" type="button"
                                    class="btn font_medium btn-default" style="margin-right: 5px;">Storage
                                  <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.templateUrlGraphics"
                                    popover-trigger="outsideClick" popover-placement="bottom" type="button"
                                    class="btn font_medium btn-default" style="margin-right: 5px;">Graphics
                                  <span class="caret"></span>
                        </button>
                        </span>
                        <span>
                            <button uib-popover-template="dynamicPopover.templateUrlResolution"
                                    popover-trigger="outsideClick" popover-placement="bottom" type="button"
                                    class="btn font_medium btn-default" style="margin-right: 5px;">Max Resolution
                                <span class="caret"></span>
                        </button>
                        </span>
                        <!-- <span class="pad_side_10">
                            <img src="../images/icons/ico_filter01.svg" style="max-height: 16px; max-width: 16px;"/>
                            <a ng-click="seemore=!seemore" class="font_bold blue2 font_12">Hide Filter</a>
                    </span> -->
                    </div>
                </div>
            </div>
            <div class="flex-pad">
                <div class="padding_10 filterss" ng-repeat="item in typeselected track by $index" ng-if="prodTypeLabel == 'Solution'">
                    <button type="button" class="btn btn-clozz" ng-click="uncheck(item,$index)"><i class="ti ti-close"></i>
                    </button>
                    {{item.label || item.value}}
                </div>
                <div class="padding_10 filterss" ng-repeat="item in tagselected track by item._id" ng-if="prodTypeLabel == 'Hardware'">
                    <button type="button" class="btn btn-clozz" ng-click="uncheck(item,$index)"><i class="ti ti-close"></i>
                    </button>
                    {{item.value}}
                </div>
            </div>
        </div>
        <div class="">
            <div class="row-results">
                <div ng-if="prodTypeLabel == 'Solution' && solutionTypes == 'EzeImpress'"> Number of Results({{EzeImpress.length || 0}})
                </div>
                <div ng-if="prodTypeLabel == 'Solution' && solutionTypes == 'EzeWifi'">
                    Number of Results({{categoryWifi.length}})
                </div>
                <div ng-if="prodTypeLabel == 'Hardware' && hardwareType == 'Screens'">
                    Number of Results({{Screens.length}})
                </div>
                <div ng-if="prodTypeLabel == 'Hardware' && hardwareType == 'MediaPlayer'"> Number of Results({{MediaPlayer.length}})
                </div>
            </div>
            <div class="row">
                <div ng-show="prodTypeLabel == 'Hardware'">
                    <div class="col-xs-12">
                        <div class="row sec-pc-items" ng-show="hardwareType == 'Screens'">
                            <div class=" sec-search-filter" ng-if="Screens.length == 0">
                                <h4>NO RESULT</h4>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 " ng-repeat="item in Screens track by $index" ng-if="item.is_published == 1 && item.is_archived == 0">
                                <div class="panel panel-default" ng-click="hardwareScreens(item)">
                                    <div class="dis_table box-stick" ng-if="item.comparable == 1">
                                        <div class="dis_cell">
                                            <button ng-click="compare(item)" type="button" class="tes-btn bg-violet">
                                                <i class="fa fa-exchange"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="panel-body" ui-sref="main.productDetailsHardware({selected_id: item.p_id})">
                                        <a class="img_holder" ui-sref="main.productDetailsHardware({selected_id: item.p_id})">
                                            <img ng-src="{{item.img_default}}" class="" />
                                        </a>
                                        <a class="item_text" ui-sref="main.productDetailsHardware({selected_id: item.p_id})">
                                            <div class="item_title">
                                                <div class=" blue1 font_bold">
                                                    {{item.item_name}}
                                                </div>
                                            </div>
                                            <div class="font_14 grey2 font_medium pad20top">
                                                For as low as
                                            </div>
                                            <div class="box_price font_24 font_light">
                                                <sup class="">$</sup>{{item.sell_price | number:2}}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="hardwareType == 'MediaPlayer'">
                            <div class=" sec-search-filter" ng-if="MediaPlayer.length == 0">
                                <h4>NO RESULT</h4>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 " ng-repeat="item in MediaPlayer track by $index">
                                <div class="panel panel-default" ng-click="hardwareMediaplayer(item)">
                                    <div class="dis_table box-stick">
                                        <div class="dis_cell" ng-if="item.comparable == 1">
                                            <button ng-click="compare(item)" type="button" class="tes-btn bg-violet">
                                                <i class="fa fa-exchange"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="panel-body" ui-sref="main.productDetailsHardware({selected_id: item.p_id})">
                                        <a class="img_holder" ui-sref="main.productDetailsHardware({selected_id: item.p_id})">
                                            <img ng-src="{{item.img_default}}" err-src="images/is5.jpg" class="" />
                                        </a>
                                        <a class="item_text" ui-sref="main.productDetailsHardware({selected_id: item.p_id})">
                                            <div class="item_title">
                                                <a class=" blue1 font_bold">
                                                        {{item.item_name}}
                                                    </a>
                                            </div>
                                            <div class="font_14 grey2 font_medium pad20top">
                                                For as low as
                                            </div>
                                            <div class="box_price font_24 font_light">
                                                <sup class="">$</sup>{{item.sell_price | number:2}}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-if="prodTypeLabel == 'Solution'">
                    <div class="col-md-12">
                        <div class="row sec-pc-items" ng-if="solutionTypes == 'EzeImpress'">
                            <div class=" sec-search-filter" ng-if="products.length == 0">
                                <h4>NO RESULT</h4>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 " ng-repeat="item in EzeImpress" ng-if="item.is_published == 1 && item.is_archived == 0 && item.category_label == 'Eze Impress'">
                                <div class="panel panel-default">
                                    <div class="dis_table box-stick" ng-if="item.comparable == 1">
                                        <div class="dis_cell">
                                            <button ng-click="compare(item)" type="button" class="tes-btn bg-violet">
                                                <i class="fa fa-exchange"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="panel-body" ui-sref="main.productDetailsSolution({selected_id: item.pb_id})" ng-click="solutionsEzeImpress(item)">
                                        <a class="img_holder" ui-sref="main.productDetailsSolution({selected_id: item.pb_id})">
                                            <img ng-src="{{myImage.image_path}}" ng-repeat="myImage in item.product_images | limitTo: 1" imageonload err-src="images/is5.jpg" />
                                            <span class="loading background-spinner">
                                            <img src="./images/icons/default.gif"></span>
                                        </a>
                                        <a class="item_text" ui-sref="main.productDetailsSolution({selected_id: item.pb_id})">
                                            <div class=" item_title">
                                                <div class=" blue1 font_bold">
                                                    {{item.bundle_name}}
                                                </div>
                                            </div>
                                            <div class="item_content font_14 grey1 font_light">
                                                <span data-ng-bind-html="item.bundle_description"></span>
                                            </div>
                                            <div class="font_14 grey2 font_medium pad20top">
                                                For as low as
                                            </div>
                                            <div class="box_price font_24 font_light">
                                                <sup class="">$</sup>{{item.weekly | number : 2}}<span class="font_light font_14">/wk</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row sec-pc-items" ng-if="solutionTypes == 'EzeWifi'">
                            <div class=" sec-search-filter" ng-if="products.length == 0">
                                <h4>NO RESULT</h4>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 " ng-repeat="item in categoryWifi" ng-if="item.is_published == 1 && item.is_archived == 0">
                                <div class="panel panel-default">
                                    <div class="dis_table box-stick" ng-if="item.comparable == 1">
                                        <div class="dis_cell">
                                            <button ng-click="compare(item)" type="button" class="tes-btn bg-violet">
                                                <i class="fa fa-exchange"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="panel-body" ng-click="solutionsEzeWifi(item)" ui-sref="main.productDetailsSolution({selected_id: item.pb_id})">
                                        <a class="img_holder" ui-sref="main.productDetailsSolution({selected_id: item.pb_id})">
                                            <img ng-src="{{myImage.image_path}}" ng-repeat="myImage in item.product_images | limitTo: 1" class="" imageonload err-src="images/is5.jpg" />
                                            <span class="loading" style="text-align: center;margin-left: 40%;margin-right: 40%;">
                                            <img src="./images/icons/default.gif"
                                                 style="width: 20% !important;"/></span>
                                        </a>
                                        <a class="item_text" ui-sref="main.productDetailsSolution({selected_id: item.pb_id})">
                                            <div class="item_title">
                                                <div class=" blue1 font_bold">
                                                    {{item.bundle_name}}
                                                </div>
                                            </div>
                                            <div class="item_content font_14 grey1 font_light">
                                                <span data-ng-bind-html="item.bundle_description"></span>
                                            </div>
                                            <!--  <div class="box_price font_light font_14">
                                                View Details
                                            </div> -->
                                            <div class="font_14 grey2 font_medium pad20top">
                                                For as low as
                                            </div>
                                            <div class="box_price font_24 font_light">
                                                <sup class="">$</sup>{{item.weekly | number : 2}}<span class="font_light font_14">/wk</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Solutions-->
</div>
</div>
<style>
#active-catalogue {
    background: #424242;
}
</style>
<script async type="text/ng-template" id="location.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="type in location | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type)" ng-model="type.checked" fa-track-event="['Category Filter','View',type.label,type.id]"> {{type.label}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="configuration.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="type in config | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type)" ng-model="type.checked" fa-track-event="['Category Filter','View',type.label,type.id]"> {{type.label}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="screens.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="attribute in ScreenSize | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(attribute)" ng-model="attribute.checked" fa-track-event="['Category Filter','View',attribute.value,attribute.att_id]"> {{attribute.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="brightness.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="attribute in Brightness | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(attribute)" ng-model="attribute.checked" fa-track-event="['Category Filter','View',attribute.value,attribute.att_id]"> {{attribute.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="bezel.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="attribute in Bezel | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(attribute)" ng-model="attribute.checked" fa-track-event="['Category Filter','View',attribute.value,attribute.att_id]"> {{attribute.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="usage.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="attribute in Usage | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(attribute)" ng-model="attribute.checked" fa-track-event="['Category Filter','View',attribute.value,attribute.att_id]"> {{attribute.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="wifi.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="eze in categWifi | duplicates: 'item_name' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(eze)" ng-model="eze.checked" fa-track-event="['Category Filter','View',eze.item_name,eze.p_id]"> {{eze.item_name}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="ram.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Searches..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="media in Ram | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(media)" ng-model="media.checked" fa-track-event="['Category Filter','View',media.value,media.att_id]">{{media.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="storage.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="media in Storage | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(media)" ng-model="media.checked" fa-track-event="['Category Filter','View',media.value,media.att_id]">{{media.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="graphics.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="media in Graphics | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(media)" ng-model="media.checked" fa-track-event="['Category Filter','View',media.value,media.att_id]">{{media.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="resolutions.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="media in Resolution | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(media)" ng-model="media.checked" fa-track-event="['Category Filter','View',media.value,media.att_id]">{{media.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="displaytechno.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="display in Displaytechno | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(display)" ng-model="display.checked" fa-track-event="['Category Filter','View',display.value,display.att_id]">{{display.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="weight.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="display in weight | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(display)" ng-model="display.checked" fa-track-event="['Category Filter','View',display.value,display.att_id]">{{display.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="dimensions.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="display in dimensions | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(display)" ng-model="display.checked" fa-track-event="['Category Filter','View',display.value,display.att_id]">{{display.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="orientation.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="display in orientation  | filter:searchEzeFamily track by display.value">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(display)" ng-model="display.checked" fa-track-event="['Category Filter','View',display.value,display.att_id]">{{display.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="ori.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="type in ori | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type)" ng-model="type.checked" fa-track-event="['Category Filter','View',type.label,type.id]"> {{type.label}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="displayinterface.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="display in displayinterface | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(display)" ng-model="display.checked" fa-track-event="['Category Filter','View',display.value,display.att_id]">{{display.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="vesa.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="display in vesa | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(display)" ng-model="display.checked" fa-track-event="['Category Filter','View',display.value,display.att_id]">{{display.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="screentype.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="display in screentype | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(display)" ng-model="display.checked" fa-track-event="['Category Filter','View',display.value,display.att_id]">{{display.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="resolution.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="display in resolution | duplicates: 'value' | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(display)" ng-model="display.checked" fa-track-event="['Category Filter','View',display.value,display.att_id]">{{display.value}}
            </label>
        </div>
    </div>
</script>
<script>
$('input').bind('keypress', function(e) {
    if (e.which === 13) {
        document.activeElement.blur();
    }
});

$('input').keyup(function(event) {
    if (event.which === 13) {
        $(this).blur();
    }
});
</script>
<style type="text/css">
.disabled {
    cursor: not-allowed;
}


/**.popover {
            margin-left: 55px !important;
        }**/


/*.popover.bottom > .arrow {
    left: 30% !important;
}*/

.filterss {
    display: inline-block;
    padding: 3px 5px !important;
    border: solid thin #ccc !important;
    margin: 5px;
    border-radius: 3px;
    background: #fff;
}

.btn-clozz {
    padding: 3px 4px 1px;
    border-radius: 50%;
    font-size: 10px;
    border: solid thin #9a9a9a;
    color: #000;
}

.btn-clozz:hover {
    background-color: #333333;
    color: #fff;
}


/*.popover.bottom {
    margin-top: 10px;
     left: -21px !important;
}*/

.checkbox label,
.radio label {
    width: 150px !important;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .item_content {
        height: 160px !important;
        margin-top: 15px;
    }
    .item_title {
        height: 70px !important;
    }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
    .item_content {
        height: 100px !important;
    }
}
</style>
