
<div id="product-catalogue">
    <div id="article-page" class="wrapper">

        <div class="page_title">
            <div class="dis_table ">
                <div class="dis_cell">
                    <div class="title_large">
                        Product Catalogue
                    </div>
                </div>
                <div class="dis_cell res_side_align">
                    <div class="inblock">
                        <input type="search" placeholder="Search entire produc catalogue..." class="form-control"/>
                    </div><div class="inblock"><!--Do not break to fight the space.-->
                    <div class="form_addon">
                        <a class="blue1">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="page_menu">
            <div class="menu_primary ">
                <div class="dis_table_auto">
                    <a class="dis_cell" ng-class="{'active': prodTypeLabel == 'Solution'}" ng-click="activeProd('Solution')">Solutions</a>

                    <a class="dis_cell" ng-class="{'active': prodTypeLabel == 'Hardware'}" ng-click="activeProd('Hardware')">Hardware</a>
                </div>


            </div>
            <div class="menu_secondary" ng-show="prodTypeLabel == 'Hardware'">
                <a class="dis_cell" ng-class="{'active': hardwareType == 'Screens'}"
                   ng-click="activeHard('Screens')">Screens</a>

                <a class="dis_cell" ng-class="{'active': hardwareType == 'MediaPlayer'}"
                   ng-click="activeHard('MediaPlayer')">Media Player</a>
            </div>
            <div class="menu_secondary" ng-show="prodTypeLabel == 'Solution'">
                <a class="dis_cell" ng-class="{'active': solutionTypes == 'EzeImpress'}" ng-click="activateTab('EzeImpress')">Eze Impress</a>

                <a class="dis_cell" ng-class="{'active': solutionTypes == 'EzeWifi'}" ng-click="activateTab('EzeWifi')">Eze Wifi</a>
            </div>

            <div class="filter_primary" >
                <div class="dis_table_auto">
                    <a class="dis_cell" ng-click="seemore=!seemore" >
                        <img src="../images/icons/ico_filter01.svg" style="max-height: 16px;"/>
                        <span class="blue2 font_12">
                        Filter
                    </span>
                    </a>

                    <a class="dis_cell">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Sort By <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    dasdsa
                                </li>
                                <li class="divider"></li>
                            </ul>
                        </div>

                    </a>
                </div>

            </div>

            <div ng-hide="seemore" class="filter_secondary" >
                <div>
                    <span class="font_medium">Select one or more options below.</span>
                    <a class="btn btn-default btn-sm">
                        <span class="fa fa-minus-square-o"></span> Clear all filter selection.
                    </a>
                </div>
                <div ng-show="prodTypeLabel == 'Solution'">
                    <div ng-show="solutionTypes == 'EzeImpress'">

                    <span class="btn-group">
                    <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Location <span class="caret"></span>
                    </button>
                    </span>
                        <span class="btn-group">
                    <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Mounting Options <span class="caret"></span>
                    </button>
                    </span>
                    </div>

                    <div ng-show="solutionTypes == 'EzeWifi'">
                        <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Wifi Test <span class="caret"></span>
                            </button>
                        </span>
                        <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Wifi Test <span class="caret"></span>
                            </button>
                        </span>

                    </div>
                </div>

                <div ng-show="prodTypeLabel == 'Hardware'">
                    <div ng-show="hardwareType == 'Screens'">
                        <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Screen Size <span class="caret"></span>
                            </button>
                        </span>
                                <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Brightness <span class="caret"></span>
                            </button>
                        </span>
                                <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Bezel Size <span class="caret"></span>
                            </button>
                        </span>
                                <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Usage <span class="caret"></span>
                            </button>
                        </span>
                    </div>
                    <div ng-show="hardwareType == 'MediaPlayer'">
                        <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Processor <span class="caret"></span>
                            </button>
                        </span>
                        <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                RAM <span class="caret"></span>
                            </button>
                        </span>
                        <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Storage <span class="caret"></span>
                            </button>
                        </span>
                        <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Graphics <span class="caret"></span>
                            </button>
                        </span>
                        <span class="btn-group">
                            <button type="button" class="font_medium btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Maximum Resolution <span class="caret"></span>
                            </button>
                        </span>
                    </div>
                </div>



            </div>
        </div>
        <div ng-show="prodTypeLabel == 'Hardware'">
            <div class="row sec-pc-items" >
                <div ng-show="hardwareType == 'Screens'">
                    <div class="col-lg-3" ui-sref="main.productDetailsHardware({selected_id: item.p_id})"
                         ng-repeat="item in Screens" ng-if="item.is_published == 1 && item.is_archived == 0">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a class="img_holder">
                                    <img ng-src="{{item.img_default}}" class=""/>
                                </a>
                                <div class="item_text">
                                    <div class="item_title">
                                        <a class=" blue1 font_bold">
                                            {{item.item_name}}
                                        </a>
                                    </div>
                                    <div class="font_14 grey2 font_medium pad20top">
                                        For as low as
                                    </div>
                                    <div class="box_price font_24 font_light">
                                        <sup class="">$</sup>{{item.sell_price | number:2}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="hardwareType == 'MediaPlayer'">
                    <div class="col-lg-3" ui-sref="main.productDetailsHardware({selected_id: item.p_id})"
                         ng-repeat="item in MediaPlayer" ng-if="item.is_published == 1 && item.is_archived == 0">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a class="img_holder">
                                    <img ng-src="{{item.img_default}}" err-src="images/is5.jpg" class=""/>
                                </a>
                                <div class="item_text">
                                    <div class="item_title">
                                        <a class=" blue1 font_bold">
                                            {{item.item_name}}
                                        </a>
                                    </div>
                                    <div class="font_14 grey2 font_medium pad20top">
                                        For as low as
                                    </div>
                                    <div class="box_price font_24 font_light">
                                        <sup class="">$</sup>{{item.sell_price | number:2}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--Hardware-->
        <div ng-show="prodTypeLabel == 'Solution'">
            <div class="row sec-pc-items" ng-show="solutionTypes == 'EzeImpress'">
                <div class="col-lg-3" ui-sref="main.productDetailsSolution({selected_id: item.pb_id})" ng-repeat="item in products" ng-if="item.is_published == 1 && item.is_archived == 0 && item.category_label == 'Eze Impress'">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="img_holder">
                                <img ng-src="{{myImage.image_path}}" ng-repeat="myImage in item.product_images | limitTo: 1" imageonload err-src="images/is5.jpg" />
                                <span class="loading background-spinner"> <img src="./images/icons/default.gif"></span>
                            </div>
                            <div class="item_text">
                                <div class="item_title">
                                    <a class=" blue1 font_bold">
                                        {{item.bundle_name}}
                                    </a>
                                </div>
                                <div class="item_content font_14 grey1 font_light">
                                    <span data-ng-bind-html="item.bundle_description"></span>
                                </div>
                                <!--<div class="box_price font_light font_14">
                                    View Details
                                </div>-->
                                <div class="font_14 grey2 font_medium pad20top">
                                    For as low as
                                </div>
                                <div class="box_price font_24 font_light">
                                    <sup class="">$</sup>{{item.weekly | number : 2}}<span class="font_light font_14">/wk</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sec-pc-items" ng-show="solutionTypes == 'EzeWifi'">
                <div class="col-lg-3" ui-sref="main.productDetailsSolution({selected_id: item.pb_id})" ng-repeat="item in products" ng-if="item.is_published == 1 && item.is_archived == 0 && item.category_label == 'Eze Wi-Fi'">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="img_holder">
                                <img ng-src="{{myImage.image_path}}" ng-repeat="myImage in item.product_images | limitTo: 1" class="" imageonload err-src="images/is5.jpg" />
                                <span class="loading" style="text-align: center;margin-left: 40%;margin-right: 40%;"> <img src="./images/icons/default.gif" style="width: 20% !important;" /></span>
                            </div>
                            <div class="item_text">
                                <div class="item_title">
                                    <a class=" blue1 font_bold">
                                        {{item.bundle_name}}
                                    </a>
                                </div>
                                <div class="item_content font_14 grey1 font_light">
                                    <span data-ng-bind-html="item.bundle_description"></span>
                                </div>
                                <!--<div class="box_price font_light font_14">
                                    View Details
                                </div>-->
                                <!--  <div class="font_14 grey2 font_medium pad20top">
                                        For as low as
                                    </div> -->
                                <div class="box_price font_24 font_light">
                                    <sup class="">$</sup>{{item.weekly | number : 2}}<span class="font_light font_14">/wk</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--Solutions-->





    </div>
</div>


<style>
    #active-catalogue {
        background: #424242;
    }
</style>