<div class="modal-body" style="padding:0;">

    <div class="tes-modal-header border_bottom">
        <div class="dis_table_auto">
            <div class="dis_cell">
                <a class="btn btn-midnightblue">X</a>
            </div>
            <div class="dis_cell">
                <div class="pad_side_10 font_18 blue3 font_medium">
                    Product Comparison
                </div>
            </div>
        </div>
    </div>

    <div>
        <div id="compare_products">
            <table cellspacing="0" cellpadding="0">
                <tr  class="compare_head">
                    <td colspan="2"></td>
                    <td>
                        <div class="remove">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="img_holder">
                            <img src="http://shop.udoo.org/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/u/d/udoo_vk-7t_1.jpg"/>
                        </div>
                        <div class="font_medium grey2">
                            Wifi App Premium
                        </div>
                    </td>
                    <td>
                        <div class="remove">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="img_holder">
                            <img src="http://shop.udoo.org/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/u/d/udoo_vk-7t_1.jpg"/>
                        </div>
                        <div class="font_medium grey2">
                            Wifi App Premium
                        </div>
                    </td>
                    <td>
                        <div class="remove">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="img_holder">
                            <img src="http://shop.udoo.org/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/u/d/udoo_vk-7t_1.jpg"/>
                        </div>
                        <div class="font_medium grey2">
                            Wifi App Premium
                        </div>
                    </td>
                    <td>
                        <div class="remove">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="img_holder">
                            <img src="http://shop.udoo.org/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/u/d/udoo_vk-7t_1.jpg"/>
                        </div>
                        <div class="font_medium grey2">
                            Wifi App Premium
                        </div>
                    </td>
                </tr>
                <tr class="compare_body">
                    <td>
                        <div class="row_label">
                            Software
                        </div>
                    </td>
                    <td>
                        CMS
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr class="compare_body">
                    <td class="row_label">

                    </td>
                    <td>
                        Application
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        </div>
    </div>

</div>