<div id="experience" class="wrapper col-md-12" ng-init="loader = false;">
    <div class="dis_table xd-success-stories">
        <div class="browse_industry">
            <div class="dis_table_auto">
                <div class="dis_cell btn-group">
                    <div class="input-group input-icon pad_right10 font_medium">
                        <button type="button" class="btn btn-default-alt" ng-class="{'active': (expFilter == 'all')}" ng-click="filterArticle('all')" fa-track-event="['Experience Filter','View','all']">All</button>
                        <button type="button" class="btn btn-default-alt" ng-class="{'active': (expFilter == 'Portfolio')}" ng-click="filterArticle('Portfolio')" fa-track-event="['Experience Filter','View','Portfolio']">Portfolio</button>
                        <button type="button" class="btn btn-default-alt" ng-class="{'active': (expFilter == 'Article')}" ng-click="filterArticle('Article')" fa-track-event="['Experience Filter','View','Article']">Articles</button>
                    </div>
                </div>
                <div class="dis_cell">
                    <div id="filter_industry">
                        <button uib-popover-template="dynamicPopover.templateUrl" popover-trigger="outsideClick" popover-placement="bottom" type="button" popover-placement="right" class="btn font_medium btn-primary">
                            Filter by Industry
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row sec-pc-items">
        <div class="col-xs-12 col-sm-6 col-md-3 " ng-repeat="article in ( articlesList | filter:isOnSelectedTag()) track by article.article_id" ng-repeat-end-watch="repeatEnd" ng-if="article.tags.length > 0 && article.is_active == 1">
            <div class="panel panel-default">
                <div class="panel-body" ng-click="trackExperienceAll(article)">
                    <div class="" ng-if="!article.thumbnail_media">
                        <a class="img_holder" ui-sref="main.articlePage({selected_id:article.article_id})">
                            <img ng-src="{{article.image}}" imageonload err-src="http://placehold.it/750x450" style="height: 250px;" />
                        </a>
                    </div>
                    <div class="" ng-if="article.article_thumbnail.media_mimetype == 'image/jpeg' || article.article_thumbnail.media_mimetype == 'image/png'">
                        <a class="img_holder" ui-sref="main.articlePage({selected_id:article.article_id})">
                            <img ng-src="{{article.article_thumbnail.media_path}}" imageonload ng-if="article.article_thumbnail" err-src="http://placehold.it/750x450" style="height: 250px;" />
                        </a>
                    </div>
                    <div class="" ng-if="article.article_thumbnail.media_mimetype == 'video/mp4'">
                        <a class="videogular-container" ui-sref="main.articlePage({selected_id:article.article_id})">
                            <videogular vg-theme="article.article_thumbnail.url" style="height: 250px;">
                                <vg-media vg-src="article.article_thumbnail.media_path"></vg-media>
                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>
                                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                                    <vg-volume>
                                        <vg-mute-button></vg-mute-button>
                                        <vg-volume-bar></vg-volume-bar>
                                    </vg-volume>
                                    <vg-fullscreen-button></vg-fullscreen-button>
                                </vg-controls>
                                <vg-overlay-play></vg-overlay-play>
                                <vg-buffering></vg-buffering>
                            </videogular>
                        </a>
                    </div>
                    <div class="item_text">
                        <div class=" item_title">
                            <a class="blue1 font_bold ng-binding" ui-sref="main.articlePage({selected_id:article.article_id})" style="font-size: 13px;">
                                            {{article.title}}
                                        </a>
                        </div>
                        <div class="item_content font_14 grey1 font_light">
                            <p ng-bind-html="article.article"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 loadmore">
        <a ng-if="showLoadMore" ng-show="!loadmore" ng-click="addMoreItems()">Load More</a>
        <div class="loader" ng-show="loadmore">
        </div>
    </div>
</div>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchIndustry" />
        </div>
        <button ng-show="tagselected.length > 0" class="btn btn-default" style="padding: 4px 10px;border-radius: 3px;margin-top: 10px;" ng-click="clearAll()">Clear All</button>
        <div class="checkbox" ng-repeat="tag in tagscopy | filter:searchIndustry ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedTag(tag)" ng-model="tag.checked" fa-track-event="event"> {{tag.tags}}
            </label>
        </div>
    </div>
</script>
<style type="text/css">
#active-experience {
    background: #424242;
}

.grid {
    /*border: 1px solid #cccccc;*/
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    /*margin: 15px;*/
}

.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded {
    visibility: visible;
    opacity: 1;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0;
    /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}

.deckgrid .column-1-1 {
    width: 100%;
}

.loadmore {
    text-align: center;
    margin-bottom: 65px;
    margin-top: 50px;
}

.loadmore a {
    border: 2px solid #337ab7;
    padding: 38px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
}

.loader,
.loader:after {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
}

.loader {
    border-color: #c9cbcc;
}

.loader:after {
    content: '';
    border-color: #337ab7 transparent transparent transparent;
    -webkit-animation: rotateLoader 1s infinite ease;
    animation: rotateLoader 1s infinite ease;
}

@-webkit-keyframes rotateLoader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateLoader {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .item_title {
        height: 55px !important;
    }
    .item_content {
        height: 105px !important;
    }
}
</style>
