<header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="logo-area">
        <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
          <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
              <i class="fa fa-bars"></i>
            </span>
        </a>
        </span>
        <a class="navbar-brand" ui-sref="main.experience">Tessa</a>
        <a ng-click="clicks()" id="srch-pop" class="tes-icon" >
            <img src="../images/icons/consolidated_search.png"/>
        </a>
        <div class=" toolbar-icon-bg" id="toolbar-search">
            <div class="input-group prim_search">
                <div class="dis_cell">
                    <div angucomplete-alt id="ex4" placeholder="Search..." pause="100" selected-object="dataSelected" match-class="highlight" local-data="allproducts" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-small" override-suggestions="true" clear-selected="true" text-no-results="{{searchinput}}" initial-value="searchinput" input-changed="inputProductChanged">
                    </div>
                </div>
                <div class="dis_cell cell_xs font_18">
                    <button type="button" class=" btn btn-primary" ng-click="keysearch()">
                        <i class="fa fa-search"></i></a>
                    </button>

                </div>
                <div class="dis_cell_hide cell_xs font_18">
                    <button type="button" class="exit cancel full_width btn btn-primary-alt" >
                        <i class="fa fa-close"></i></a>
                    </button>
                </div>

                <!-- <div class="dis_cell_hide cell_xs font_18">
                <button type="button" class="btn btn-primary">
                        <i class="fa fa-times"></i></a>
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <ul id="nav-right" class="nav navbar-nav toolbar pull-right">

        <div class="btn-group" uib-dropdown>
            <a ng-click="cartModal()" type="button" class="tes-icon" uib-dropdown-toggle ng-disabled="disabled">
                <img src="images/icons/consolidated_cart.png" />
                <span class="badge badge-danger" ng-show="cartItems.length == 0">{{cartItems.length}}</span>
                <span class="badge badge-success" ng-show="cartItems.length > 0">{{cartItems.length}}</span>
            </a>
        </div>
        <div class="btn-group" uib-dropdown>
            <a id="single-button" type="button" class="tes-icon" uib-dropdown-toggle ng-disabled="disabled">
                <img src="images/icons/dp.png" />
            </a>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li><a href=""><i class="ti ti-user"></i> <span>Profile</span><span
                        class="badge badge-info pull-right">80%</span></a></li>
                <li><a href=""><i class="ti ti-panel"></i> <span>Account</span></a></li>
                <li><a href=""><i class="ti ti-settings"></i> <span>Settings</span></a></li>
                <li class="divider"></li>
                <li><a ng-click="signout()" fa-track-event="['Logout','click','Logout','logout']"><i
                        class="ti ti-shift-right"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>
    </ul>
</header>
