<div class="login-page">
    <span us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-login"></span>
    <div class="bg-tessa-logo">
        <img src="./images/icons/tessa.outlined.svg">
    </div>
    <div class="row login-ctn">
        <div class="login-content col-lg-3 col-md-4 col-xs-12 col-sm-6">
            <div class="login-head">
                <div class="center_align">
                    <div class="img_holder">
                        <img src="./images/icons/svg-tessa-logo.svg">
                    </div>
                </div>
            </div>
            <br>
            <div class="login-body">
                <form class="form-horizontal" ng-submit="login()" id="validate-form" novalidate="true">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="ti ti-user"></i></span>
                        <input type="text" ng-model="user.username" class="form-control" placeholder="Username" data-parsley-minlength="6" placeholder="At least 6 characters" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                                            <i class="ti ti-key"></i>
                                        </span>
                        <input type="password" ng-model="user.password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                    </div>
                    <div class="input-group full_width">
                        <button class="full_width tes-btn bg-sky">
                            Login
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <a ui-sref="forget-password" class="pull-left">Forgot password?</a>
                        </div>
                        <div class="col-xs-6 right_align">
                            <label style="color: #656565;">
                                <input type="checkbox" style="visibility:inherit!important;"></input>
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div style="margin: 5px 0;" class="center_align font_14 grey3">
                        <p>or</p>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <button type="button" class="btn btn-default btn-lg" uib-tooltip="Login with Google" style="margin-bottom: 5px;width: 50px;" ng-click="authenticate('google')"><i class="fa fa-google-plus center" style="color:#dd4b39"></i></button>
                            <button type="button" class="btn btn-default btn-lg" uib-tooltip="Login with Facebook" style="margin-bottom: 5px;width: 50px;" ng-click="authenticate('facebook')"><i class="fa fa-facebook center" style="color:#3b5998"></i></button>
                            <button type="button" class="btn btn-default btn-lg" uib-tooltip="Login with Twitter" style="margin-bottom: 5px;width: 50px;" ng-click="authenticate('twitter')"><i class="fa fa-twitter center" style="color:#55acee"></i></button>
                            <button type="button" class="btn btn-default btn-lg" uib-tooltip="Login with LinkedIn" style="margin-bottom: 5px;width: 50px;" ng-click="authenticate('linkedin')"><i class="fa fa-linkedin center" style="color:#007bb6"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" ng-show="displayscreen">
        <div id="" class='loaderzzzzzz'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'>Loading...</div>
        </div>
    </div>
</div>
<style type="text/css">
.login-page {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(211, 237, 255, 1) 57%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(211, 237, 255, 1) 57%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(211, 237, 255, 1) 57%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3edff', GradientType=0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.loaderzzzzzz {
    height: 20px;
    width: 250px;
    margin: auto;
}

.loader--dot {
    animation-name: loaderzzzzzz;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    position: absolute;
}

.loader--dot:first-child {
    background-color: rgba(48, 142, 204, .3);
    opacity: 0.4;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: rgba(48, 142, 204, .3);
    opacity: 0.5;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: rgba(48, 142, 204, .3);
    opacity: 0.6;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: rgba(48, 142, 204, .3);
    opacity: 0.7;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: rgba(48, 142, 204, .3);
    opacity: 0.8;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: rgba(48, 142, 204, .3);
    animation-delay: 0s;
}

.loader--text {
    margin-top: 40px;
    left: 50%;
    transform: translate(35%, 0);
    color: #929292;
    letter-spacing: 2px;
    font-size: 12px;
}

@keyframes loaderzzzzzz {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
</style>
