<style>
.login-page {
    width: 100%;
    overflow: hidden;
}
</style>
<div class="login-page">
    <span us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-login"></span>
    <div class="bg-tessa-logo">
        <img src="./images/icons/tessa.outlined.svg">
    </div>
    <div class="row login-ctn">
        <div class="login-content col-lg-3 col-md-4 col-xs-12 col-sm-6">
            <div class="login-head">
                <div class="center_align">
                    <div class="img_holder">
                        <img src="./images/icons/svg-tessa-logo.svg">
                    </div>
                </div>
            </div>
            <br>
            <div class="login-body">
                <form class="form-horizontal" ng-submit="login()" id="validate-form" novalidate="true">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="ti ti-user"></i></span>
                        <input type="text" ng-model="user.username" class="form-control" placeholder="Username" data-parsley-minlength="6" placeholder="At least 6 characters" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                                            <i class="ti ti-key"></i>
                                        </span>
                        <input type="password" ng-model="user.password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                    </div>
                    <div class="input-group full_width">
                        <button class="full_width tes-btn bg-sky">
                            Login
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <a ui-sref="forget-password" class="pull-left">Forgot password?</a>
                        </div>
                        <div class="col-xs-6 right_align">
                            <label style="color: #656565;">
                                <input type="checkbox" style="visibility:inherit!important;"></input>
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div style="margin: 5px 0;" class="center_align font_14 grey3">
                        <p>or</p>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <button type="button" class="btn btn-default btn-lg" uib-tooltip="Login with Google" style="margin-bottom: 5px;width: 50px;" ng-click="authenticate('google')"><i class="fa fa-google-plus center" style="color:#dd4b39"></i></button>
                            <button type="button" class="btn btn-default btn-lg" uib-tooltip="Login with Facebook" style="margin-bottom: 5px;width: 50px;" ng-click="authenticate('facebook')"><i class="fa fa-facebook center" style="color:#3b5998"></i></button>
                            <button type="button" class="btn btn-default btn-lg" uib-tooltip="Login with Twitter" style="margin-bottom: 5px;width: 50px;" ng-click="authenticate('twitter')"><i class="fa fa-twitter center" style="color:#55acee"></i></button>
                            <button type="button" class="btn btn-default btn-lg" uib-tooltip="Login with LinkedIn" style="margin-bottom: 5px;width: 50px;" ng-click="authenticate('linkedin')"><i class="fa fa-linkedin center" style="color:#007bb6"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="loadingzzz" ng-show="displayscreen">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<style type="text/css">
.loadingzzz {
    position: fixed;
    z-index: 999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loadingzzz:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b8f1ff;
}

.loadingzzz ul {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    list-style: none;
}

.loadingzzz li {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background: #0c6286;
    border-radius: 10px;
    opacity: 0;
}

.loadingzzz li:nth-child(1) {
    opacity: 1;
    width: 10px;
    height: 10px;
}

.loadingzzz li:nth-child(2) {
    animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -o-animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -ms-animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -moz-animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -webkit-animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
}

@keyframes circleround2 {
    25%,
    75% {
        top: -100%;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-o-keyframes circleround2 {
    25%,
    75% {
        top: -100%;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-moz-keyframes circleround2 {
    25%,
    75% {
        top: -100%;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes circleround2 {
    25%,
    75% {
        top: -100%;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

.loadingzzz li:nth-child(3) {
    animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -o-animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -ms-animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -moz-animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -webkit-animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

@keyframes circleround3 {
    25%,
    75% {
        top: -70%;
        left: 70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-o-keyframes circleround3 {
    25%,
    75% {
        top: -70%;
        left: 70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-moz-keyframes circleround3 {
    25%,
    75% {
        top: -70%;
        left: 70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes circleround3 {
    25%,
    75% {
        top: -70%;
        left: 70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

.loadingzzz li:nth-child(4) {
    animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -o-animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -ms-animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -moz-animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -webkit-animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

@keyframes circleround4 {
    25%,
    75% {
        top: 0;
        left: 100%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-o-keyframes circleround4 {
    25%,
    75% {
        top: 0;
        left: 100%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-moz-keyframes circleround4 {
    25%,
    75% {
        top: 0;
        left: 100%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes circleround4 {
    25%,
    75% {
        top: 0;
        left: 100%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

.loadingzzz li:nth-child(5) {
    animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -o-animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -ms-animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -moz-animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -webkit-animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

@keyframes circleround5 {
    25%,
    75% {
        top: 70%;
        left: 70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-o-keyframes circleround5 {
    25%,
    75% {
        top: 70%;
        left: 70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-moz-keyframes circleround5 {
    25%,
    75% {
        top: 70%;
        left: 70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes circleround5 {
    25%,
    75% {
        top: 70%;
        left: 70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

.loadingzzz li:nth-child(6) {
    animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -o-animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -ms-animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -moz-animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -webkit-animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

@keyframes circleround6 {
    25%,
    75% {
        top: 100%;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-o-keyframes circleround6 {
    25%,
    75% {
        top: 100%;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-moz-keyframes circleround6 {
    25%,
    75% {
        top: 100%;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes circleround6 {
    25%,
    75% {
        top: 100%;
        left: 0;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

.loadingzzz li:nth-child(7) {
    animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -o-animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -ms-animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -moz-animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -webkit-animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

@keyframes circleround7 {
    25%,
    75% {
        top: 70%;
        left: -70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-o-keyframes circleround7 {
    25%,
    75% {
        top: 70%;
        left: -70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-moz-keyframes circleround7 {
    25%,
    75% {
        top: 70%;
        left: -70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes circleround7 {
    25%,
    75% {
        top: 70%;
        left: -70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

.loadingzzz li:nth-child(8) {
    animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -o-animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -ms-animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -moz-animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -webkit-animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

@keyframes circleround8 {
    25%,
    75% {
        top: 0;
        left: -100%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-o-keyframes circleround8 {
    25%,
    75% {
        top: 0;
        left: -100%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-moz-keyframes circleround8 {
    25%,
    75% {
        top: 0;
        left: -100%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes circleround8 {
    25%,
    75% {
        top: 0;
        left: -100%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

.loadingzzz li:nth-child(9) {
    animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -o-animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -ms-animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -moz-animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    -webkit-animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    -ms-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

@keyframes circleround9 {
    25%,
    75% {
        top: -70%;
        left: -70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-o-keyframes circleround9 {
    25%,
    75% {
        top: -70%;
        left: -70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-moz-keyframes circleround9 {
    25%,
    75% {
        top: -70%;
        left: -70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes circleround9 {
    25%,
    75% {
        top: -70%;
        left: -70%;
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}
</style>
