<app-header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner"></app-header>
<div id="wrapper">
    <span us-spinner="{radius:20, width:8, length: 16}" spinner-key="spinner-1"></span>
    <div id="layout-static">
        <div id="myBar" class="static-sidebar-wrapper sidebar-midnightblue" ng-controller="sidebarCtrl">
            <ng-include src="'./views/sidebar.html'"></ng-include>
        </div>
        <div class="static-content-wrapper">
            <div class="static-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
