<div class="modal-header">
    <button class="close" aria-hidden="true" ng-click="cancel()">×</button>
</div>
<div class="modal-body">
    <div id="mdl-hardware">
        <div class="img_holder">
            <img src="{{selected.img_default}}" err-src="images/is4.jpg" class="bg-icon">
        </div>
        <div class="pad20top mdl-hardware-content">
            <div class="font_24 blue1 font_medium">
                {{selected.item_name}}
            </div>
            <div class="article-primary pad20top">
                <p ng-bind-html="selected.item_description"></p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
