<div id="pd-sol-wrap" class="wrapper" ng-show="productDetails">
    <div class="contentHdr">
        <div class="breadcrumb">
                <img style="margin-top: -9px;" src="../images/icons/ico_store00.svg"/>
                <a class="current " ng-click="main.productCatalogue">
                    Product Catalogue >
                </a>

                <a class="current " ng-click="goBack()">
                    Hardware >
                </a>
                <a class="current">
                    {{productDetails.item_name}}
                </a>
            <!-- <a class="current">
            > {{details.bundle_name}}
            </a> -->
        </div>
    </div>
    <div class="parent-sd">
        <div class="sec-sd-psd">
            <!-- Main Article -->
            <div class="main_article">
                <div class=" row ">
                    <div class="col-lg-6">
                        <div class="carousel_contain">
                            <!--  <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                 <div uib-slide ng-repeat="slide in slides track by $index" index="slide.index">
                                     <img ng-src="{{slide.image}}" style="margin:auto;">
                                     <div class="carousel-caption">
                                         <h4>Slide {{slide.id}}</h4>
                                         <p>{{slide.text}}</p>
                                     </div>
                                 </div>
                             </div> -->
                            <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                                <div class="carousel-outer">
                                    <div class="carousel-inner">
                                        <div ng-repeat="slide in slides" class="item" ng-class="{active:!$index}" data-thumb="{{$index}}">
                                            <img class="image-responsive" ng-src="{{slide.image}}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--carousel here-->
                    </div>
                    <div class="col-lg-6">
                        <div class="dis_table_auto">
                            <div class="dis_cell">
                                <ul class="product_gallery">
                                    <li ng-repeat="slide in slides" data-target='#carousel-custom' data-slide-to="{{slide.index}}" ng-class="{active:!$index}">
                                        <img ng-src="{{slide.image}}" alt='' width="150" height="100" />
                                    </li>
                                </ul>
                            </div>
                            <div class="side_menu dis_cell_2">
                                <a ng-click="openShareModal()" class="side_buttons font_bold uppercase">
                                    <i class="fa fa-share"></i> Share
                                </a>
                            </div>

                        </div>
                        <div class=" font_24 font_light blue1">
                            {{productDetails.item_name}}
                        </div>
                        <!--marketing statement-->
                        <div class=" font_18 grey2 pad10top">
                        </div>
                        <!--marketing statement-->
                        <div class="divider"></div>
                        <div class="row_title pad20top">
                            Pricing Options
                        </div>
                        <!--pricing options-->
                        <div id="pricing_options">
                            <div class="dis_flex">
                                <div class="flex_lg">
                                    <ul class="price_row">
                                        <li>
                                            <div class="dis_table">
                                                <div class="dis_cell fill_grey center_align">
                                                    <span class="font_18 font_bold blue3 ">
                                                        Price
                                                    </span>
                                                </div>
                                                <div class="dis_cell fill_blue2 right_align">
                                                    <div class="font_12">
                                                        Upfront
                                                    </div>
                                                    <div class="font_24">
                                                        <sup>$</sup>{{productDetails.sell_price | number:2}}
                                                    </div>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <a class="flex_sm" ng-click="addToCart(productDetails)">

                                    <span class="font_medium uppercase"><img src="../images/icons/ico_cartDark.svg"/> add to cart</span>
                                </a>
                            </div>
                        </div>
                        <!--pricing options-->
                        <div class=" grey3 font_medium font_12">
                            *Billed monthly within a 36-month term.
                        </div>
                    </div>
                    <!--product details here-->
                </div>
            </div>
            <!-- End of: Main Article -->
            <!--Inclusions-->
            <div class="packages">
                <div class="font_24 blue3">
                    Product Information
                </div>
                <div class=" dis_table sec-sd-inclusions ">
                    <div class="dis_cell">
                        <div class="inc_head">
                            General Features
                        </div>
                        <ul class="inc_body">
                            <li ng-repeat="">
                                <div class="inc_title font_bold grey2">

                                </div>
                                <a class="inc_text font_light grey2">

                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dis_cell">
                        <div class="inc_head">
                            Hardware Specifications
                        </div>

                        <ul class="spec_list">
                            <li ng-if="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    Processor
                                </div>
                                <div class="font_light grey2">
                                    {{processor[0].value}}
                                </div>
                            </li>
                            <li ng-if="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    Ram
                                </div>
                                <div class="font_light grey2">
                                    {{ram[0].value}}
                                </div>
                            </li>
                            <li ng-if="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    Storage
                                </div>
                                <div class="font_light grey2">
                                    {{storage[0].value}}
                                </div>
                            </li>
                            <li ng-if="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    graphics
                                </div>
                                <div class="font_light grey2">
                                    {{graphics[0].value}}
                                </div>
                            </li>
                            <li ng-if="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    maximum resolution
                                </div>
                                <div class="font_light grey2">
                                    {{maxresolution[0].value}}
                                </div>
                            </li>
                            <li ng-hide="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    screen
                                </div>
                                <div class="font_light grey2">
                                    {{screensize[0].value}}
                                </div>
                            </li>
                            <li ng-hide="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    brightness
                                </div>
                                <div class="font_light grey2">
                                    {{brightness[0].value}}
                                </div>
                            </li>
                            <li ng-hide="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    bezel size
                                </div>
                                <div class="font_light grey2">
                                    {{bezel[0].value}}
                                </div>
                            </li>
                            <li ng-hide="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    display technology
                                </div>
                                <div class="font_light grey2">
                                    {{displaytechno[0].value}}
                                </div>
                            </li>
                            <li ng-hide="category[0].fk_category_id == 83">
                                <div class="font_12 font_bold grey3 uppercase">
                                    weight
                                </div>
                                <div class="font_light grey2">
                                    {{weight[0].value}}
                                </div>
                            </li>
                        </ul>

                    </div>

                    <div class="dis_cell">
                        <div class="inc_head">
                            This Goes Well With
                        </div>
                        <div class="goes-well-cat font_bold grey3 uppercase font_12 ">
                            <span><img src="../images/icons/svg-tessa-hardware.svg"
                                       style="max-height: 20px; width:30px;"/></span>
                            <span>Hardware</span>
                        </div>
                        <ul class="spec_list">
                            <li ng-repeat="item in relatedProductHardware">

                                <a ng-click="openDetail(item.ref_product.p_id)" class="font_light grey2">
                                    <a class="font_regular grey2">
                                        {{item.ref_product.item_name}}
                                    </a>
                                </a>
                            </li>
                            <li ng-show="!relatedProductHardware.length"><span class="font_12 grey3 font_light"> No Related Items</span>
                            </li>
                        </ul>
                        <br/>
                        <div class="goes-well-cat font_bold grey3 uppercase font_12  ">
                            <span><img src="../images/icons/svg-tessa-software.svg"
                                       style="max-height: 20px; width:30px;"/></span>
                            <span>Software</span>
                        </div>
                        <ul class="spec_list">
                            <li ng-repeat="item in relatedProductSoftware">
                                <a ng-click="openDetail(item.ref_product.p_id)" class="font_light grey2">
                                    <div class="icon_table">
                                        <div class="icon_cell">
                                            {{item.ref_product.item_name}}
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li ng-show="!relatedProductSoftware.length"><span class="font_12 grey3 font_light"> No Related Items</span>
                            </li>
                        </ul>
                    </div>
                    <div class="dis_cell">
                        <div class="inc_head">
                            Included in this Solution Package
                        </div>
                        <ul class="spec_list">
                            <li ng-repeat="pack in SolutionPack">
                                <a data-toggle="modal" ui-sref="main.productDetailsSolution({selected_id: pack.pb_id})"
                                   class="font_light grey2">
                                    <div class="icon_table">
                                        <div class="icon_cell">
                                            {{pack.bundle_name}}
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li ng-show="!SolutionPack.length"><span
                                    class="font_12 grey3 font_light"> No Related Items</span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <!--End: Inclusions-->
        </div>
    </div>
</div>
<style>
    #active-catalogue {
        background: #424242;
    }
</style>
