<div id="quote">
    <div class="wrapper">
        <div id="quote_head">
            <div class="engagis_logo dis_table">
                <div class="dis_cell">
                    <p><img src="images/Logo_400x96.png"></p>
                </div>
                <div class="doc_label dis_cell font_bold font_24 grey3">
                    Quotation
                </div>
            </div>
        </div>
        <div id="quote_specs">
            <div class="dis_table">
                <div id="shipping_details" class="dis_cell">
                    <section id="engagis_details">
                        <p>Engagis Pty Ltd</p>
                        <p>ABN 98 098 945 469</p>
                        <p>North Sydney NSW 2060</p>
                    </section>
                    <section id="bill_to">
                        <div class="row_title">
                            Bill to
                        </div>
                        <p>7-Eleven Stores Pty Ltd</p>
                        <p>357 Ferntree Gully Road</p>
                        <p class="uppercase">Mount Waverly VIC 3149</p>
                        <p>Australia</p>
                    </section>
                    <section id="ship_to">
                        <div class="row_title">
                            Ship to
                        </div>
                        <p>Stephen Eyears</p>
                        <p>7-Eleven</p>
                        <p>357 Ferntree Gully Road</p>
                        <p class="uppercase">mount waverly vic 3149</p>
                        <p>Australia</p>
                    </section>
                </div>
                <div id="quote_details" class="dis_cell">
                    <table id="quote_desc">
                        <tr>
                            <th>
                                <div class=" font_18 font_bold grey2">Quote No</div>
                            </th>
                            <td>
                                <div class=" font_18 font_bold grey2">10689</div>
                            </td>
                        </tr>
                        <tr>
                            <th>Page</th>
                            <td>1 of 2</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>23/7/2015</td>
                        </tr>
                        <tr>
                            <th>Customer</th>
                            <td>7-Eleven5</td>
                        </tr>
                        <tr>
                            <th>Expires</th>
                            <td>23/7/2015</td>
                        </tr>
                        <tr>
                            <th>Sales Rep</th>
                            <td>{{companyname}}</td>
                        </tr>
                        <tr>
                            <th>Currency</th>
                            <td>Australian Dollar</td>
                        </tr>
                        <tr>
                            <th>Subsidiary</th>
                            <td>Engagis (Australia)</td>
                        </tr>
                        <tr>
                            <th>Payment Terms</th>
                            <td>23/7/2015</td>
                        </tr>
                        <tr>
                            <th>Start Date</th>
                            <td>23/7/2015</td>
                        </tr>
                        <tr>
                            <th>End Date</th>
                            <td>23/7/2015</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="sec_label center_align row_title">
            CART ITEMS
        </div>
        <div id="quote_loop">
            <div class="quote_items">
                <div class="dis_table" ng-repeat="items in details">
                    <div class="dis_cell">
                        <table>
                            <tr>
                                <th>item</th>
                                <td ng-if="items.pb_id">
                                    <div class=" font_bold">{{items.bundle_name}}</div>
                                </td>
                                <td ng-if="items.p_id">
                                    <div class=" font_bold">{{items.item_name}}</div>
                                </td>
                            </tr>
                            <tr ng-if="items.pb_id">
                                <th>desc</th>
                                <td><span ng-bind-html="items.bundle_description"></span>
                                </td>
                            </tr>
                            <tr ng-if="items.p_id">
                                <th>desc</th>
                                <td><span ng-bind-html="items.item_description"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="dis_cell">
                        <table>
                            <tr>
                                <th>qty</th>
                                <td>{{items.quantity}}</td>
                            </tr>
                            <tr>
                                <th>term</th>
                                <td>36</td>
                            </tr>
                            <tr>
                                <th>rate</th>
                                <td>71.40</td>
                            </tr>
                            <tr>
                                <th>subtotal</th>
                                <td>71.40</td>
                            </tr>
                            <tr>
                                <th>tax</th>
                                <td>10.1%</td>
                            </tr>
                            <tr>
                                <th>tax amount</th>
                                <td>7.14</td>
                            </tr>
                            <tr>
                                <th>total</th>
                                <td>{{items.upfront}}</td>
                            </tr>
                            <tr>
                                <th>invoicing</th>
                                <td>{{items.upfront}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="print_menu">
    <a ng-click="generateQuote()" class="padding_10 btn btn-label btn-social btn-flickr">
        <i class="padding_10 fa fa-file-pdf-o"></i> Download
    </a>
    <a ng-click="printQoute()" class="padding_10 btn btn-label btn-social btn-success">
        <i class="padding_10 fa fa-print"></i> Print
    </a>
</div>
