<div class="wrapper">
    <div id="quote_page">
        <div class="dis_flex">
            <div class="flex-2-sm">
                <div id="sec_quote_details" class="pad20all">
                    <div class="pad_vertical dis_table">
                        <!--quote details-->
                        <div class="dis_cell">
                            <div class="font_bold btn-group" data-toggle="buttons">
                                <!-- <label class="font_12 btn btn-primary-alt btn-pc-radio ">
                                    <input type="radio" name="price_viewer" ng-model="content" value="capex" /> CAPEX
                                </label> -->
                                <label class="font_12 btn btn-midnightblue-alt btn-pc-radio" ng-model="radioModel"
                                       uib-btn-radio="'Capex'" uib-uncheckable="uncheckable" ng-change="newvalue()">
                                    CAPEX
                                </label>
                                <label class="font_12  btn btn-midnightblue-alt btn-pc-radio" ng-model="radioModel"
                                       uib-btn-radio="'Opex'" uib-uncheckable="uncheckable" ng-change="newvalue()">
                                    OPEX
                                </label>
                                <!-- <label class="font_12 btn btn-primary-alt btn-pc-radio">
                                    <input type="radio" name="price_viewer" ng-click="green1='green1'" ng-model="content" value="opex" /> OPEX
                                </label> -->
                            </div>
                        </div>
                        <div class="dis_cell right_align">
                            <button type="button" class="font_bold font_12 btn btn-primary"
                                    ng-click="openShareModal()">
                                <i class=" fa fa-share-square"></i> SHARE
                            </button>
                        </div>
                    </div>
                    <div class=" dis_table border_vertical pad_vertical"
                         style="margin-top: 10px;width: 100%; table-layout: auto;" ng-click="seemore=!seemore">
                        <div class="dis_cell">
                            <div class=" font_bold ">
                                <a>
                                    <span class="grey2 font_18">QUOTE NO:</span>
                                    <span class="blue1 font_18 animate-if" ng-if="radioModel == 'Capex'">CPX-{{details.quote_number}}</span>
                                    <span class="blue1 font_18 animate-if" ng-if="radioModel == 'Opex'">OPX-{{details.quote_number}}</span>
                                </a>
                            </div>
                        </div>
                        <div class="dis_cell " style="width: 1%;vertical-align: top;">
                            <span><a class="grey2"><i class="fa fa-angle-right"></i> </a> </span>
                        </div>
                    </div>
                    <div ng-show="seemore">
                        <div id="quote_web_details" class="pad_vertical">
                            <table class="table_info">
                                <tr>
                                    <th>Date</th>
                                    <td>{{details.date_created}}</td>
                                </tr>
                                <tr>
                                    <th>Due on</th>
                                    <td><span class="red1">{{details.valid_until}}</span></td>
                                </tr>
                            </table>
                            <table class="table_info">
                                <tr>
                                    <th>Customer</th>
                                    <td>{{company.name}}</td>
                                </tr>
                                <tr>
                                    <th>Subsidiary</th>
                                    <td>Engagis (Australia)</td>
                                </tr>
                            </table>
                            <table class="table_info">
                                <tr>
                                    <th>Currency</th>
                                    <td>Australian Dollar</td>
                                </tr>
                                <tr>
                                    <th>Payment Terms</th>
                                    <td>Net30</td>
                                </tr>
                            </table>
                        </div>
                        <div class=" border_vertical pad_vertical_15">
                            <div class="dis_table">
                                <div class="dis_cell">
                                    <div class="font_12 row_title pad_vertical">Ship To</div>
                                    <div class="font_bold">
                                        {{details.ship_to_name}}
                                    </div>
                                    <div>{{details.ship_to_address}}</div>
                                    <div class="">
                                        {{details.ship_to_city}}

                                    </div>
                                    <div>
                                        {{details.ship_to_state}}
                                    </div>
                                    <div>
                                        {{details.ship_to_country}}
                                        {{details.ship_to_zipcode}}
                                    </div>

                                </div>
                                <div class="dis_cell">
                                    <div class="font_12 row_title pad_vertical">Bill To</div>
                                    <div class="font_bold">

                                        {{details.bill_to_name}}
                                    </div>
                                    <div>{{details.bill_to_address}}</div>
                                    <div>
                                        {{details.bill_to_city}}

                                    </div>
                                    <div>
                                        {{details.bill_to_state}}
                                    </div>
                                    <div>
                                        {{details.bill_to_country}}
                                        {{details.bill_to_zipcode}}
                                    </div>

                                </div>
                            </div>
                            <div class="pad10top">
                                <div class="font_12 row_title pad_vertical ">Memo</div>
                                <div class="" ng-bind-html="details.comments">
                                    <!-- {{details.comments}} -->
                                </div>
                            </div>
                        </div>
                        <div class="pad_vertical">
                            <div id="final_bill">
                                <table class="table_info animate-if" ng-if="radioModel == 'Capex'">
                                    <!--OVERALL TOTAL CAPEX -->
                                    <tr>
                                        <th>Total Upfront Investment</th>
                                        <td>{{totalupfront | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <th>Total Monthly Investment</th>
                                        <td>{{spprice | number: 2}} *</td>
                                    </tr>
                                    <tr>
                                        <th class="font_bold pad_vertical">SUBTOTAL</th>
                                        <td class=" pad_vertical">{{(totalupfront + spprice) | number: 2}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tax Amount (10%)</th>
                                        <td>{{((totalupfront +spprice)*0.10) | number: 2}}</td>
                                    </tr>
                                    <tr style="background: #ededed;">
                                        <th class="font_18 font_bold blue1 pad_vertical">
                                            <span ng-class="myVar">TOTAL</span>
                                        </th>
                                        <td class="font_18 font_bold blue1 pad_vertical">
                                            <span ng-class="myVar">{{(((totalupfront + spprice)*0.10)+(totalupfront + spprice)) | currency}}</span>
                                        </td>
                                    </tr>

                                </table>
                                <table class="table_info animate-if" ng-if="radioModel == 'Opex'">
                                    <!--OVERALL TOTAL OPEX -->
                                    <tr>
                                        <th class="font_bold pad_vertical">SUBTOTAL</th>
                                        <td class=" pad_vertical">{{subtotalOpex | number: 2}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tax Amount (10%)</th>
                                        <td>{{(subtotalOpex *0.10) | number: 2}}</td>
                                    </tr>
                                    <tr style="background: #ededed;">
                                        <th class="font_18 font_bold blue1 pad_vertical">
                                            <span ng-class="myVar">TOTAL</span>
                                        </th>
                                        <td class="font_18 font_bold blue1 pad_vertical">
                                            <span ng-class="myVar">{{subtotalOpex + (subtotalOpex *0.10)| currency}} *</span>
                                        </td>
                                    </tr>

                                </table>
                                <div class="font_12 grey2 pad_vertical_15"><i>*Ongoing cost will be billed monthly
                                    within a 36-month
                                    period.</i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-2-lg">
                <div id="sec_quote_items">
                    <div class="row_title">
                        Quote Items
                    </div>
                    <div ng-repeat="item in items">
                        <div class="item_instance">
                            <div ng-click="seemore=!seemore" style="cursor: pointer;" class="blue1 font_bold font_18">
                                <span ng-if="item.bundle_id">{{item.bundle_details.bundle_name}}</span>
                                <span ng-if="item.product_id">{{item.product_details.item_name}}</span>
                            </div>
                            <div ng-show="seemore">
                                <div class="dis_table">
                                    <div class="dis_cell">
                                        <div class="row_title font_12">Upfront</div>
                                        <ul>
                                            <li ng-if="item.product_id != null"
                                                ng-bind-html="item.product_details.item_description">
                                                <!-- {{item.product_details.item_description}} -->
                                            </li>
                                            <li ng-repeat="list in item.products" ng-hide="list.category_id == 90"
                                                ng-bind-html="list.product_detail.item_name"></li>
                                        </ul>
                                    </div>
                                    <div class="dis_cell">
                                        <div class="row_title font_12">Monthly Inclusions*</div>
                                        <ul>
                                            <li ng-if="item.product_id != null">
                                                <i>No monthly Inclusions for individual products.</i>
                                            </li>
                                            <li ng-repeat="list in item.products" ng-if="list.category_id == 90 "
                                                ng-bind-html="list.product_detail.item_name">
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="breakdown_piece" class="dis_cell">
                                        <div class="row_title font_12" ng-if="radioModel == 'Capex' && item.bundle_id">
                                            Price Details (Upfront)
                                        </div>
                                        <div class="row_title font_12"
                                             ng-if="radioModel == 'Capex' && item.bundle_id == null">Price Details
                                        </div>
                                        <div class="row_title font_12" ng-if="radioModel == 'Opex'">Price Details
                                        </div>
                                        <table class="table_info animate-if" ng-if="radioModel == 'Capex'">
                                            <tr>
                                                <th>Rate</th>
                                                <td>{{item.price | number: 2}}</td>
                                            </tr>
                                            <tr>
                                                <th>Quantity</th>
                                                <td>{{item.quantity}}</td>
                                            </tr>
                                            <tr style="background:#fafafa;" class="font_bold">
                                                <th>Subtotal</th>
                                                <td ng-init="subtotalUpfront=item.price * item.quantity">
                                                    {{subtotalUpfront | currency}}
                                                </td>
                                            </tr>

                                            <tr ng-if="item.bundle_id == null">
                                                <th colspan="2" style="padding-top:10px;">
                                                    <div class="border-grey pad_vertical"></div>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="pad_vertical_15">
                                                    <div class="row_title font_12" ng-if="item.bundle_id">Price Details
                                                        (Monthly)
                                                    </div>
                                                </th>
                                            </tr>
                                            <tr ng-if="item.bundle_id">
                                                <th>Rate</th>
                                                <td>{{item.spprices | number: 2}}</td>
                                            </tr>
                                            <tr ng-if="item.bundle_id">
                                                <th>Quantity</th>
                                                <td>{{item.quantity}}</td>
                                            </tr>
                                            <tr ng-if="item.bundle_id" style="background:#fafafa;" class="font_bold">
                                                <th>Subtotal</th>
                                                <td ng-init="subtotalMonthly=(item.spprices * item.quantity)">
                                                    {{subtotalMonthly | currency}}
                                                </td>
                                            </tr>
                                            <tr ng-if="item.bundle_id">
                                                <th colspan="2" style="padding-top:10px;">
                                                    <div class="border-grey pad_vertical"></div>
                                                </th>
                                            </tr>
                                        </table>
                                        <table class="table_info animate-if" ng-if="radioModel == 'Opex'">
                                            <tr>
                                                <th>Rate</th>

                                                <td>{{(((item.price*31.11)/1000)+item.spprices) | currency}}</td>

                                            </tr>
                                            <tr>
                                                <th>Quantity</th>
                                                <td>{{item.quantity}}</td>
                                            </tr>
                                            <tr style="background:#fafafa;" class="font_bold">
                                                <th>Subtotal</th>
                                                <td>

                                                    {{(((((item.price)*31.11)/1000)+item.spprices)*item.quantity) |
                                                    currency}}*

                                                </td>
                                            </tr>
                                            <tr>
                                                <th colspan="2" style="padding-top:10px;">
                                                    <div class="border-grey pad_vertical"></div>
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
