<div class="row">
    <div id="search-page" class="wrapper">
       <!--  <div class="row_title sec-search-filter">
            <ul class="filter_options">
                <li>
                    <div class="font_14 font_bold grey2">
                        FILTER
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" class=" font_light btn btn-default-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Choose Eze Suite Family
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu font_14 grey2 filter_items" role="menu">
                            <li>
                                <div class="dis_cell cell_1"><a class="font_14 font_bold grey3">Clear Filters</a> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Any</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Impress</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Find</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Wi-fi</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="font_light btn btn-default-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Solution
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu font_14 grey2 filter_items" role="menu">
                            <li>
                                <div class="dis_cell cell_1"><a class="font_14 font_bold grey3">Clear Filters</a> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Any</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Impress</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Find</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Wi-fi</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="font_light btn btn-default-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Location
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu font_14 grey2 filter_items" role="menu">
                            <li>
                                <div class="dis_cell cell_1"><a class="font_14 font_bold grey3">Clear Filters</a> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Any</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Impress</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Find</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Wi-fi</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="font_light btn btn-default-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Configuration
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu font_14 grey2 filter_items" role="menu">
                            <li>
                                <div class="dis_cell cell_1"><a class="font_14 font_bold grey3">Clear Filters</a> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Any</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Impress</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Find</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                            <li>
                                <div class="dis_cell cell_1">Eze Wi-fi</div>
                                <div class="dis_cell cell_2">
                                    <input type="checkbox" /> </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-primary">Submit</a>
                </li>
            </ul>
        </div> -->
        <div class="pc_tabs text14_medium ">
            <a class="tab_items" ng-class="{'active': DisplayTab == 'All'}" ng-click="activeTab('All')">All({{SelectedSearch.length}})</a>
            <a class="tab_items" ng-class="{'active': DisplayTab == 'Solutions'}" ng-click="activeTab('Solutions')">Solutions({{bundles.length}})</a>
            <a class="tab_items" ng-class="{ 'active': DisplayTab == 'Experience'}" ng-click="activeTab('Experience')">Experience({{articles.length}})</a>
            <a class="tab_items" ng-class="{'active': DisplayTab == 'Hardware'}" ng-click="activeTab('Hardware')">Hardware({{products.length}})</a>
        </div>
        <div class="row sec-pc-items">
            <div ng-show="DisplayTab == 'All'">
                <div href="#xd-modal" data-toggle="modal" class="col-lg-3" ng-repeat="items in SelectedSearch" ng-hide="items.type == 'Services'" ng-click="detail(items,$index)">
                    <!-- ui-sref="main.productDetailsHardware({selected_id: searchresult.p_id})" -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="img-contain">
                                <a class="img_holder" ng-if="items.self == 'products'">
                                    <img ng-src="{{items.img_default}}" err-src="images/is5.jpg" />
                                </a>
                                <a class="img_holder" ng-if="items.self == 'articles'">
                                    <img ng-src="{{image.media_path}}" err-src="images/is5.jpg" ng-repeat="image in items.mediafiles | limitTo:1" />
                                </a>
                                <a class="img_holder" ng-if="items.self == 'bundles'">
                                    <img ng-src="{{image.image_path}}" err-src="images/is5.jpg" ng-repeat="image in items.product_images | limitTo:1" />
                                </a>
                            </div>
                            <div class="item_text">
                                <div class="item_title">
                                    <a class=" grey2 font_bold">
                                    {{items.name}}
                                </a>
                                    <div class="item_content grey3 font_bold font_12">
                                        in {{items.self}}
                                    </div>
                                </div>
                                <div class="dis_table">
                                    <div class="dis_cell">
                                        <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="DisplayTab == 'Solutions'">
                <div href="#xd-modal" data-toggle="modal" class="col-lg-3" ng-repeat="items in bundles" ng-click="detail(items,$index)">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="img-contain">
                                <a class="img_holder">
                                    <img ng-src="{{items.image}}" err-src="images/is5.jpg" />
                                </a>
                            </div>
                            <div class="item_text">
                                <div class="item_title">
                                    <a class=" grey2 font_bold">
                                    {{items.name}}
                                </a>
                                    <div class="item_content grey3 font_bold font_12">
                                        in {{items.type}}
                                    </div>
                                </div>
                                <div class="dis_table">
                                    <div class="dis_cell">
                                        <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="DisplayTab == 'Experience'">
                <div href="#xd-modal" data-toggle="modal" class="col-lg-3" ng-repeat="item in articles" ng-click="detail(item,$index)">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="img-contain">
                                <a class="img_holder">
                                    <img ng-src="{{image.media_path}}" err-src="images/is5.jpg" ng-repeat="image in item.mediafiles | limitTo:1" />
                                </a>
                            </div>
                            <div class="item_text">
                                <div class="item_title">
                                    <a class=" grey2 font_bold">
                                    {{item.name}}
                                </a>
                                    <div class="item_content grey3 font_bold font_12">
                                        in {{item.type}}
                                    </div>
                                </div>
                                <div class="dis_table">
                                    <div class="dis_cell">
                                        <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="DisplayTab == 'Hardware'">
                <div href="#xd-modal" data-toggle="modal" class="col-lg-3" ng-repeat="items in products" ng-click="detail(items,$index)">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="img-contain">
                                <a class="img_holder">
                                    <img ngf-src="items.img_default || http://placehold.it/750x450" err-src="images/is5.jpg" />
                                </a>
                            </div>
                            <div class="item_text">
                                <div class="item_title">
                                    <a class=" grey2 font_bold">
                                    {{items.name}}
                                </a>
                                    <div class="item_content grey3 font_bold font_12">
                                        in {{items.type}}
                                    </div>
                                </div>
                                <div class="dis_table">
                                    <div class="dis_cell">
                                        <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="xd-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-backdrop fade in" style="height: 100vh; position: fixed;" data-dismiss="modal"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <!--                 <div class="row_title pad20top">
                    <a href="#" class=" btn btn-label btn-social btn-flickr">
                        <i class="padding_10 fa fa-share-square"></i> Share
                    </a>
                </div> -->
                        <div id="sec-xd-article">
                            <div class="sec-xd-items">
                                <div class="xd-img">
                                    <div class="img_holder " ng-if="selected.self == 'articles'">
                                         <img src="{{image.media_path}}" ng-repeat="image in selected.mediafiles | limitTo: 1"/>
                                    </div>
                                     <div class="img_holder " ng-if="selected.self == 'products'">
                                          <img src="images/is5.jpg" err-src="http://placehold.it/750x450" />
                                    </div>
                                    <div class="panel-body">
                                        <blockquote>
                                            <p ng-bind-html="selected.article">""</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="xd-content">
                                    <div class="font_24 blue1 font_medium">
                                        {{selected.name}}
                                    </div>
                                    <div class="article-primary">
                                        <p ng-bind-html="selected.description"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sec-xd-fs">
                            <div class="row_title" ng-hide="selected.article_features.length == 0">
                                FEATURED SOLUTION
                            </div>
                            <div class="row pad20top">
                                <div class="col-lg-4" ng-repeat="featured in selected.article_features">
                                    <div class="panel panel-default box-item">
                                        <a href="#">
                                            <div class="img_holder">
                                                <img src="images/is5.jpg" />
                                            </div>
                                            <div class="font_bold grey2 cap-box-item">
                                                {{featured.bundle_details.bundle_name}}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sec-xd-rx">
                            <div class="row_title pad20top">
                                Related experience
                            </div>
                            <div class="row pad20top">
                                <div class="col-lg-4">
                                    <div class="panel panel-default box-item">
                                        <a href="#">
                                            <div class="img_holder">
                                                <img src="images/is4.jpg" />
                                            </div>
                                            <div class="cap-box-item">
                                                <div class="font_light grey">
                                                    <p class="black1">Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
