<div id="search-page" class="wrapper">
    <div class="sec-search-filter">
        <div class="grey2">
            <span class="font_bold">FILTER:</span>
            <span class="font_light">Please select one or more.</span>
        </div>
        <ul class="filter_options">
            <li>
                <button uib-popover-template="dynamicPopover.templateUrl" popover-trigger="outsideClick" popover-placement="bottom" type="button" class="btn font_medium btn-default">
                    Product Type <i class="fa fa-caret-down"></i>
                </button>
                <button uib-popover-template="dynamicPopover.templateUrl2" popover-trigger="outsideClick" popover-placement="bottom " type="button" class="btn font_medium btn-default">
                    Eze Suite Family <i class="fa fa-caret-down"></i>
                </button>
                <button uib-popover-template="dynamicPopover.templateUrl3" popover-trigger="outsideClick " popover-placement="bottom " type="button" class="btn font_medium btn-default">
                    Location <i class="fa fa-caret-down"></i>
                </button>
                <button uib-popover-template="dynamicPopover.templateUrl4" popover-trigger="outsideClick " popover-placement="bottom " type="button" class="btn font_medium btn-default">
                    Mounting Configuration<i class="fa fa-caret-down "></i>
                </button>
                <button uib-popover-template="dynamicPopover.templateUrl5" popover-trigger="outsideClick " popover-placement="bottom " type="button" class="btn font_medium btn-default">
                    Usages <i class="fa fa-caret-down"></i>
                </button>
                <button uib-popover-template="dynamicPopover.templateUrl7" popover-trigger="outsideClick" popover-placement="bottom" type="button" class="btn font_medium btn-default">
                    Brightness <i class="fa fa-caret-down"></i>
                </button>
                <button uib-popover-template="dynamicPopover.templateUrl8" popover-trigger="outsideClick" popover-placement="bottom" type="button" class="btn font_medium btn-default">
                    Bezel Size <i class="fa fa-caret-down"></i>
                </button>
            </li>
            <!-- <li>
                <a class="btn btn-primary ">Submit</a>
            </li> -->
        </ul>
    </div>
    <div class="pc_tabs text14_medium">
        <a class="tab_items " ng-class="{ 'active': DisplayTab=='All' }" ng-click="activeTab( 'All')">Number of results ({{filtersearch.length}})</a>
    </div>

    <div class="pad-15">
        <div class="row">
            <div class="flx-rwp">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 itm" ng-repeat="items in filtersearch |limitTo: limitWithPage track by $index" ng-repeat-end-watch="repeatEnd" ng-hide="items.type=='Services'">
                    <div class="itm-body dis-flx flx-spb-vrt" >
                        <a class="link-control" ng-if="items.type=='Hardware'" ui-sref="main.productDetailsHardware({selected_id: items.p_id})">
                            <div class="img_holder ">
                                <img ng-src="{{items.img_default}}" imageonload err-src="images/is5.jpg" />
                                <span class="loading" style="text-align: center;margin-left: 40%;margin-right: 40%;"> <img src="./images/icons/default.gif" style="width: 20% !important;"></span>
                            </div>

                            <div class="itm-ctn pad-15 ">
                                <div>
                                    <h2>{{items.item_name}}</h2>
                                </div>
                            </div>

                        </a>
                        <a class="link-control" ng-if="items.type=='Experience'" ui-sref="main.articlePage({selected_id:items.id})">
                            <div class="img_holder ">
                                <img ng-src="{{items.mediafiles[0].media_path}}" imageonload err-src="images/is5.jpg " ng-if="items.mediafiles[0].media_mimetype=='image/jpeg' ||items.mediafiles[0].media_mimetype=='image/png' " />
                                <div class="videogular-container" ng-repeat="item in items.mediafiles | limitTo:1" ng-if="item.media_mimetype=='video/mp4'">
                                    <videogular vg-theme="item.url">
                                        <vg-media vg-src="item.media_path"></vg-media>
                                        <vg-controls>
                                            <vg-play-pause-button></vg-play-pause-button>
                                            <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                            <vg-scrub-bar>
                                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                            </vg-scrub-bar>
                                            <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                                            <vg-volume>
                                                <vg-mute-button></vg-mute-button>
                                                <vg-volume-bar></vg-volume-bar>
                                            </vg-volume>
                                            <vg-fullscreen-button></vg-fullscreen-button>
                                        </vg-controls>
                                        <!-- <vg-overlay-play></vg-overlay-play> -->
                                        <vg-buffering></vg-buffering>
                                    </videogular>
                                </div>
                                <span class="loading" style="text-align: center;margin-left: 40%;margin-right: 40%;"> <img src="./images/icons/default.gif" style="width: 20% !important;"></span>
                            </div>

                            <div class="itm-ctn pad-15 ">
                                <div>
                                    <h2>{{items.name}}</h2>
                                </div>
                            </div>
                        </a>
                        <a class="link-control" ng-if="items.type=='Solutions'" ui-sref="main.productDetailsSolution({selected_id: items.pb_id})">
                            <div class="img_holder ">
                                <img ng-src="{{items.product_images[0].image_path}}" imageonload err-src="images/is5.jpg" //>
                                <span class="loading" style="text-align: center;margin-left: 40%;margin-right: 40%;"> <img src="./images/icons/default.gif" style="width: 20% !important;"></span>
                            </div>

                            <div class="itm-ctn pad-15 ">
                                <div>
                                    <h2>{{items.bundle_name}}</h2>
                                </div>
                            </div>
                        </a>





                    </div>
                </div>

            </div>
            <div class="col-xs-12 loadmore " ng-if="limitWithPage < filtersearch.length ">
                <a ng-if="showLoadMore" ng-show="!loadmore " ng-click="addMoreItems()">Load More</a>
                <div class="loader" ng-show="loadmore">
                </div>
            </div>

        </div>
    </div>




</div>
<script type="text/ng-template" id="productType.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchproductType" />
        </div>
        <div class="checkbox" ng-repeat="type in producttypedata | filter:searchproductType">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type,1)" ng-model="type.checked"> {{type.label}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="ezefamily.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="eze in experiencedata | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(eze,2)" ng-model="eze.checked"> {{eze.label}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="location.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="type in location | filter:searchEzeFamily">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type,3)" ng-model="type.checked"> {{type.label}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="configuration.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search... " ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="type in config | filter:searchEzeFamily">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type,4)" ng-model="type.checked"> {{type.label}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="usages.html ">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control " placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="type in Usage | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type,5)" ng-model="type.checked"> {{type.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template " id="orientation.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="type in config | filter:searchEzeFamily ">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type,6)" ng-model="type.checked"> {{type.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="brightness.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search... " ng-model="searchEzeFamily " />
        </div>
        <div class="checkbox" ng-repeat="type in Brightness | filter:searchEzeFamily">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type,7)" ng-model="type.checked"> {{type.value}}
            </label>
        </div>
    </div>
</script>
<script async type="text/ng-template" id="bezelsize.html">
    <div class="form-group">
        <div class="pad_vertical">
            <input type="search" class="form-control" placeholder="Search..." ng-model="searchEzeFamily" />
        </div>
        <div class="checkbox" ng-repeat="type in Bezel | filter:searchEzeFamily">
            <label>
                <input type="checkbox" ng-click="toggleSelectedType(type,8)" ng-model="type.checked"> {{type.value}}
            </label>
        </div>
    </div>
</script>
<style type="text/css">
@-webkit-keyframes rotateLoader {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateLoader {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .item_title {
        height: 55px !important;
    }
    .item_content {
        height: 105px !important;
    }
}
</style>
