<div class="sidebar">
    <div class="widget stay-on-collapse" id="widget-sidebar">
        <nav role="navigation" class="widget-body">
            <ul class="acc-menu">
                <li><a id="active-experience" ui-sref="main.experience">
                <i class="fa fa-comment"></i><span class="collapsible">Experience</span></a></li>
                <li><a id="active-catalogue" ng-click="product()">
                <i class="fa fa-desktop"></i><span class="collapsible">Product Catalogue</span></a>
                </li>
                <!--<li><a id="active-quotes" ui-sref="main.customerQuotes"><i
                                        class="fa fa-file-text"></i><span
                                        class="collapsible">Customer Quotes</span></a>
                                </li>-->
            </ul>
        </nav>
    </div>
</div>
