<div class="sidebar">
    <div class="widget stay-on-collapse" id="widget-sidebar">
        <nav role="navigation" class="widget-body">
            <ul class="acc-menu">
                <li><a id="active-experience" ui-sref="main.experience">
                    <img src="../images/icons/ico_home00.svg" style="width: 25px;"/><span class="collapsible">Experience</span></a></li>
                <li><a id="active-catalogue" ng-click="product()">
                    <img src="../images/icons/ico_store00_nav.svg" style="width: 23px;"/> <span class="collapsible">Product Catalogue</span></a>
                </li>
                <!--<li><a id="active-comparison" ng-click="compareModal()">
                    <span class="badge badge-primary" >0</span>
                    <img src="../images/icons/ico_compare00.svg" style="width: 23px;"/> <span class="collapsible">Compare Products</span></a>

                </li>-->
                <!--<li><a id="active-quotes" ui-sref="main.customerQuotes"><i
                                        class="fa fa-file-text"></i><span
                                        class="collapsible">Customer Quotes</span></a>
                                </li>-->
            </ul>
        </nav>
    </div>
</div>
