<div class="lg-side">
    <nav class="flexi-sidebar">
        <ul class="flexi-menu ">
            <li>
                <a id="active-experience" class="dis_table" ng-click="product('Experience')">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <img src="./images/icons/ico_home00.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Experience
                    </div>
                </a>


            </li>
            <li>
                <a id="active-catalogue" class="dis_table" ng-click="product('Product')">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <img src="./images/icons/ico_store00_nav.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Product Catalogue
                    </div>

                </a>
            </li>

            <li>
                <a id="active-presentation" class="dis_table" ng-click="product('Presentation')">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <img src="./images/icons/ico_preso-admin00.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        File Manager
                    </div>

                </a>
            </li>
            <li>

                <a id="active-preso" class="dis_table" ng-click="product('Gallery')">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <img src="./images/icons/ico_preso00.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Presentation
                    </div>


                </a>
            </li>

            <li>
                <a id="active-compare" class="dis_table" ui-sref="main.compareModule">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <span class="badge bg-violet" ng-if="compareproducts.length > 0">{{compareproducts.length}}</span>
                            <img src="./images/icons/ico_compare00.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Compare
                    </div>


                </a>
            </li>

            <li>

                <a id="active-dashboard" class="dis_table" ui-sref="main.requestDashboard">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <i class="fa fa-magic"></i>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Request Dashboard
                    </div>


                </a>
            </li>

        </ul>
    </nav>
</div>

<div class="sm-side" ng-show="isHide">
    <nav class="flexi-sidebar ">
        <ul class="flexi-menu ">
            <li>
                <a id="active-experience" class="dis_table" ng-click="product('Experience')">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <img src="./images/icons/ico_home00.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Experience
                    </div>
                </a>


            </li>
            <li>
                <a id="active-catalogue" class="dis_table" ng-click="product('Product')">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <img src="./images/icons/ico_store00_nav.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Product Catalogue
                    </div>



                </a>
            </li>

            <li>
                <a id="active-presentation" class="dis_table" ng-click="product('Presentation')">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <img src="./images/icons/ico_preso-admin00.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        File Manager
                    </div>


                </a>
            </li>
            <li>

                <a id="active-preso" class="dis_table" ng-click="product('Gallery')">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <img src="./images/icons/ico_preso00.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Presentation
                    </div>


                </a>
            </li>

            <li>
                <a id="active-compare" class="dis_table" ui-sref="main.compareModule">
                    <div class="dis_cell">
                        <div class="nav-icon-holder">
                            <span class="badge bg-violet" ng-if="compareproducts.length > 0">{{compareproducts.length}}</span>
                            <img src="./images/icons/ico_compare00.svg" style="width: 19px;"/>
                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Compare
                    </div>

                </a>
            </li>
            <li>
                <a id="active-compare" class="dis_table" ui-sref="main.compareModule">
                    <div class="dis_cell">
                        <div class="font_medium font_28">
                            <i class="fa fa-magic"></i>

                        </div>
                    </div>
                    <div class="dis_cell nav-itm" ng-show="isHide">
                        Request Dashboard
                    </div>


                </a>
            </li>
        </ul>
    </nav>
</div>
