<div class="wrapper">
    <div class="ctn">
        <div class="row flx-rwp">
            <!--Sample instance-->
            <div class="col-xs-12 col-sm-6 col-md-3 itm">
            <div class="dis_table box-stick" >
                            <div class="dis_cell ">
                                <button ng-click="compare(item)" type="button" class="tes-btn bg-violet ">
                                    <i class="fa fa-exchange "></i>
                                </button>
                            </div>
                        </div>
                <div class="itm-body dis-flx flx-spb-vrt ">
                    <div class="">
                        <div class="img_holder">
                            <img src="../images/is5.jpg" />
                        </div>
                        <div class="itm-ctn pad-20">
                            <div>
                                <h2>Samsung DH678</h2>
                            </div>
                            <div>
                                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur non nulla sit amet nisl tempusmeac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. elementum sed sit amet dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" pad-20">
                        <div class="font_medium grey2">For as low as</div>
                        <div class="box_price font_24 font_light ng-binding">
                            <sup class="">$</sup>48.44<span class="font_light font_14">/wk</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sample instance-->
            <!--Sample instance-->
            <div class="col-xs-12 col-sm-6 col-md-3 itm">
                <div class="itm-body dis-flx flx-spb-vrt ">
                    <div class="">
                        <div class="img_holder">
                            <img src="../images/is5.jpg" />
                        </div>
                        <div class="itm-ctn pad-20">
                            <div>
                                <h2>Samsung DH678</h2>
                            </div>
                            <div>
                                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur non nulla sit amet nisl tenvallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. elementum sed sit amet dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" pad-20">
                        <div class="font_medium grey2">For as low as</div>
                        <div class="box_price font_24 font_light ng-binding">
                            <sup class="">$</sup>48.44<span class="font_light font_14">/wk</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sample instance-->
            <!--Sample instance-->
            <div class="col-xs-12 col-sm-6 col-md-3 itm">
                <div class="itm-body dis-flx flx-spb-vrt ">
                    <div class="">
                        <div class="img_holder">
                            <img src="../images/is5.jpg" />
                        </div>
                        <div class="itm-ctn pad-20">
                            <div>
                                <h2>Samsung DH678</h2>
                            </div>
                            <div>
                                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. elementum sed sit amet dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" pad-20">
                        <div class="font_medium grey2">For as low as</div>
                        <div class="box_price font_24 font_light ng-binding">
                            <sup class="">$</sup>48.44<span class="font_light font_14">/wk</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sample instance-->
            <!--Sample instance-->
            <div class="col-xs-12 col-sm-6 col-md-3 itm">
                <div class="itm-body dis-flx flx-spb-vrt ">
                    <div class="">
                        <div class="img_holder">
                            <img src="../images/is5.jpg" />
                        </div>
                        <div class="itm-ctn pad-20">
                            <div>
                                <h2>Samsung DH678</h2>
                            </div>
                            <div>
                                <p>Mauris blandamet dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" pad-20">
                        <div class="font_medium grey2">For as low as</div>
                        <div class="box_price font_24 font_light ng-binding">
                            <sup class="">$</sup>48.44<span class="font_light font_14">/wk</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sample instance-->
            <!--Sample instance-->
            <div class="col-xs-12 col-sm-6 col-md-3 itm">
                <div class="itm-body dis-flx flx-spb-vrt ">
                    <div class="">
                        <div class="img_holder">
                            <img src="../images/is5.jpg" />
                        </div>
                        <div class="itm-ctn pad-20">
                            <div>
                                <h2>Samsung DH678</h2>
                            </div>
                            <div>
                                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur non nulla sit amet nisl tempusmet nisl tempus convallis quis ac lectus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitormet nisl tempus convallis quis ac lectus.ortor eget felis porttitor convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. elementum sed sit amet dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" pad-20">
                        <div class="font_medium grey2">For as low as</div>
                        <div class="box_price font_24 font_light ng-binding">
                            <sup class="">$</sup>48.44<span class="font_light font_14">/wk</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sample instance-->
            <!--Binded-->

        </div>
    </div>
</div>
<!--<ul class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
    <li data-ng-repeat="pic in pics" class="grid">
        <img src="{{pic.media.m}}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
    </li>
</ul>

<style>
    .grid {
        border: 1px solid #cccccc;
        list-style: none;
        background: #ffffff;
        box-sizing: border-box;
        -moz-box-sizing : border-box;
        -webkit-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
    }
    .grid-img {
        width: 100%;
        vertical-align: middle;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
    }

    .grid-img.img-loaded{
        visibility: visible;
        opacity: 1;
    }
</style>-->
