
<div class="wrapper">
<div class="ctn">
    <div class="row flx-rwp">
        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="flx-spb-vrt">
                <div>

                    <div class="img_holder">
                        <img src="../images/test_02.jpg">
                    </div>
                    <div  class="pad_vertical_15">
                    <h2>Title goes Here</h2>
                    <div>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices .</div>
                    </div>
                    
                </div>
                <div>
                    100 Per week
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="flx-spb-vrt">
                <div>
                    <div class="img_holder">
                        <img src="../images/test_02.jpg">
                    </div>
                    <div>Title goes Here</div>
                    <div>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices .</div>
                </div>
                <div>
                    100 Per week
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="flx-spb-vrt">
                <div>
                    <div class="img_holder">
                        <img src="../images/test_02.jpg">
                    </div>
                    <div>Title goes Here</div>
                    <div>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</div>
                </div>
                <div>
                    100 Per week
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="flx-spb-vrt">
                <div>
                    <div class="img_holder">
                        <img src="../images/test_02.jpg">
                    </div>
                    <div>Title goes Here</div>
                    <div>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices .</div>
                </div>
                <div>
                    100 Per week
                </div>
            </div>
        </div>

    </div>
</div>
    
</div>



<!--<ul class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
    <li data-ng-repeat="pic in pics" class="grid">
        <img src="{{pic.media.m}}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
    </li>
</ul>

<style>
    .grid {
        border: 1px solid #cccccc;
        list-style: none;
        background: #ffffff;
        box-sizing: border-box;
        -moz-box-sizing : border-box;
        -webkit-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
    }
    .grid-img {
        width: 100%;
        vertical-align: middle;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
    }

    .grid-img.img-loaded{
        visibility: visible;
        opacity: 1;
    }
</style>-->