<div class="preso-assets">
    <div>
        <div id="testo" ng-show="!showresult">
            <div ng-carousel ng-carousel-name="example-carousel2" ng-carousel-loop="false" ng-carousel-watch="aboutengagis">
                <slidecontainer class="carousel-slides">
                    <slide ng-repeat="item in aboutengagis" ng-if="item.asset_mimetype == 'image/png' ||item.asset_mimetype == 'image/jpeg'">
                        <div class="tes-slider">
                            <div class="dis_table slider-content">
                                <section class="dis_cell_top">
                                    <h1>{{item.asset_name}}</h1>
                                    <div class="hide-sm">
                                        <div class="pad_vertical_15 " ng-bind-html="item.asset_description">
                                        </div>
                                        <div>
                                            <a class="btn btn-primary" ng-click="imagepreview('preview',item)">Preview</a>
                                            <a class="btn btn-primary" ng-click="imagepreview('cast',item)">Cast to
                                                Screen</a>
                                        </div>
                                    </div>
                                </section>
                                <section class="dis_cell_top">
                                    <div class="img_holder">
                                        <img ondragstart="return false;" ng-src="{{item.asset_url}}" alt="{{item.asset_name}}" />
                                        <div class="drp-sdow"></div>
                                    </div>
                                    <div class="show-sm">
                                        <div>
                                            <a class="btn btn-primary">Preview</a>
                                            <a class="btn btn-primary">Cast to Screen</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="slider-bg img_holder">
                            <img ng-src="{{item.asset_url}}" />
                        </div>
                        <div class="black-fade">
                        </div>
                    </slide>
                </slidecontainer>
                <a class="carousel-control left" ng-click="Carousel.get('example-carousel2').previous()">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
                <a class="carousel-control right" ng-click="Carousel.get('example-carousel2').next()">
                    <span class="glyphicon glyphicon-chevron-right "></span>
                </a>
            </div>
        </div>
        <div contextmenu="meta.contextmenu" class="dropdown contextmenu">
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="previewSelected()">
                        <i class="ti ti-eye padd"></i> Preview
                    </a>
                </li>
                <li ng-if="selectedFile.asset_mimetype == 'image/jpeg'||selectedFile.asset_mimetype == 'image/png'">
                    <a>
                        <i class="ti ti-fullscreen padd"></i> View Fullscreen
                    </a>
                </li>
                <li>
                    <a ng-click="shareToOthers()">
                        <i class="ti ti-share padd"></i> Share
                    </a>
                </li>
                <li>
                    <a ng-click="castModal()">
                        <i class="ti ti-desktop padd"></i> Mirror
                    </a>
                </li>
                <li>
                    <a ng-href="{{selectedFile.asset_url}}" target="_self" download="{{selectedFile.asset_url}}">
                        <i class="ti ti-download padd"></i> Download
                    </a>
                </li>
            </ul>
        </div>
        <div class="flexi-pad top-ten" contextmenu-container="meta.contextmenu">
            <div ng-show="showresult">
                <ng-include src="'./views/presentation/asset-gallery.search.html'"></ng-include>
            </div>
            <div ng-show="!showresult">
                <div class="asset-by-industry" ng-repeat="items in foldercopies" ng-if="items.files.length > 0" ng-hide="items.folder_name == 'About Engagis'">
                    <div class="font_18 font_medium blue1">
                        <span class="orange1" ng-if="$first"><i class=" fa fa-bookmark"></i></span> {{items.folder_name}}
                    </div>
                    <br>
                    <ks-swiper-container pagination-is-active="true" pagination-clickable="true" show-nav-buttons="true" slides-per-view="'auto'" space-between="0" swiper="swiper" on-ready="onReadySwiper(swiper)">
                        <ks-swiper-slide class="swiper-slide" ng-repeat="item in items.files" ng-if="item.isDeleted == false">
                            <a class="file-item" contextmenu-item="item" ng-click="activeSelected(item)" ng-dblclick="openFile(item)" ng-class="{'active':item.isActive}">
                                <div class="img_holder" ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'">
                                    <img ng-src="{{item.asset_url}}" imageonload/>
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/pdf' && !item.thumbnail.thumbnail">
                                    <img src="./images/icons/ext-preso--08-pdf.svg" class="if-svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/pdf' && item.thumbnail.thumbnail">
                                    <img src="{{item.thumbnail.thumbnail}}" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                                    <img src="./images/icons/ext-preso--07-docs.svg" class="if-svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'text/plain'">
                                    <img src="./images/icons/ext-preso--06-text.svg" class="if-svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'">
                                    <img src="./images/icons/ext-file-slides.svg" class="if-svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                                    <img src="./images/icons/ext-file-sheets.svg" class="if-svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'audio/mp3'||item.asset_mimetype == 'audio/mp4'">
                                    <img src="./images/icons/ext-preso--04-mp3.svg" class="if-svg" />
                                </div>
                                <div class="videogular-container" ng-if="item.asset_mimetype == 'video/mp4'">
                                    <videogular vg-theme="item.url">
                                        <vg-media vg-src="item.asset_url"></vg-media>
                                        <vg-buffering></vg-buffering>
                                    </videogular>
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/zip'">
                                    <img src="./images/icons/ext-preso---11-zip.svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/octet-stream'">
                                    <img src="./images/icons/ext-preso---11-zip.svg" />
                                </div>
                                <div class="file-name">
                                    <span>
                                            <i class="fa fa-file-image-o"
                                               ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'"></i>
                                            <i class="red1 fa fa-file-pdf-o"
                                               ng-if="item.asset_mimetype == 'application/pdf'"></i>
                                            <i class="fa fa-file-word-o"
                                               ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                                            <i class="fa fa-file-code-o"
                                               ng-if="item.asset_mimetype == 'text/plain'"></i>
                                            <i class="orange1 fa fa-file-powerpoint-o"
                                               ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'"></i>
                                            <i class="fa fa-file-excel-o"
                                               ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                                            <i class="fa fa-file-audio-o"
                                               ng-if="item.asset_mimetype == 'audio/mp3'||item.asset_mimetype == 'audio/mp4'"></i>
                                            <i class="fa fa-file-movie-o"
                                               ng-if="item.asset_mimetype == 'video/mp4'"></i>
                                        </span>
                                    <span class="pad_side_10 ">
                                            {{item.asset_name}}
                                        </span>
                                </div>
                            </a>
                        </ks-swiper-slide>
                    </ks-swiper-container>

                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.multiple-slider .active,
.asset-by-industry .active {
    background: #3cb1ff;
    color: white !important;
}
</style>
