<div id="asset-gallery">
    <div class="wrapper">
        <div class="breadcrumbs ">
            <img src="./images/icons/ico_preso01.svg" />
            <a class="current font_medium">
                Presentation {{activePage}}
            </a>
        </div>


        <div class="page-menu" style="padding: 5px 10px;">
            <div class="dis_flex">
                <section>
                    <div class="dis_table_auto padding_10">
                        <div class="dis_cell">
                            <input type="search" ng-model="txtSearch" placeholder="Search presentation and folders..." class="form-control" ng-keypress="($event.which === 13)?searchData():0" ng-change="(txtSearch.length < 1)?searchData():0" />
                        </div>
                        <div class="dis_cell" style="width:1%;">
                            <div class="form_addon" >
                                <a  class="blue1" ng-click="searchData()">
                                    <i  class="fa fa-search"></i>

                                </a>

                            </div>
                        </div>

                       <!--  <div class="dis_cell pad_side_10">
                            <a><i class="fa fa-arrow-left"></i> </a>
                        </div> -->

                    </div>
                </section>

                <section>
                    <!-- <a class="pull-right" ng-click="changeDisplay()" ng-hide="isPreso">
                        <div class="font_medium blue1">
                            <span><i class="fa fa-star"></i></span> <span class="sm_hid">View Favorites</span>
                        </div>
                    </a> -->
                    <!--<a class="right_align" ng-click="changeDisplay()" ng-show="isPreso">
                        <div class="font_medium blue1">
                            <i class="fa fa-arrow-left"></i> <span class="sm_hid">Back to Assets</span>
                        </div>
                    </a>-->
                </section>
            </div>
        </div>



        <div>


            <ng-include src="'./views/presentation/asset-gallery.home.html'"></ng-include>
            <ng-include src="'./views/presentation/asset-gallery.favorites.html'"></ng-include>
        </div>
    </div>
</div>
<style>
#active-preso {
    background: #424242;
}

.contextmenu li > a:hover {
    background-color: #efefef;
    color: #000;
}
.padd{
   padding: 0px 10px 0px 0px !important;
}
</style>
