<div id="searchresult">
    <div class="font_14 font_medium grey2">
        Search Results
    </div>
    <div class="col-parent">
        <div class="col-child">
            <div class="asset-by-industry" ng-repeat="items in searchresult" ng-if="items.files.length > 0" ng-hide="items.folder_name == 'About Engagis'">
                <div class="font_18 font_medium blue1">
                    <span class="orange1" ng-if="$first"></span> {{items.folder_name}}
                </div>
                <br>
                <ks-swiper-container pagination-is-active="true" pagination-clickable="true" show-nav-buttons="true" slides-per-view="'auto'" space-between="0" swiper="swiper" on-ready="onReadySwiper(swiper)">
                    <ks-swiper-slide class="swiper-slide" ng-repeat="item in items.files" ng-if="item.isDeleted == 0">
                        <a class="file-item" contextmenu-item="item" ng-click="activeSelected(item)" ng-dblclick="openFile(item)" ng-class="{'active':item.isActive}">
                            <div class="img_holder" ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'">
                                <img ng-src="{{item.asset_url}}" imageonload/>
                            </div>
                            <div class="img_holder" ng-if="item.asset_mimetype == 'application/pdf' && !item.thumbnail.thumbnail">
                                <img src="./images/icons/ext-preso--08-pdf.svg" class="if-svg" />
                            </div>
                            <div class="img_holder" ng-if="item.asset_mimetype == 'application/pdf' && item.thumbnail.thumbnail">
                                <img src="{{item.thumbnail.thumbnail}}" />
                            </div>
                            <div class="img_holder" ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                                <img src="./images/icons/ext-preso--07-docs.svg" class="if-svg" />
                            </div>
                            <div class="img_holder" ng-if="item.asset_mimetype == 'text/plain'">
                                <img src="./images/icons/ext-preso--06-text.svg" class="if-svg" />
                            </div>
                            <div class="img_holder" ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'">
                                <img src="./images/icons/ext-file-slides.svg" class="if-svg" />
                            </div>
                            <div class="img_holder" ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                                <img src="./images/icons/ext-file-sheets.svg" class="if-svg" />
                            </div>
                            <div class="img_holder" ng-if="item.asset_mimetype == 'audio/mp3'||item.asset_mimetype == 'audio/mp4'">
                                <img src="./images/icons/ext-preso--04-mp3.svg" class="if-svg" />
                            </div>
                            <div class="videogular-container" ng-if="item.asset_mimetype == 'video/mp4'">
                                <videogular vg-theme="item.url">
                                    <vg-media vg-src="item.asset_url"></vg-media>
                                    <vg-buffering></vg-buffering>
                                </videogular>
                            </div>
                            <div class="img_holder" ng-if="item.asset_mimetype == 'application/zip'">
                                <img src="./images/icons/ext-preso---11-zip.svg" />
                            </div>
                            <div class="img_holder" ng-if="item.asset_mimetype == 'application/octet-stream'">
                                <img src="./images/icons/ext-preso---11-zip.svg" />
                            </div>
                            <div class="file-name">
                                <span>
                                            <i class="fa fa-file-image-o"
                                               ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'"></i>
                                            <i class="red1 fa fa-file-pdf-o"
                                               ng-if="item.asset_mimetype == 'application/pdf'"></i>
                                            <i class="fa fa-file-word-o"
                                               ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                                            <i class="fa fa-file-code-o"
                                               ng-if="item.asset_mimetype == 'text/plain'"></i>
                                            <i class="orange1 fa fa-file-powerpoint-o"
                                               ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'"></i>
                                            <i class="fa fa-file-excel-o"
                                               ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                                            <i class="fa fa-file-audio-o"
                                               ng-if="item.asset_mimetype == 'audio/mp3'||item.asset_mimetype == 'audio/mp4'"></i>
                                            <i class="fa fa-file-movie-o"
                                               ng-if="item.asset_mimetype == 'video/mp4'"></i>
                                        </span>
                                <span class="pad_side_10 ">
                                            {{item.asset_name}}
                                        </span>
                            </div>
                        </a>
                    </ks-swiper-slide>
                </ks-swiper-container>
            </div>
            <!--  <a class=" file-item" contextmenu-item="item" ng-click="activeSelected(item)" ng-dblclick="openFile(item)" ng-class="{'active':item.isActive}" >
                <div class="file-body">
                    <div class="img_holder" ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'">
                        <img ng-src="{{item.asset_url}}" />
                    </div>
                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/pdf'">
                        <img src="./images/icons/ext-preso--08-pdf.svg" class="if-svg" />
                    </div>
                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                        <img src="./images/icons/ext-preso--07-docs.svg" class="if-svg" />
                    </div>
                    <div class="img_holder" ng-if="item.asset_mimetype == 'text/plain'">
                        <img src="./images/icons/ext-preso--06-text.svg" class="if-svg" />
                    </div>
                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'">
                        <img src="./images/icons/ext-file-slides.svg" class="if-svg" />
                    </div>
                    <div class="img_holder" ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                        <img src="./images/icons/ext-file-sheets.svg" class="if-svg" />
                    </div>
                    <div class="img_holder" ng-if="item.asset_mimetype == 'audio/mp3'||item.asset_mimetype == 'audio/mp4'">
                        <img src="./images/icons/ext-preso--04-mp3.svg" class="if-svg" />
                    </div>
                    <div class="videogular-container" ng-if="item.asset_mimetype == 'video/mp4'">
                        <videogular vg-theme="item.url">
                            <vg-media vg-src="item.asset_url"></vg-media>
                            <vg-buffering></vg-buffering>
                        </videogular>
                    </div>
                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/zip'">
                        <img src="./images/icons/ext-preso---11-zip.svg" />
                    </div>
                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/octet-stream'">
                        <img src="./images/icons/ext-preso---11-zip.svg" />
                    </div>
                </div>
                <div class="file-name">
                    <span>
                                            <i class="fa fa-file-image-o"
                                               ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'"></i>
                                            <i class="red1 fa fa-file-pdf-o"
                                               ng-if="item.asset_mimetype == 'application/pdf'"></i>
                                            <i class="fa fa-file-word-o"
                                               ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                                            <i class="fa fa-file-code-o"
                                               ng-if="item.asset_mimetype == 'text/plain'"></i>
                                            <i class="orange1 fa fa-file-powerpoint-o"
                                               ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'"></i>
                                            <i class="fa fa-file-excel-o"
                                               ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                                            <i class="fa fa-file-audio-o"
                                               ng-if="item.asset_mimetype == 'audio/mp3'||item.asset_mimetype == 'audio/mp4'"></i>
                                            <i class="fa fa-file-movie-o"
                                               ng-if="item.asset_mimetype == 'video/mp4'"></i>
                                        </span>
                    <span class="pad_side_10 ">
                        {{item.asset_name}}
                    </span>
                </div>
            </a> -->
        </div>
    </div>
</div>
<style>
#searchresult .active {
    background: #3cb1ff;
    color: white !important;
}
</style>
