<div id="presentation">
    <div class="wrapper" style="padding-bottom: 0;">
        <div class="breadcrumbs padding_10">
            <img src="./images/icons/ico_store00.svg" />
            <a class="current font_medium">
                Presentation {{activePage}}
            </a>
        </div>
        <div class="page_menu">
            <div class="padding_10 ">
                <div class="dis_flex">
                    <div class="flex_2" style="margin-left: 10px;">
                        <a ng-click="goBack()" class="padding_10 font_medium" ng-if="assets.info && showBread" style="padding-left: 0;">
                            <i class="fa fa-arrow-left"></i> Back</span>
                        </a>
                        <a ng-if="isList" ng-click="changeDisplay()" uib-tooltip="Grid view" class="menu" style="padding-right:8px !important;"><img src="./images/icons/view-grid.svg"></a>
                        <a ng-if="!isList" ng-click="changeDisplay()" uib-tooltip="List view" class="menu" style="padding-right:8px !important;"><img src="./images/icons/view-list.svg"></a>
                        <!--<a ng-click="sortTime = !sortTime" class="font_medium padding_10">
                            <span ng-hide="sortTime">Oldest</span>
                            <span ng-show="sortTime">Latest</span> <i class="fa fa-long-arrow-down"></i>
                        </a>-->
                        <span class="btn-group padding_10">
                            <div class="inblock">
                                       <input type="search" ng-model="txtSearch" placeholder="Search keywords..."
                                              class="form-control" ng-keypress="($event.which === 13)?searchData():0" ng-change="(txtSearch.length < 1)?searchData():0"/>
                            </div><div class="inblock">
                                <div class="form_addon">
                                           <a class="blue1" ng-click="searchData()">
                                                <i class="fa fa-search"></i>
                                           </a>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div class="flex flex_3">
                        <a ng-click="showAllFiles()" ng-if="showToolBar" class="padding_10 font_medium menu" ng-class="{'menu-active': activePage =='Assets'}" uib-tooltip="Assets">
                            <span ng-hide="viewFavorite"><img src="./images/icons/ic_folder_black_px.svg" ></span>
                        </a>
                        <a ng-click="showAllTrash()" ng-if="showToolBar" class="padding_10 font_medium menu" ng-class="{'menu-active': activePage =='Trash'}" uib-tooltip="Trash">
                            <span ng-hide="viewFavorite"><img src="./images/icons/ic_delete_black_24px.svg"></span>
                        </a>
                        <a ng-click="showAllStarred()" ng-if="showToolBar" class="padding_10 font_medium menu" ng-class="{'menu-active': activePage =='Favorites'}" uib-tooltip="Favorites" style="margin-right: 10px;padding-right: 8px !important;">
                            <span ng-hide="viewFavorite"><img src="./images/icons/ic_star_black_24px.svg"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--END: Page Menu-->
        <div class="actions_menu dis_table">
            <section class="dis_cell secondary_menu">
                <a class="font_medium" ng-click="selectAll()">
                    {{selectedText}}
                </a>
                <a class="font_medium" ng-click="newFolder()" ng-if="showToolNewFolder">
                    <i class="fa fa-plus"></i> New Folder
                </a>
                <a class="font_medium" ng-click="newUploader()" ng-if="showToolNewUpload">
                    <i class="fa fa-plus"></i> Upload Files
                </a>
            </section>
            <section class=" context_menu dis_cell">
                <a ng-href="{{selectedFile.asset_url}}" target="_self" download="{{selectedFile.asset_url}}" ng-if="selectedFile.isFolder == false">
                    <i class="fa fa-download"></i>
                    <span class="sm_hid">Download</span>
                </a>
                <a ng-click="previewSelected()" ng-if="showToolPreview">
                    <i class="fa fa-eye"></i>
                    <span class="sm_hid">Preview</span>
                </a>
                <a ng-click="previewSelected()" ng-if="showToolOpen">
                    <i class="fa fa-folder-o"></i>
                    <span>Open</span>
                </a>
                <a ng-click="shareToOthers()" ng-if="showBarShare">
                    <i class="fa fa-share"></i>
                    <span class="sm_hid">Share</span>
                </a>
                <a ng-click="shareEmailToOthers()" ng-if="showBarShare">
                    <i class="fa fa-envelope-o"></i>
                    <span class="sm_hid">Email</span>
                </a>
                <a ng-click="restoreSelected()" ng-if="showBarRestore">
                    <i class="fa fa-history"></i>
                    <span class="sm_hid">Restore</span>
                </a>
                <a ng-click="deleteSelected()" ng-if="showBarDelete">
                    <i class="fa fa-trash-o"></i>
                    <span class="sm_hid">Delete</span>
                </a>
                <span uib-dropdown ng-if="showBarMore">
                    <a id="single-button" type="button" uib-dropdown-toggle ng-disabled="disabled">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <ul class="grey2 dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu"
                        aria-labelledby="single-button">
                        <li ng-if="selectedFile.isDeleted == 0">
                            <a ng-click="renameSelected()">
                                <span class="svg_icon_sm" style="padding: 0px 8px 0px 0px !important;"><img src="./images/icons/ico_rename02_black.svg" style="margin-top: -3px;"/> </span><span>Rename</span>
                </a>
                </li>
                <li ng-if="selectedFile.isFolder == false && selectedFile.isDeleted == 0">
                    <a ng-click="castModal()">
                        <span class="svg_icon_sm"><i class="ti ti-desktop padd"></i> Mirror
                            </a>
                        </li>
                        <li ng-if="selectedFile.isStarred == 1 && selectedFile.isDeleted == 0">
                            <a role="menuitem" tabindex="-1" href ng-click="starredSelected()">
                                <i class="fa fa-star padd" style="color:orange;"></i> Remove from Favorites
                            </a>
                        </li>
                        <li ng-if="selectedFile.isStarred == 0 && selectedFile.isDeleted == 0">
                            <a role="menuitem" tabindex="-1" href ng-click="starredSelected()">
                                <i class="ti ti-star padd"></i> Add to Favourite
                            </a>
                        </li>
                        <li ng-if="selectedFile.isDeleted == 0">
                            <a role="menuitem" tabindex="-1" ng-click="moveSelected()">
                                <i class="ti ti-move padd"></i> Move to Folder
                            </a>
                        </li>
                    </ul>
                </span>
            </section>
        </div>
        <!-- End: Actions Menu -->
        <div class="bcrms" ng-if="assets.info">
            <a class="bc-b4" ui-sref="main.presentation">
                Files
            </a>
            <span ng-if="assets.info.parent_folder">></span>
            <a class="bc-ct" ng-click="goBack()" ng-if="assets.info.parent_folder">
                {{assets.info.parent_folder.folder_name}}
            </a>
            <span ng-if="assets.info">></span>
            <a class="bc-ct">
                {{assets.info.folder_name}}
            </a>
        </div>
        <div class="folder_container">
            <div contextmenu="meta.contextmenu" class="dropdown contextmenu">
                <ul class="dropdown-menu" role="menu">
                    <li ng-if="meta.contextmenu.item.isFolder == true && meta.contextmenu.item.isDeleted == 0">
                        <a ng-click="previewSelected()">
                            <i class="fa fa-folder-o padd"></i> Open
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isFolder == false && meta.contextmenu.item.isDeleted == 0">
                        <a ng-click="previewSelected()">
                            <i class="ti ti-eye padd"></i> Preview
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isDeleted == 0">
                        <a ng-click="castModal()">
                            <i class="ti ti-desktop padd"></i> Mirror
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isDeleted == 0">
                        <a ng-click="shareToOthers()">
                            <i class="fa fa-share padd"></i> Share
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isFolder == false && meta.contextmenu.item.isDeleted == 0">
                        <a ng-click="shareEmailToOthers()">
                            <i class="fa fa-envelope-o padd"></i>
                            <span>Email</span>
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isStarred == 1 && meta.contextmenu.item.isDeleted == 0">
                        <a role="menuitem" tabindex="-1" href ng-click="starredSelected()">
                            <i class="fa fa-star padd" style="color:orange;"></i> Remove from Favorites
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isStarred == 0 && meta.contextmenu.item.isDeleted == 0">
                        <a role="menuitem" tabindex="-1" href ng-click="starredSelected()">
                            <i class="ti ti-star padd"></i> Add Star
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isDeleted == 0">
                        <a role="menuitem" tabindex="-1" ng-click="renameSelected()">
                            <span class="svg_icon_sm" style="padding: 0px 8px 0px 0px !important;"><img src="./images/icons/ico_rename02_black.svg" style="margin-top: -3px;"/> </span><span>Rename</span>
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isFolder == false && meta.contextmenu.item.isDeleted == 0">
                        <a role="menuitem" ng-href="{{meta.contextmenu.item.asset_url}}" target="_self" download="{{meta.contextmenu.item.asset_url}}">
                            <i class="ti ti-download padd"></i> Download
                        </a>
                    </li>
                    <li ng-if="showBarDelete">
                        <a role="menuitem" tabindex="-1" ng-click="deleteSelected()">
                            <i class="ti ti-trash padd"></i> Delete
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isDeleted == 1">
                        <a role="menuitem" tabindex="-1" ng-click="restoreSelected()">
                            <i class="fa fa-history padd"></i> Restore
                        </a>
                    </li>
                    <li ng-if="meta.contextmenu.item.isDeleted == 0">
                        <a role="menuitem" tabindex="-1" ng-click="moveSelected()">
                            <i class="ti ti-move padd"></i> Move to Folder
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="folder_container " ng-click="clearSelection()">
            <ng-include src="'./views/presentation/presentation.list.html'" ng-if="isList"></ng-include>
            <ng-include src="'./views/presentation/presentation.grid.html'" ng-if="!isList"></ng-include>
        </div>
    </div>
    <!-- End : Presentation -->
</div>
<!-- End : Wrapper -->
<style>
#active-presentation {
    background: #424242;
}

.scrroll {
    overflow-y: auto;
    height: 480px;
    overflow-x: hidden;
}

.scrroll::-webkit-scrollbar {
    width: 0.3em;
    height: 4px;
}

.scrroll::-webkit-scrollbar-thumb {
    background: #707976;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    line-height: 50px;
}

.menu-active {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px 0px inset;
    background-color: rgb(216, 216, 216);
    border-color: hsl(0, 0%, 57%);
}

.menu:hover {
    box-shadow: rgba(0, 0, 0, 0.54) 0px 0px 2px 0px;
    background-color: rgb(255, 252, 252);
    border-color: rgb(115, 115, 115);
    color: #080808;
    border-radius: 3px;
    margin-right: 10px;
    padding: 8px 6px 10px 8px !important;
}

.menu:active {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px 0px inset;
    background-color: rgb(216, 216, 216);
    border-color: hsl(0, 0%, 57%);
    color: #080808;
    border-radius: 3px;
    margin-right: 10px;
    padding: 8px 6px 10px 8px !important;
}

.menu1 {
    background-image: url(./images/icons/ic_folder_black_px.svg);
    /*border-radius: 3px; */
    margin-right: 10px;
    padding: 8px 31px 10px 8px !important;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu1-active {
    background-image: url(./images/icons/ic_folder_black_pxhover.svg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px 0px inset;
    background-color: rgb(216, 216, 216);
    border-color: hsl(0, 0%, 57%);
    border-radius: 3px;
}

.menu2 {
    background-image: url(./images/icons/ic_delete_black_24px.svg);
    /*border-radius: 3px; */
    margin-right: 10px;
    padding: 8px 31px 10px 8px !important;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu2-active {
    background-image: url(./images/icons/ic_delete_black_24pxhover.svg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px 0px inset;
    background-color: rgb(216, 216, 216);
    border-color: hsl(0, 0%, 57%);
    border-radius: 3px;
}

.menu3 {
    background-image: url(./images/icons/ic_star_black_24px.svg);
    /*border-radius: 3px; */
    margin-right: 10px;
    padding: 8px 31px 10px 8px !important;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu3-active {
    background-image: url(./images/icons/ic_star_black_24pxhover.svg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px 0px inset;
    background-color: rgb(216, 216, 216);
    border-color: hsl(0, 0%, 57%);
    border-radius: 3px;
}

.menu {
    border-radius: 3px;
    margin-right: 10px;
    padding: 8px 6px 10px 8px !important;
}

.modal-body {
    padding: 0 10px;
}

.head {
    margin-top: -155px;
    background-color: #2980dc;
    border-color: #2980dc;
    border-color: #2980dc;
    margin-right: 0;
    margin-left: 2.2%;
}

div.sticky {
    margin-top: -30px !important;
}

div.head {
    margin-top: 0px;
    position: fixed;
    width: 89.6%;
    background: #127bd2;
    color: #ffffff;
    z-index: 99;
    background-image: #fff;
    background: red;
    background: #fff;
}

.contextmenu li > a:hover {
    background-color: #efefef;
    color: #000;
}

.padd {
    padding: 0px 10px 0px 0px !important;
}
</style>
