<!--End: Context Menu-->
<!--<div class="thumbnail_view row" ng-swipe-up="swipe($event)">-->
<div class="thumbnail_view row">
    <div contextmenu-container="meta.contextmenu">
        <section class="sec_folder">
            <div class="font_medium grey2 pad_side_20 ">
                Folders
            </div>
            <div class="col-lg-3" ng-if="showToolNewFolder">
                <div class="new_item">
                    <a ng-click="newFolder()">
                        <div>
                            <i class="fa fa-plus"></i>
                        </div>
                        <div>
                            New Folder
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3" ng-click="activeSelected(file)" ng-dblclick="openFolder(file)" ng-repeat="file in assets.folders" contextmenu-item="file">
                <div class="folder_instance " uib-tooltip="{{file.folder_name}}">
                    <div class="folder_header ">
                        <div class=" folder_tail" ng-class="{'highlighted': file.isActive}">
                        </div>
                    </div>
                    <div style="padding:0px;">
                        <i class="fa fa-star text-yellow" ng-if="file.isStarred" style="padding-left: 15px;display: block;margin-bottom: -16px;font-size: 16px;margin-top: 0px;"></i>
                        <i class="fa fa-star-o" ng-if="!file.isStarred" style="padding-left: 15px;display: block;margin-bottom: -16px;font-size: 16px;margin-top: 0px;color: transparent;"></i>
                    </div>
                    <div class="folder_body " ng-class="{'highlighted': file.isActive}">
                        {{file.folder_name | ellipsis:true:18:'...'}}
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section class="sec_files">
            <div class="font_medium grey2 pad_side_20 ">
                Files
            </div>
            <div class="col-lg-3" ng-if="showToolNewUpload">
                <div class="new_item">
                    <a ng-click="newUploader()">
                        <div>
                            <i class="fa fa-plus"></i>
                        </div>
                        <div>
                            Upload New
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3" ng-click="activeSelected(files)" ng-dblclick="openFile(files)" ng-repeat="files in assets.assets" contextmenu-item="files">
                <td style="padding:0px;">
                    <i class="fa fa-star text-yellow" ng-if="files.isStarred" style="padding-left: 15px;display: block;margin-bottom: -25px;font-size: 16px;margin-top: 10px;"></i>
                    <i class="fa fa-star-o" ng-if="!files.isStarred" style="padding-left: 15px;display: block;margin-bottom: -25px;font-size: 16px;margin-top: 10px;color: transparent;"></i>
                </td>
                <div class="file_instance">
                    <div class="thumb_icon" style="padding: 0;">
                        <!-- PDF -->
                        <i class="fa fa-file-pdf-o text-red" ng-if="files.asset_mimetype == 'application/pdf' && !files.thumbnail.thumbnail" style="margin: 35px;"></i>
                        <!-- PDF -->
                        <img ng-src="{{files.thumbnail.thumbnail}}" alt="" imageonload style="height: 118px; width: 100%; overflow: hidden;" ng-if="files.asset_mimetype == 'application/pdf' && files.thumbnail.thumbnail" />
                        <!-- DOCS -->
                        <i class="fa fa-file-word-o text-blue" ng-if="files.asset_mimetype == 'application/msword' || files.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'" style="margin: 35px;"></i>
                        <!-- AUDIO -->
                        <i class="fa fa-file-audio-o" ng-if="files.asset_mimetype == 'audio/mp3' || files.asset_mimetype == 'audio/mp4'" style="margin: 35px;"></i>
                        <!-- VIDEO -->
                        <div class="videogular-container" style="height: 118px !important;"  ng-if="files.asset_mimetype == 'video/mp4' || files.asset_mimetype == 'video/x-flv' || files.asset_mimetype == 'video/x-msvideo' || files.asset_mimetype == 'video/x-ms-wmv' || files.asset_mimetype == 'video/quicktime' || files.asset_mimetype =='video/3gpp'">
                            <videogular vg-theme="item.url">
                                <vg-media vg-src="item.asset_url"></vg-media>
                                <vg-buffering></vg-buffering>
                            </videogular>
                        </div>
                        <!-- TEXT -->
                        <i class="fa fa-file-text-o text-blue" ng-if="files.asset_mimetype == 'text/plain'" style="margin: 35px;"></i>
                        <!-- EXCEL -->
                        <i class="fa fa-file-excel-o text-green" ng-if="files.asset_mimetype == 'text/csv' || files.asset_mimetype == 'application/vnd.ms-excel' || files.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" style="margin: 35px;"></i>
                        <!-- POWERPOINT -->
                        <i class="fa fa-file-powerpoint-o text-orange" ng-if="files.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || files.asset_mimetype == 'application/vnd.ms-powerpoint'" style="margin: 35px;"></i>
                        <!-- ZIP -->
                        <i class="fa fa-file-zip-o text-purple" ng-if="files.asset_mimetype == 'application/zip'" style="margin: 35px;"></i>
                        <!-- FILES -->
                        <i class="fa fa-file-o text-purple" ng-if="files.asset_mimetype == 'application/octet-stream'" style="margin: 35px;"></i>
                        <!-- IMAGE -->
                        <!-- <i class="fa fa-file-image-o text-purple" ng-if="files.asset_mimetype == 'image/jpeg' || files.asset_mimetype == 'image/jpg' || files.asset_mimetype == 'image/gif' || files.asset_mimetype == 'image/x-ms-bmp' || files.asset_mimetype == 'image/png'"></i> -->
                        <img src="{{files.asset_url}}" alt="Attachment" ng-if="files.asset_mimetype == 'image/jpeg' || files.asset_mimetype == 'image/jpg' || files.asset_mimetype == 'image/gif' || files.asset_mimetype == 'image/x-ms-bmp' || files.asset_mimetype == 'image/png'" style="width: 100%;height: 118px;" />
                    </div>
                    <div class=" item_info " ng-class="{'highlighted': files.isActive}">
                        {{files.asset_name | ellipsis:true:20:'...'}}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
