<!--Company Details-->
<div class="qtn-ctn" id="company-info">
    <div class="sec-qtn">
        <div class="form-type">
            Tell us about your client.
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="pad_vertical">
                    <div class="qtn qtn-default">
                        Company Name
                    </div>
                    <div>
                        <!--  <input type="text"  class="form-control" ng-model="details.company_name" id="focusedinput" required> infinite-scroll="addMoreItems()" infinite-scroll-distance="2" -->
                        <ui-select theme="bootstrap" ng-model="details" allow-clear on-select="getCompanyValue($item)" append-to-body="true" required>
                            <ui-select-match>
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="emp in (companies | filter: $select.search) track by $index" position='down'>
                                {{emp.name}}
                                <div ng-if="$index == $select.items.length - 1">
                                    <button class="btn btn-sm btn-success" style="width: 100%; margin-top: 1px;" ng-click="addmoreItems($select, $event);" ng-disabled="loading">Load more...</button>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                        <!-- <div angucomplete-alt id="ex1" placeholder="Search company" maxlength="50" selected-object="getCompanyValue" local-data="companies" search-fields="name" title-field="name" minlength="1" input-class="form-control" match-class="highlight" ></div> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="pad_vertical">
                    <div class="qtn qtn-default">
                        ABN/ACN
                    </div>
                    <div>
                        <input type="text" numbers-only class="form-control" ng-model="details.ABN" id="focusedinput" disabled >
                    </div>
                </div>
            </div>
        </div>
        <div class=" pad_vertical_15 font_medium dis_table">
            <div class="blue2 dis_cell">Shipping Details</div>
            <!--  <div class="dis_cell right_align">
                <div class="checkbox">
                    <input type="checkbox" ng-model="shipping" ng-click="useBillingAddress(shipping)"> Same as Shipping Address
                </div>
            </div> -->
        </div>
        <div ng-hide="shipping">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Street Address
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="details.ship_address" id="focusedinput" disabled required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            City
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="details.ship_city" id="focusedinput" disabled required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            State
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="details.ship_state" id="focusedinput" disabled required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Postal Code
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="details.ship_zipcode" id="focusedinput" disabled required>
                        </div>
                    </div>
                </div>
            </div>
            <!--Billing Details-->
            <div class="blue2 pad_vertical_15 font_medium">
                Billing Details
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Street Address
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="details.bill_address" id="focusedinput" disabled required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            City
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="details.bill_city" id="focusedinput" disabled required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            State
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="details.bill_state" id="focusedinput" disabled required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Postal Code
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="details.bill_zipcode" id="focusedinput" disabled required>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="pad_vertical">
                    <div class="qtn qtn-default">
                        State
                    </div>
                    <div>
                        <input type="text" class="form-control" ng-model="details.states" id="focusedinput" disabled required>
                    </div>
                </div>
            </div>
        </div> -->
            <!--Shipping Details-->
            <!--  <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            State
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="details.shippingstates" id="focusedinput" required>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <br>
        <!--Buttons-->
        <div class="btn-ctn flx-spb-hrt font_medium">
            <div> </div>
            <div uib-tooltip="Show this when disabled only" tooltip-enable="!companyForm.$invalid">
                <!--<button type="button" du-smooth-scroll="contact-info" ng-disabled="companyForm.$invalid" du-scrollspy ng-click="addRequest('contact-info')" class="btn btn-primary ">-->
                <!--Proceed-->
                <!--</button>-->
                <button type="button" du-smooth-scroll="contact-info" du-scrollspy ng-click="addRequest('contact-info')" class="btn btn-primary" ng-disabled="!details.name">
                    Proceed
                </button>
            </div>
        </div>
    </div>
</div>
<!--Contact Details-->
<div id="contact-info" class="qtn-ctn" ng-class="testclass" ng-if="contactInfo">
    <div>
        <div>
            <div class="form-type">
                Provide contact information.
            </div>
        </div>
        <div class="sec-qtn">
            <!--Question-->
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Last name
                        </div>
                        <div>
                            <!--  <div angucomplete-alt id="ex1" placeholder="Contact" maxlength="50" selected-object="getcontactPerson" local-data="persons" search-fields="lastname" title-field="lastname,firstname" minlength="1" input-class="form-control" match-class="highlight" override-suggestions="true"></div> -->
                            <input type="text" placeholder="Lastname"  class="form-control" ng-model="person.lastname" id="focusedinput" required minimum-input-length="3" refresh-delay="100">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            First name
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Firstname" ng-model="person.firstname" id="focusedinput" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Contact address
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Address" ng-model="person.address" id="focusedinput" required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Contact email
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email adddress" ng-model="person.email" id="focusedinput" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Contact number (home)
                        </div>
                        <div>
                            <input type="text" class="form-control" name="repeat" placeholder="Home number" ng-model="person.contact_number2" numbers-only id="focusedinput" required mask="99-999-9999">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Contact number (work)
                        </div>
                        <div>
                            <input type="text" class="form-control" name="repeat" placeholder="Mobile number" mask="9999-999-9999" numbers-only  ng-model="person.mobile" id="focusedinput" required>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!--Buttons-->
            <div class="btn-ctn flx-spb-hrt font_medium">
                <button href="#company-info" du-smooth-scroll du-scrollspy ng-click="" class="btn btn-default">
                    Back
                </button>
                <!--<a du-smooth-scroll="sec-purpose" ng-disabled="companyForm.$invalid"  du-scrollspy ng-click="innerForm('sec-purpose')" class="btn btn-primary">-->
                <!--Proceed-->
                <!--</a>-->
                <a du-smooth-scroll="sec-purpose" du-scrollspy ng-click="innerForm('sec-purpose')" class="btn btn-primary" ng-disabled="companyForm.$invalid" >
                    Proceed
                </a>
            </div>
        </div>
    </div>
</div>
<!--Objectives-->
<div id="sec-purpose" ng-class="testclass" class=" qtn-ctn" ng-if="purpose">
    <div>
        <div>
            <div class="form-type">
                Objectives
            </div>
        </div>
        <!--Question instance-->
        <div class="sec-qtn">
            <!--Question-->
            <div class="qtn qtn-default">
                Who are your intended audience?
            </div>
            <!--Options-->
            <div class="row btn-opt">
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <label class="" ng-model="audience" uib-btn-radio="'151'" ng-change="getObjective(audience)">Customers</label>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <label class="" ng-model="audience" uib-btn-radio="'152'" ng-change="getObjective(audience)"> Employees</label>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <label class="" ng-model="audience" uib-btn-radio="'153'" ng-change="getObjective(audience)">Visitors</label>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <label class="" ng-model="audience" uib-btn-radio="'154'" ng-change="getObjective(audience)">Others</label>
                </div>
            </div>
            <div class="row animate-entry" ng-show="audience == 'audienceOthers'">
                <br>
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Other
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="objectad">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Question instance-->
        <div class="sec-qtn">
            <!--Question-->
            <div class="qtn qtn-default">
                What are your objectives?
            </div>
            <!--Options-->
            <div class="row btn-opt">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4">
                    <label class="" ng-model="objectives" uib-btn-radio="'155'" ng-change="getobjectives(objectives)">Drive sales</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4">
                    <label class="" ng-model="objectives" uib-btn-radio="'156'" ng-change="getobjectives(objectives)"> Educate</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4">
                    <label class="" ng-model="objectives" uib-btn-radio="'157'" ng-change="getobjectives(objectives)">Internal comms</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4">
                    <label class="" ng-model="objectives" uib-btn-radio="'158'" ng-change="getobjectives(objectives)">Advertising</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4">
                    <label class="" ng-model="objectives" uib-btn-radio="'159'" ng-change="getobjectives(objectives)">Brand awareness</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4">
                    <label class="" id="option-others" ng-model="objectives" uib-btn-radio="'160'" ng-change="getobjectives(objectives)">Others</label>
                </div>
            </div>
            <br>
            <div class="row animate-entry" ng-show="objectives == 'objectivesOthers'">
                <div class="col-xs-12 col-sm-6">
                    <div class="pad_vertical">
                        <div class="qtn qtn-default">
                            Other
                        </div>
                        <div>
                            <input type="text" class="form-control" ng-model="objectother">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!--Buttons-->
            <div class="btn-ctn flx-spb-hrt font_medium">
                <a du-smooth-scroll="contact-info" du-scrollspy class="btn btn-default">
                    Back
                </a>
                <button ng-show="audience && objectives" type="submit" class="btn btn-success">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>
