<!--Request Details-->
<div id="rdImpress" ng-class="testclass" class="chuchu qtn-ctn">
    <div>
        <div>
            <div class="form-type">
                Request Details
            </div>
        </div>
        <!--Question instance-->
        <div class="sec-qtn">
            <div class="qtn qtn-default">
                How many solution will be deployed per site?
            </div>
            <div class="row ">
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <div class="dis_table_auto">
                        <div class="dis_cell">
                            <button class="btn btn-roller" ng-click="addminusValue('Site','minus')">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <div class="dis_cell">
                            <input type="text" class="qty-roller" ng-model="requestdetails.deployedsite" ng-change="deploysite(requestdetails.deployedsite)">
                        </div>
                        <div class="dis_cell">
                            <button class="btn btn-roller" ng-click="addminusValue('Site','plus')">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-qtn">
            <div class="qtn qtn-default">
                How many sites will the solution be deployed?
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <div class="dis_table_auto">
                        <div class="dis_cell">
                            <button class="btn btn-roller" ng-click="addminusValue('Solution','minus')">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <div class="dis_cell">
                            <input type="text" class="qty-roller" ng-model="requestdetails.deployedsolution" ng-change="deploysolution(requestdetails.deployedsolution)">
                        </div>
                        <div class="dis_cell">
                            <button class="btn btn-roller" ng-click="addminusValue('Solution','plus')">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Question instance-->
            <div class="sec-qtn">
                <!--Question-->
                <div class="qtn qtn-default">
                    What design experience do you require?
                </div>
                <!--Options-->
                <div class="row btn-opt flx-rwp">
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                        <label class="" ng-model="desXp" uib-btn-radio="'8'" ng-change="requestdetail(desXp)">
                            <div class="option-icon">
                                <i class="ti ti-blackboard"></i>
                            </div>
                            <div>
                                Proof of Concept
                            </div>
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                        <label class="" ng-model="desXp" uib-btn-radio="'9'" ng-change="requestdetail(desXp)">
                            <div class="option-icon">
                                <i class="ti ti-map"></i>
                            </div>
                            <div>
                                Rollout
                            </div>
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                        <label class="" ng-model="desXp" uib-btn-radio="'10'" ng-change="requestdetail(desXp)">
                            <div>
                                Both
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <!--Buttons-->
            <br>
            <div class="btn-ctn flx-spb-hrt font_medium">
                <a du-smooth-scroll="request-type" du-scrollspy ng-click="" class="btn btn-default">
                    Back
                </a>
                <a du-smooth-scroll="sec-sw-impress" ng-hide="!desXp" du-scrollspy ng-click="innerForm('sec-sw-impress')" class="btn btn-primary">
                    Proceed
                </a>
            </div>
        </div>
    </div>
</div>
<!--Software for Eze Find-->
<div id="sec-sw-impress" ng-class="testclass" ng-if="softwareImpress" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Software
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            Which CMS would you like to include in your solution?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="getValue('samediv')" ng-model="cms" uib-btn-radio="'76'" ng-change="softwaredetail('ezeimpress',cms)"> Eze Impress</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="getValue('samediv')" ng-model="cms" uib-btn-radio="'77'" ng-change="softwaredetail('ezeimpress',cms)"> Magic Info Pro</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="getValue('samediv')" ng-model="cms" uib-btn-radio="'78'" ng-change="softwaredetail('ezeimpress',cms)">John Ryan</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="getValue('samediv')" ng-model="cms" uib-btn-radio="'79'" ng-change="softwaredetail('ezeimpress',cms)">App Space</label>
            </div>
        </div>
        <br>
        <!--Buttons-->
        <div class="btn-ctn flx-spb-hrt font_medium">
            <a du-smooth-scroll="rdImpress" du-scrollspy class="btn btn-default">
                Back
            </a>
            <a du-smooth-scroll="sec-sd-impress" du-scrollspy ng-click="innerForm('sec-sd-impress')" class="btn btn-primary">
                Proceed
            </a>
        </div>
    </div>
</div>
<!--Screen Details for Eze Find-->
<div id="sec-sd-impress" ng-if="sdImpress" ng-class="testclass" class="qtn-ctn">
    <div>
        <div class="form-type">
            Screen Details
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            How would you like your screen to be configured?
        </div>
        <!--Options-->
        <div class="row btn-opt flx-rwp">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-model="sd" uib-btn-radio="'15'" ng-change="screendetail(sd)">
                    <div class="option-icon">
                        <i class="ti ti-layout-width-full"></i>
                    </div>
                    <div>
                        Single
                    </div>
                </label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-model="sd" uib-btn-radio="'16'" ng-change="screendetail(sd)">
                    <div class="option-icon">
                        <i class="ti ti-layout-column2 "></i>
                    </div>
                    <div>
                        Dual
                    </div>
                </label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-model="sd" uib-btn-radio="'17'" ng-change="screendetail(sd)">
                    <div class="option-icon">
                        <i class="ti ti-layout-grid3"></i>
                    </div>
                    <div>
                        Matrix
                    </div>
                </label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-model="sd" uib-btn-radio="'18'" ng-change="screendetail(sd)">BYO</label>
            </div>
        </div>
        <br>
        <div class="animate-if" ng-if="screen.screendetails == '17'">
            <div class="row " id="matrix-config">
                <div class="col-xs-12 col-lg-4">
                    <div class="blue2 qtn qtn-default">
                        Matrix Configurator
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="grey2 font_medium">
                                Row
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="dis_table_auto">
                                <div class="dis_cell">
                                    <button class="btn btn-roller" ng-click="minusRowsColumn('rows')">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <div class="dis_cell">
                                    <input type="text" ng-model="details.rows" style="width: 100px;" ng-change="matrixrow(details.rows)">
                                </div>
                                <div class="dis_cell">
                                    <button class="btn btn-roller" ng-click="addRowsColumn('rows')">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="grey2 font_medium">
                                Column
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="dis_table_auto">
                                <div class="dis_cell">
                                    <button class="btn btn-roller" name="screen-width" ng-click="minusRowsColumn('columns')">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <div class="dis_cell">
                                    <input type="text" ng-model="details.columns" style="width: 100px;" ng-change="matrixcolumn(details.columns)">
                                </div>
                                <div class="dis_cell">
                                    <button class="btn btn-roller" ng-click="addRowsColumn('columns')">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="grey2 font_medium">
                                Orientation
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 ">
                            <div class="btn-group" uib-dropdown>
                                <button id="single-button" uib-dropdown-toggle type="button" class="full_width btn font_medium btn-default">
                                    {{orientation}}
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li role="menuitem" ng-click="selectOrientation('Portrait')"><a>Portrait</a>
                                    </li>
                                    <li role="menuitem" ng-click="selectOrientation('Landscape')"><a>Landscape</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--  <div class="btn-group" uib-dropdown>

                         <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                             Button dropdown <span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                             <li role="menuitem"><a href="#">Action</a></li>
                             <li role="menuitem"><a href="#">Another action</a></li>
                             <li role="menuitem"><a href="#">Something else here</a></li>
                             <li class="divider"></li>
                             <li role="menuitem"><a href="#">Separated link</a></li>
                         </ul>
                     </div> -->
                    </div>
                    <br>
                </div>
                <div class="col-xs-12 col-lg-8">
                    <div style="width:100%; padding:0 10px;">
                        <table class="tablecustom">
                            <tbody>
                            <tr ng-repeat="row in cells track by $index">
                                <td ng-class="myStyle" ng-repeat="cell in row track by $index"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="wrappler">
                            <div class="line"></div>
                            <div class="wordwrapper">
                                <div class="word">52mm</div>
                            </div>
                        </div>
                    </div>
                    <div class="fancyholder">
                        <div class="fancy">
                            <div>52mm</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec-qtn" id="screen-size">
                <!--Question-->
                <div class="qtn qtn-default">
                    Select screen size.
                </div>
                <!--Options-->
                <br>
                <div class="row pad_vertical_15" ng-repeat="slider in singleDualslider track by $index">
                    <div class="col-xs-12 col-sm-7">
                        <rzslider rz-slider-model="slider.minValue" rz-slider-options="slider.options"></rzslider>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input type="text" class="form-control" ng-model="slider.minValue">
                    </div>
                    <a ng-if="singleDualslider.length > 1" ng-hide="$index == 0" class="col-xs-12 col-sm-2 font_medium grey3 " ng-click="removeScreen($index)" style="font-size: x-large;">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
                <br>
                <a class="font_medium grey3" ng-click="addSingleDualScreen()">
                    <i class="fa fa-plus"></i> Add more option
                </a>
            </div>
        </div>
    </div>
    <div class="animate-if" ng-if="screen.screendetails == '15' ||screen.screendetails == '16' ">
        <div class="sec-qtn" id="screen-size">
            <!--Question-->
            <div class="qtn qtn-default">
                Select screen size.
            </div>
            <!--Options-->
            <br>
            <!-- <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <rzslider rz-slider-model="singleDualslider.minValue" rz-slider-options="singleDualslider.options"></rzslider>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input type="text" class="form-control" ng-model="singleDualslider.minValue">
                    </div>
                </div>
                <br> -->
            <div class="row pad_vertical_15" ng-repeat="slider in singleDualslider track by $index">
                <div class="col-xs-12 col-sm-7">
                    <rzslider rz-slider-model="slider.minValue" rz-slider-options="slider.options"></rzslider>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <input type="text" class="form-control" ng-model="slider.minValue">
                </div>
                <a ng-if="singleDualslider.length > 1" ng-hide="$index == 0" class="col-xs-12 col-sm-2 font_medium grey3 " ng-click="removeScreen($index)" style="font-size: x-large;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
            <br>
            <a class="font_medium grey3" ng-click="addSingleDualScreen()">
                <i class="fa fa-plus"></i> Add more option
            </a>
        </div>
    </div>
    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <button du-smooth-scroll="sec-sw-impress" du-scrollspy ng-click="" class="btn btn-default">
            Back
        </button>
        <button du-smooth-scroll="sec-st-impress" du-scrollspy class="btn btn-primary" ng-click="innerForm('sec-st-impress')">
            Proceed
        </button>
    </div>
</div>
<!--Screen type for Eze Impress-->
<div id="sec-st-impress" ng-if="stImpress" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Screen Type
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What screen type would you prefer?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label ng-model="st" uib-btn-radio="'94'" ng-change="screenType(st)"> Eze Impress</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-model="st" uib-btn-radio="'95'" ng-change="screenType(st)"> Enhanced Pro
                </label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label ng-model="st" uib-btn-radio="'96'" ng-change="screenType(st)">Premium</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label ng-model="st" uib-btn-radio="'97'" ng-change="screenType(st)">Custom</label>
            </div>
        </div>
        <div id="sub-custom" ng-show="st == 'custom-usage'">
            <div class="qtn qtn-default">
                Usage
            </div>
            <div class="row btn-opt">
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <label class="" ng-click="" ng-model="custom" uib-btn-radio="'1'">24/7</label>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <label class="" ng-click="" ng-model="custom" uib-btn-radio="'2'"> 16/7</label>
                </div>
            </div>
        </div>
        <!--Buttons-->
        <div class="btn-ctn flx-spb-hrt font_medium">
            <button du-smooth-scroll="sec-sd-impress" du-scrollspy ng-click="scrollTo('')" class="btn btn-default">
                Back
            </button>
            <button du-smooth-scroll="sec-si-impress" du-scrollspy ng-click="innerForm('sec-si-impress')" class="btn btn-primary">
                Proceed
            </button>
        </div>
    </div>
</div>
<!--Site Installation-->
<div id="sec-si-impress" ng-if="siteInstall" ng-class="testclass" class="qtn-ctn">
    <div>
        <div class="form-type">
            Site Installation
        </div>
    </div>
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What is your preferred distance betweeen DMP and Screen?
        </div>
        <br>
        <!--Options-->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <rzslider rz-slider-model="siteinstallslider.value" rz-slider-options="siteinstallslider.options"></rzslider>
            </div>
            <div class="col-xs-12 col-sm-3">
                <input type="text" class="form-control" ng-model="siteinstallslider.value">
            </div>
        </div>
        <!--Options-->
        <br>
        <br>
        <!--Question-->
        <div class="qtn qtn-default">
            What is your preferred DMP install location?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="siteinstall" uib-btn-radio="'41'" ng-change="installLocation(siteinstall)">Near the screen</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="siteinstall" uib-btn-radio="'42'" ng-change="installLocation(siteinstall)">In the server room</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="siteinstall" uib-btn-radio="'43'" ng-change="installLocation(siteinstall)">Back of the screen</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="siteinstall" uib-btn-radio="'44'" ng-change="installLocation(siteinstall)">Other</label>
            </div>
        </div>
        <!--Options-->
        <div class="row animate-entry" ng-show="siteinstall == '44'">
            <div class="col-xs-12 col-sm-6">
                <div class="pad_vertical">
                    <div class="qtn qtn-default">
                        Other
                    </div>
                    <div>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="qtn qtn-default">
            Who do you prefer to install the solution on site?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label ng-model="whoInstall" uib-btn-radio="'45'" ng-change="solutionsite(whoInstall)">Engagis</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label ng-model="whoInstall" uib-btn-radio="'47'" ng-change="solutionsite(whoInstall)">3rd Party</label>
            </div>
        </div>
    </div>
    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a du-smooth-scroll="sec-media-player" du-scrollspy ng-click="scrollTo('')" class="btn btn-default">
            Back
        </a>
        <a du-smooth-scroll="sec-pt-impress" ng-show="siteinstall && whoInstall" du-scrollspy ng-click="innerForm('sec-pt-impress')" class="btn btn-primary">
            Proceed
        </a>
    </div>
</div>
<!--Project Timeline-->
<div id="sec-pt-impress" ng-if="ptImpress" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Project Timeline
        </div>
    </div>
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What is the timeline of implementing the solution?
        </div>
        <br>
        <!--Options-->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <rzslider rz-slider-model="projectslider.value" rz-slider-options="projectslider.options"></rzslider>
            </div>
            <div class="col-xs-12 col-sm-3">
                <input type="text" class="form-control" ng-model="projectslider.value">
            </div>
        </div>
        <!--Options-->
    </div>
    <!--Question instance-->
    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a du-smooth-scroll="sec-si-impress" du-scrollspy ng-click="scrollTo('')" class="btn btn-default">
            Back
        </a>
        <a du-smooth-scroll="sec-sp-impress" du-scrollspy ng-click="innerForm('sec-sp-impress')" class="btn btn-primary">
            Proceed
        </a>
    </div>
</div>
<!--Support package-->
<div id="sec-sp-impress" ng-if="spImpress" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Support Package
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What support package do you prefer?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="supportpack" uib-btn-radio="'53'" ng-change="supportPack(supportpack)">Essential</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="supportpack" uib-btn-radio="'54'" ng-change="supportPack(supportpack)">Enterprise</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="supportpack" uib-btn-radio="'55'" ng-change="supportPack(supportpack)">3rd Party</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="supportpack" uib-btn-radio="'56'" ng-change="supportPack(supportpack)">DIY</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="supportpack" uib-btn-radio="'57'" ng-change="supportPack(supportpack)">Custom</label>
            </div>
        </div>
    </div>
    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a du-smooth-scroll="sec-pt-impress" du-scrollspy ng-click="scrollTo('');" class="btn btn-default">
            Back
        </a>
        <a du-smooth-scroll="sec-con-impress" ng-hide="!supportpack" du-scrollspy ng-click="innerForm('sec-con-impress');" class="btn btn-primary">
            Proceed
        </a>
    </div>
</div>
<!--Connectivity-->
<div id="sec-con-impress" ng-if="connectivity" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Connectivity
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What is your current network?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="currentnet" uib-btn-radio="'58'" ng-change="currentnets(currentnet)">With existing connection</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="currentnet" uib-btn-radio="'59'" ng-change="currentnets(currentnet)">Requires new connection</label>
            </div>
        </div>
        <br>
        <div class="qtn qtn-default">
            LAN preference
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="lanpref" uib-btn-radio="'60'" ng-change="lanprefer(lanpref)">Wired</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="lanpref" uib-btn-radio="'61'" ng-change="lanprefer(lanpref)">Wireless</label>
            </div>
        </div>
        <br>
        <div class="qtn qtn-default">
            WAN preference
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="wanpref" uib-btn-radio="'62'" ng-change="wanprefer(wanpref)">ASL</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="wanpref" uib-btn-radio="'63'" ng-change="wanprefer(wanpref)">DSL</label>
            </div>
        </div>
    </div>
    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a du-smooth-scroll="sec-sp-impress" du-scrollspy class="btn btn-default">
            Back
        </a>
        <a du-smooth-scroll="sec-cot-impress" ng-show="currentnet && lanpref && wanpref" du-scrollspy ng-click="innerForm('sec-cot-impress')" class="btn btn-primary">
            Proceed
        </a>
    </div>
</div>
<!--Content Management-->
<div id="sec-cot-impress" ng-show="content" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Content management
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            How do you plan to create content?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="createcontent" ng-change="createcont(createcontent)" uib-btn-radio="'64'">Use in-house resources</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="createcontent" ng-change="createcont(createcontent)" uib-btn-radio="'65'">We have an agency already</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4">
                <label class="" ng-model="createcontent" ng-change="createcont(createcontent)" uib-btn-radio="'66'">We want a proposal from Engagis</label>
            </div>
        </div>
        <br>
    </div>
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            How do you plan to manage content?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="managecontent" ng-change="contentmanage(managecontent)" uib-btn-radio="'67'">Use in-house resources</label>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4">
                <label class="" ng-click="" ng-model="managecontent" ng-change="contentmanage(managecontent)" uib-btn-radio="'68'">We want a proposal from Engagis</label>
            </div>
        </div>
        <br>
    </div>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a du-smooth-scroll="sec-con-impress" du-scrollspy class="btn btn-default">
            Back
        </a>
        <a du-smooth-scroll="request-review" ng-show="createcontent && managecontent" du-scrollspy ng-click="setTab(3)" class="btn btn-success">
            Next
        </a>
    </div>
</div>