<!--Prototype-->
<div class="qtn-ctn" ng-class="testclass">
    <!--Form section-->
    <div>
        <div class="form-type">
            Prototype specifications
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What type of prototype do your require?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="pt" uib-btn-radio="'132'" ng-change="protoTypespec(pt)">Web</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-4">
                <label class="" ng-model="pt" uib-btn-radio="'133'" ng-change="protoTypespec(pt)">Native</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-4">
                <label class="" ng-model="pt" uib-btn-radio="'134'" ng-change="protoTypespec(pt)">Virtual Reality</label>
            </div>
        </div>
        <br>
        <!--Question-->
        <div class="qtn qtn-default">
            Choose one prototyping package.
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="pp" uib-btn-radio="'135'" ng-change="getproPackage(pp)">Essential</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-4">
                <label class="" ng-model="pp" uib-btn-radio="'136'" ng-change="getproPackage(pp)">Enhanced</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-4">
                <label class="" ng-model="pp" uib-btn-radio="'137'" ng-change="getproPackage(pp)">Premium</label>
            </div>
        </div>
    </div>
    <div class="sec-qtn">
        <!--Options-->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="pad_vertical">
                    <div class="qtn qtn-default">
                        Requirements
                    </div>
                    <div>
                        <textarea name="txtarea1" cols="50" rows="4" class="form-control" ng-model="prototyperequest.prototyperequirements"></textarea>
                    </div>
                    <div class="flx-spb-hrt">
                        <a class="font_medium" type="file" ngf-select="uploadFiles($files)" ng-model="files" ngf-max-size="8MB" ngf-multiple="true" ngf-keep="'distinct'">
                            <i class="fa fa-link"></i> Attach file(s)
                        </a>
                        <div ng-show="files.length" class="animate-entry blue2">
                            <span class="font_medium grey2" ng-repeat="item in files">{{item.name}}
                            <a ng-click="removeFiles($index)"><i class="fa fa-times"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <button du-smooth-scroll="request-type" du-scrollspy class="btn btn-default">
            Back
        </button>
        <button ng-click="setTab(3)" class="btn btn-success">
            Next
        </button>
    </div>
</div>
