<div class="qtn-ctn" id="request-review">
    <div class="row">
        <div class="col-xs-12">
            <div class="font_18 font_medium blue1">
                Review request.
            </div>
            <br>
            <p>You have successfully filled out necessary information for you request. Please take time
                to review it below and edit necessary details you desire to change. Once your request is
                <b>Final</b>, please click <b>Next</b> below to continue.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-6">
            <div class=" pad_vertical_15 request-specs">
                <div class="flx-spb-hrt">
                    <div class=" font_16 font_bold blue3">
                        CUSTOMER DETAILS
                    </div>
                    <div>
                        <a class=" font_medium">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </div>

                </div>
                <table class="info_table tbl-bordered full_width tbl-lg ">
                    <tbody>
                    <tr>
                        <th class="tbl-label" colspan="2">Customer details</th>
                    </tr>
                    <tr>
                        <th>Company</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>ABN/ACN</th>
                        <td>Lorem Ipsum</td>
                    </tr>
                    <tr>
                        <th class="tbl-label" colspan="2">Contact Details</th>
                    </tr>
                    <tr>
                        <th>Contact name</th>
                        <td>
                            Emily Rose
                        </td>
                    </tr>
                    <tr>
                        <th>Contact address</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact email</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact number (Home)</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact number (Work)</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-sm-6">
            <div class=" pad_vertical_15 request-specs">
                <div class="flx-spb-hrt">
                    <div class=" font_16 font_bold blue3">
                        REQUEST DETAILS
                    </div>
                    <div>
                        <a class=" font_medium">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </div>

                </div>
                <table class="info_table tbl-bordered full_width tbl-lg ">
                    <tbody>
                    <tr>
                        <th class="tbl-label" colspan="2">Customer details</th>
                    </tr>
                    <tr>
                        <th>Company</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>ABN/ACN</th>
                        <td>Lorem Ipsum</td>
                    </tr>
                    <tr>
                        <th class="tbl-label" colspan="2">Contact Details</th>
                    </tr>
                    <tr>
                        <th>Contact name</th>
                        <td>
                            Emily Rose
                        </td>
                    </tr>
                    <tr>
                        <th>Contact address</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact email</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact number (Home)</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact number (Work)</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th class="tbl-label" colspan="2">Contact Details</th>
                    </tr>
                    <tr>
                        <th>Contact name</th>
                        <td>
                            Emily Rose
                        </td>
                    </tr>
                    <tr>
                        <th>Contact address</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact email</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact number (Home)</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact number (Work)</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th class="tbl-label" colspan="2">Contact Details</th>
                    </tr>
                    <tr>
                        <th>Contact name</th>
                        <td>
                            Emily Rose
                        </td>
                    </tr>
                    <tr>
                        <th>Contact address</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact email</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact number (Home)</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    <tr>
                        <th>Contact number (Work)</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <br><br>
    <div class="row font_medium">
        <div class="col-xs-6">
            <button ng-click="setTab(1)" class="btn btn-default">
                Back
            </button>

        </div>
        <div class="col-xs-6 right_align">
            <button class="btn btn-success">
                Next
            </button>
        </div>

    </div>
</div>

