<!--Request Details-->
<div  ng-class="testclass"id="rdImpress" class="chuchu qtn-ctn">
    <div>
        <div>
            <div class="form-type">
                Request Details
            </div>
        </div>
        <!--Question instance-->
        <div class="sec-qtn">

            <div class="qtn qtn-default">
                How many solution will be deployed per site?
            </div>


            <div class="row ">
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <div class="dis_table_auto">
                        <div class="dis_cell">
                            <button class="btn btn-roller">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <div class="dis_cell">
                            <input type="text" class="qty-roller">
                        </div>
                        <div class="dis_cell">
                            <button class="btn btn-roller">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-qtn">
            <div class="qtn qtn-default">
                How many sites will the solution be deployed?
            </div>


            <div class="row ">
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <div class="dis_table_auto">
                        <div class="dis_cell">
                            <button class="btn btn-roller">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <div class="dis_cell">
                            <input type="text" class="qty-roller">
                        </div>
                        <div class="dis_cell">
                            <button class="btn btn-roller">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Question instance-->
            <div class="sec-qtn">
                <!--Question-->
                <div class="qtn qtn-default">
                    What design experience do you require?
                </div>
                <!--Options-->
                <div class="row btn-opt flx-rwp">
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                        <label class="" ng-click="" ng-model="desXp" uib-btn-radio="'proof'"> Proof of Concept</label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                        <label class="" ng-click="" ng-model="desXp" uib-btn-radio="'rollout'"> Rollout</label>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                        <label class="" ng-click="" ng-model="desXp" uib-btn-radio="'both'">Both</label>
                    </div>
                </div>
            </div>
            <!--Buttons-->
            <br>
            <div class="btn-ctn flx-spb-hrt font_medium">
                <a du-smooth-scroll="request-type" du-scrollspy ng-click="" class="btn btn-default">
                    Back
                </a>
                <a du-smooth-scroll="sec-sw-impress"  du-scrollspy ng-click="innerForm('sec-sw-impress')" class="btn btn-primary">
                    Proceed
                </a>
            </div>
        </div>
    </div>


</div>

<!--Software for Eze Impress-->
<div id="sec-sw-impress" ng-if="softwareImpress" ng-class="testclass"  class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Software
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            Which CMS would you like to include in your solution?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="getValue('samediv')" ng-model="cms" uib-btn-radio="'1'"> Eze Impress</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="getValue('samediv')" ng-model="cms" uib-btn-radio="'2'"> Magic Info
                    Pro</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="getValue('samediv')" ng-model="cms" uib-btn-radio="'3'">John Ryan</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="getValue('samediv')" ng-model="cms" uib-btn-radio="'4'">App Space</label>
            </div>
        </div>
        <br>
        <!--Buttons-->
        <div class="btn-ctn flx-spb-hrt font_medium">
            <a  du-smooth-scroll="rdImpress" du-scrollspy class="btn btn-default">
                Back
            </a>
            <a  du-smooth-scroll="sec-sd-impress" du-scrollspy ng-click="innerForm('sec-sd-impress')" class="btn btn-primary">
                Proceed
            </a>
        </div>
    </div>
</div>

<!--Screen Details for Eze Impress-->
<div id="sec-sd-impress" ng-if="sdImpress"  ng-class="testclass" class="qtn-ctn">
    <div>
        <div class="form-type">
            Screen Details

        </div>
    </div>

    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            How would you like your screen to be configured?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="" ng-model="sd" uib-btn-radio="'1'">Single</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="" ng-model="sd" uib-btn-radio="'2'">Dual</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="" ng-model="sd" uib-btn-radio="'3'">Matrix</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="" ng-model="sd" uib-btn-radio="'4'">BYO</label>
            </div>

        </div>


        <br>
        <div class="row">
            <div class="col-lg-4">
                <div class="blue2 qtn qtn-default">
                    Matrix Configurator
                </div>
                <br>


                <div class="row">
                    <div class="col-xs-3">
                        <div class="grey2 font_medium">
                            Row
                        </div>

                    </div>
                    <div class="col-xs-3">
                        <div class="dis_table_auto">
                            <div class="dis_cell">
                                <button class="btn btn-roller">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div class="dis_cell">
                                <input type="text" class="qty-roller">
                            </div>
                            <div class="dis_cell">
                                <button class="btn btn-roller">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="grey2 font_medium">
                            Column
                        </div>

                    </div>
                    <div class="col-xs-3">
                        <div class="dis_table_auto">
                            <div class="dis_cell">
                                <button class="btn btn-roller">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div class="dis_cell">
                                <input type="text" class="qty-roller">
                            </div>
                            <div class="dis_cell">
                                <button class="btn btn-roller">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="grey2 font_medium">
                            Orientation
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9">
                        <button uib-popover-template="dynamicPopover.templateUrl"
                                popover-trigger="outsideClick"
                                popover-placement="bottom" type="button"
                                class="full_width btn font_medium btn-default">
                            Portrait
                            <i class="fa fa-caret-down"></i>
                        </button>

                    </div>

                </div>
                <br>


            </div>
            <div class="col-lg-8">
                <div style="width:100%; border: solid thin black; height:200px;">
                    Live Configurator Here
                </div>

            </div>


        </div>

    </div>
    <br>
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            Select screen size.
        </div>
        <!--Options-->
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
            </div>

            <div class="col-xs-12 col-sm-3">
                <input type="text" class="form-control" name="" ng-model="slider.value">
            </div>
        </div>
        <br>
        <a class="font_medium grey3">
            <i class="fa fa-plus"></i> Add more option
        </a>


    </div>

    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <button  du-smooth-scroll="sec-sw-impress" du-scrollspy ng-click="" class="btn btn-default">
            Back
        </button>
        <button du-smooth-scroll="sec-st-impress" du-scrollspy class="btn btn-primary" ng-click="innerForm('sec-st-impress')">
            Proceed
        </button>
    </div>

</div>

<!--Screen type for Eze Impress-->
<div id="sec-st-impress" ng-if="stImpress" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Screen Type
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What screen type would you prefer?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="hideOptions()" ng-model="st" uib-btn-radio="'1'">Essential</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="hideOptions()" ng-model="st" uib-btn-radio="'2'"> Enhanced</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="hideOptions()" ng-model="st" uib-btn-radio="'3'">Premium</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <label class="" ng-click="innerForm('sub-custom')" ng-model="st" uib-btn-radio="'4'">Custom</label>
            </div>
        </div>


        <div id="sub-custom" ng-if="stCustom">
            <div class="qtn qtn-default">
                Usage
            </div>
            <div class="row btn-opt">
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <label class="" ng-click="" ng-model="custom" uib-btn-radio="'1'">24/7</label>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                    <label class="" ng-click="" ng-model="custom" uib-btn-radio="'2'"> 16/7</label>
                </div>
            </div>
        </div>

        <!--Buttons-->
        <div class="btn-ctn flx-spb-hrt font_medium">
            <button du-smooth-scroll="sec-sd-impress" du-scrollspy ng-click="scrollTo('')" class="btn btn-default">
                Back
            </button>
            <button du-smooth-scroll="sec-si-impress" du-scrollspy ng-click="innerForm('sec-si-impress')" class="btn btn-primary">
                Proceed
            </button>
        </div>
    </div>
</div>

<!--Site Installation-->
<div id="sec-si-impress" ng-if="siteInstall" ng-class="testclass" class="qtn-ctn">
    <div>
        <div class="form-type">
            Site Installation
        </div>
    </div>

    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What is your preferred distance betweeen DMP and Screen?
        </div>
        <br>
        <!--Options-->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
            </div>

            <div class="col-xs-12 col-sm-3">
                <input type="text" class="form-control" name="" ng-model="slider.value">
            </div>
        </div>
        <!--Options-->
        <br><br>
        <!--Question-->
        <div class="qtn qtn-default">
            What is your preferred DMP install location?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="si" uib-btn-radio="'1'">Near the screen</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="si" uib-btn-radio="'2'">In the server room</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="si" uib-btn-radio="'3'">Back of the screen</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="si" uib-btn-radio="'4'">Other</label>
            </div>

        </div>
        <!--Options-->
        <br>
        <div class="qtn qtn-default">
            Who do you prefer to install the solution on site?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="whoInstall" uib-btn-radio="'1'">Engagis</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="whoInstall" uib-btn-radio="'2'">3rd Party</label>
            </div>
        </div>

    </div>

    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a du-smooth-scroll="sec-st-impress" du-scrollspy ng-click="scrollTo('')" class="btn btn-default">
            Back
        </a>
        <a du-smooth-scroll="sec-pt-impress" du-scrollspy ng-click="innerForm('sec-pt-impress')" class="btn btn-primary">
            Proceed
        </a>
    </div>

</div>

<!--Project Timeline-->
<div id="sec-pt-impress" ng-if="ptImpress" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Project Timeline
        </div>
    </div>

    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What is the timeline of implementing the solution?
        </div>
        <br>
        <!--Options-->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
            </div>

            <div class="col-xs-12 col-sm-3">
                <input type="text" class="form-control" name="" ng-model="slider.value">
            </div>
        </div>
        <!--Options-->
    </div>


    <!--Question instance-->


    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a  du-smooth-scroll="sec-si-impress" du-scrollspy ng-click="scrollTo('')" class="btn btn-default">
            Back
        </a>
        <a du-smooth-scroll="sec-sp-impress" du-scrollspy ng-click="innerForm('sec-sp-impress')" class="btn btn-primary">
            Proceed
        </a>
    </div>

</div>

<!--Support package-->
<div id="sec-sp-impress" ng-if="spImpress" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Support Package
        </div>
    </div>

    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What support package do you prefer?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="sp" uib-btn-radio="'1'">Essential</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="sp" uib-btn-radio="'2'">Enterprise</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="sp" uib-btn-radio="'3'">3rd Party</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="sp" uib-btn-radio="'4'">DIY</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="sp" uib-btn-radio="'5'">Custom</label>
            </div>

        </div>

    </div>
    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a  du-smooth-scroll="sec-pt-impress" du-scrollspy ng-click="scrollTo('');" class="btn btn-default">
            Back
        </a>
        <a du-smooth-scroll="sec-con-impress" du-scrollspy ng-click="innerForm('sec-con-impress');" class="btn btn-primary">
            Proceed
        </a>
    </div>

</div>

<!--Connectivity-->
<div id="sec-con-impress" ng-if="connectivity" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Connectivity
        </div>
    </div>

    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What is your current network?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="nw" uib-btn-radio="'1'">With existing connection</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="nw" uib-btn-radio="'2'">Requires new connection</label>
            </div>

        </div>
        <br>
        <div class="qtn qtn-default">
            LAN preference
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="lp" uib-btn-radio="'1'">Wired</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="lp" uib-btn-radio="'2'">Wireless</label>
            </div>


        </div>
        <br>
        <div class="qtn qtn-default">
            WAN preference
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="wp" uib-btn-radio="'1'">ASL</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="wp" uib-btn-radio="'2'">DSL</label>
            </div>
        </div>


    </div>

    <br>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a  du-smooth-scroll="sec-sp-impress" du-scrollspy  class="btn btn-default">
            Back
        </a>
        <a  du-smooth-scroll="sec-cot-impress" du-scrollspy ng-click="innerForm('sec-cot-impress')" class="btn btn-primary">
            Proceed
        </a>
    </div>

</div>


<!--Content Management-->
<div id="sec-cot-impress" ng-if="content" ng-class="testclass" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Content management
        </div>
    </div>

    <!--Question instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            How do you plan to create content?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="ct" uib-btn-radio="'1'">Use in-house resources</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="ct" uib-btn-radio="'2'">We have an agency already</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-4">
                <label class="" ng-click="" ng-model="ct" uib-btn-radio="'3'">We want a proposal from Engagis</label>
            </div>

        </div>
        <br>


    </div>
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            How do you plan to manage content?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="" ng-model="ctB" uib-btn-radio="'1'">Use in-house resources</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-4">
                <label class="" ng-click="" ng-model="ctB" uib-btn-radio="'2'">We want a proposal from Engagis</label>
            </div>
        </div>
        <br>


    </div>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <a  du-smooth-scroll="sec-con-impress" du-scrollspy  class="btn btn-default">
            Back
        </a>
        <a du-smooth-scroll="request-review" du-scrollspy ng-click="setTab(3)" class="btn btn-success">
            Next
        </a>
    </div>

</div>



