<!--Others-->
<div class="qtn-ctn" ng-class="testclass">
    <!--Form section-->
    <div>
        <div class="form-type">
            Others
        </div>
    </div>
    <!--Question instance-->
    <div class="sec-qtn">
        <!--Options-->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="pad_vertical">
                    <div class="qtn qtn-default">
                        Please provide why this request appropriately belongs to "Others".
                    </div>
                    <div>
                        <textarea name="txtarea1" cols="50" rows="4" class="form-control" ng-model="requestothers.requestother"></textarea>
                    </div>
                    <!--  <div class="flx-spb-hrt">
                        <a class="font_medium" type="file" ngf-select="uploadFiles($files)" ng-model="files" ngf-max-size="8MB" ngf-multiple="true" ngf-keep="'distinct'">
                            <i class="fa fa-link"></i> Attach file(s)
                        </a>
                        <div ng-show="files.length" class="animate-entry blue2">
                            <span class="font_medium grey2" ng-repeat="item in files">{{item.name}}
                            <a ng-click="removeFiles($index)"><i class="fa fa-times"></i></a></span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
    <div class="sec-qtn">
        <!--Options-->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="pad_vertical">
                    <div class="qtn qtn-default">
                        Requirements
                    </div>
                    <div>
                        <textarea name="txtarea1" cols="50" rows="4" class="form-control" ng-model="requestothers.requirementother"></textarea>
                    </div>
                    <div class="flx-spb-hrt">
                        <a class="font_medium" type="file" ngf-select="uploadFiles($files)" ng-model="files" ngf-max-size="8MB" ngf-multiple="true" ngf-keep="'distinct'">
                            <i class="fa fa-link"></i> Attach file(s)
                        </a>
                        <div ng-show="files.length" class="animate-entry blue2">
                            <span class="font_medium grey2" ng-repeat="item in files">{{item.name}}
                            <a ng-click="removeFiles($index)"><i class="fa fa-times"></i></a></span>
                        </div>
                    </div>
                    <!--<div class="flx-spb-hrt">-->
                    <!--<div class="attacher">-->
                    <!--<input type="file" id="attach" name="file" multiple>-->
                    <!--<label for="attach"><i class="fa fa-link"></i> Attach file(s)</label>-->
                    <!--</div>-->
                    <!--<div class="blue2">-->
                    <!--<span class="font_medium grey2">2 files uploaded</span>-->
                    <!--<a><i class="fa fa-times"></i></a>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <button du-smooth-scroll="request-type" du-scrollspy class="btn btn-default">
            Back
        </button>
        <button du-smooth-scroll du-scrollspy ng-click="setTab(3)" class="btn btn-success">
            Next
        </button>
    </div>
</div>
