<!--Design-->
<div ng-if="design" ng-class="testclass" id="design" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Design Type
        </div>
    </div>

    <!--Question instance-->

    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What type of prototype do your require?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="getValue('renders')" ng-model="desType"
                       uib-btn-radio="'renders'">Renders</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="getValue('graphics')" ng-model="desType" uib-btn-radio="'graphics'">Graphic
                    design</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="getValue('solcat')" ng-model="desType" uib-btn-radio="'solcat'">Solcat</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="getValue('visual')" ng-model="desType" uib-btn-radio="'visual'">Visual
                    Design</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-click="getValue('email')" ng-model="desType" uib-btn-radio="'email'">Email
                    template</label>
            </div>
        </div>
    </div>

    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <button du-smooth-scroll="request-type" du-scrollspy class="btn btn-default">
            Back
        </button>
        <button du-smooth-scroll="renders" du-scrollspy ng-show="desType == 'renders'" ng-click="addRequest(value)"
                class="btn btn-primary">
            Proceed
        </button>
        <button du-smooth-scroll="solcat" du-scrollspy ng-show="desType == 'solcat'" ng-click="addRequest(value)"
                class="btn btn-primary">
            Proceed
        </button>
        <button du-smooth-scroll="graphics" du-scrollspy ng-show="desType == 'graphics'" ng-click="addRequest(value)"
                class="btn btn-primary">
            Proceed
        </button>
        <button du-smooth-scroll="email" du-scrollspy ng-show="desType == 'email'" ng-click="addRequest(value)"
                class="btn btn-primary">
            Proceed
        </button>
        <button du-smooth-scroll="visual" du-scrollspy ng-show="desType == 'visual'" ng-click="addRequest(value)"
                class="btn btn-primary">
            Proceed
        </button>
    </div>

</div>

<div id="renders" ng-class="testclass" ng-if="renders" class="qtn-ctn">

    <div>
        <div class="form-type">
            Renders
        </div>
    </div>
    <!--Renders  instance-->
    <div class="sec-qtn">

        <!--Options-->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="pad_vertical">
                    <div class="qtn qtn-default">
                        Requirements
                    </div>

                    <div>
                        <textarea name="txtarea1" cols="50" rows="4" class="form-control"></textarea>
                    </div>
                    <div class="flx-spb-hrt">
                        <div class="attacher">
                            <input type="file" id="attach" name="file" multiple>
                            <label for="attach"><i class="fa fa-link"></i> Attach file(s)</label>
                        </div>
                        <div class="blue2">
                            <span class="font_medium grey2">2 files uploaded</span>
                            <a><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-xs-12 col-sm-7">
                <div class="qtn qtn-default">
                    Please attach actual photo as reference.
                </div>
                <div nv-file-drop="" uploader="uploader">
                    <form action="">
                        <div class="form-group">
                            <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                                <div class="text-center">
                                    <div class="drop-zone">

                                        <p class="font_medium" style="margin-bottom:5px;">
                                            <i class="fa fa-file-o"></i> Drop files here or
                                        </p>

                                        <div class="input-group image-preview">
                                            <div class="input-group-btn">
                                                <div class="btn btn-primary image-preview-input"><span
                                                        class="glyphicon glyphicon-folder-open"></span> <span
                                                        class="image-preview-input-title font_medium">Browse</span>
                                                    <input type="file" accept="image/png,image/jpeg, image/gif, image/jpeg, image/x-ms-bmp,
                                        audio/mp3, audio/mp4,
                                        video/mp4, video/x-flv, video/3gpp, video/x-msvideo, video/x-ms-wmv, video/quicktime,
                                        application/pdf,
                                        application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                        application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                        text/csv,text/plain,
                                        application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                                        application/zip" nv-file-select="" uploader="uploader" multiple/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th width="25%" ng-show="uploader.isHTML5">Progress</th>
                                    <!--     <th style="color: transparent;">Status</th> -->
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in uploader.queue" ng-hide="item.isValid"
                                    style="border-bottom: solid thin #ccc;">
                                    <td style="padding-top: 15px;">
                                        <strong>{{ item.file.name }}</strong>
                                    </td>
                                    <td style="padding-top: 15px;" ng-show="uploader.isHTML5" nowrap>{{
                                        item.file.size/1024/1024|number:2 }} MB
                                    </td>
                                    <td style="padding-top: 22px;" ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar"
                                                 ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <!-- <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td> -->
                                    <td nowrap>
                                        <button type="button" uib-tooltip="Upload" class="btn btn-xs"
                                                ng-click="item.upload()"
                                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <img src="./images/icons/ic_file_upload_black_24px.svg">
                                        </button>
                                        <button type="button" uib-tooltip="Cancel" class="btn btn-xs"
                                                ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <img src="./images/icons/ic_block_black_24px.svg">
                                        </button>
                                        <button type="button" uib-tooltip="Delete" class="btn btn-xs"
                                                ng-click="item.remove()">
                                            <img src="./images/icons/ic_delete_black_24px.svg">
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <div class="mailbox-controls">
                                    <button type="button" class="btn btn-flat btn-s" ng-click="uploadAll()"
                                            ng-disabled="!uploader.getNotUploadedItems().length" ng-if="isUploadAll">
                                        <img src="./images/icons/ic_file_upload_black_24px.svg"> Upload all
                                    </button>
                                    <button type="button" class="btn btn-flat btn-s" ng-click="uploader.cancelAll()"
                                            ng-disabled="!uploader.isUploading">
                                        <img src="./images/icons/ic_block_black_24px.svg"> Cancel all
                                    </button>
                                    <button type="button" class="btn btn-flat btn-s" ng-click="uploader.clearQueue()"
                                            ng-disabled="!uploader.queue.length">
                                        <img src="./images/icons/ic_delete_black_24px.svg"> Delete all
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                                </div>
                            </div>
                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div>

    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <button du-smooth-scroll="design" du-scrollspy class="btn btn-default">
            Back
        </button>
        <button ng-click="setTab(3)" class="btn btn-success">
            Next
        </button>
    </div>
</div>

<div id="solcat" ng-class="testclass" ng-if="solcat" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Solcat
        </div>
    </div>

    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What design experience do you require?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="xp" uib-btn-radio="'1'">Standard</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="xp" uib-btn-radio="'2'">Custom</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="pad_vertical">
                    <div class="qtn qtn-default">
                        Requirements
                    </div>

                    <div>
                        <textarea name="txtarea1" cols="50" rows="4" class="form-control"></textarea>
                    </div>
                    <div class="flx-spb-hrt">
                        <div class="attacher">
                            <input type="file" id="attach" name="file" multiple>
                            <label for="attach"><i class="fa fa-link"></i> Attach file(s)</label>
                        </div>
                        <div class="blue2">
                            <span class="font_medium grey2">2 files uploaded</span>
                            <a><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <button du-smooth-scroll="design" du-scrollspy class="btn btn-default">
            Back
        </button>
        <button ng-click="setTab(3)" class="btn btn-success">
            Next
        </button>
    </div>
</div>
<div id="graphics" ng-class="testclass" ng-if="graphics" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Graphic Design
        </div>
    </div>

    <!--Graphic design instance-->


    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <div class="pad_vertical">
                <div class="qtn qtn-default">
                    Requirements
                </div>

                <div>
                    <textarea name="txtarea1" cols="50" rows="4" class="form-control"></textarea>
                </div>
                <div class="flx-spb-hrt">
                    <div class="attacher">
                        <input type="file" id="attach" name="file" multiple>
                        <label for="attach"><i class="fa fa-link"></i> Attach file(s)</label>
                    </div>
                    <div class="blue2">
                        <span class="font_medium grey2">2 files uploaded</span>
                        <a><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-xs-12 col-sm-7">
            <div class="qtn qtn-default">
                Please attach actual photo as reference.
            </div>
            <div nv-file-drop="" uploader="uploader">
                <form action="">
                    <div class="form-group">
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            <div class="text-center">
                                <div class="drop-zone">

                                    <p class="font_medium" style="margin-bottom:5px;">
                                        <i class="fa fa-file-o"></i> Drop files here or
                                    </p>

                                    <div class="input-group image-preview">
                                        <div class="input-group-btn">
                                            <div class="btn btn-primary image-preview-input"><span
                                                    class="glyphicon glyphicon-folder-open"></span> <span
                                                    class="image-preview-input-title font_medium">Browse</span>
                                                <input type="file" accept="image/png,image/jpeg, image/gif, image/jpeg, image/x-ms-bmp,
                                        audio/mp3, audio/mp4,
                                        video/mp4, video/x-flv, video/3gpp, video/x-msvideo, video/x-ms-wmv, video/quicktime,
                                        application/pdf,
                                        application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                        application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                        text/csv,text/plain,
                                        application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                                        application/zip" nv-file-select="" uploader="uploader" multiple/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th width="25%" ng-show="uploader.isHTML5">Progress</th>
                                <!--     <th style="color: transparent;">Status</th> -->
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue" ng-hide="item.isValid"
                                style="border-bottom: solid thin #ccc;">
                                <td style="padding-top: 15px;">
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td style="padding-top: 15px;" ng-show="uploader.isHTML5" nowrap>{{
                                    item.file.size/1024/1024|number:2 }} MB
                                </td>
                                <td style="padding-top: 22px;" ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar"
                                             ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <!-- <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td> -->
                                <td nowrap>
                                    <button type="button" uib-tooltip="Upload" class="btn btn-xs"
                                            ng-click="item.upload()"
                                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <img src="./images/icons/ic_file_upload_black_24px.svg">
                                    </button>
                                    <button type="button" uib-tooltip="Cancel" class="btn btn-xs"
                                            ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <img src="./images/icons/ic_block_black_24px.svg">
                                    </button>
                                    <button type="button" uib-tooltip="Delete" class="btn btn-xs"
                                            ng-click="item.remove()">
                                        <img src="./images/icons/ic_delete_black_24px.svg">
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="mailbox-controls">
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploadAll()"
                                        ng-disabled="!uploader.getNotUploadedItems().length" ng-if="isUploadAll">
                                    <img src="./images/icons/ic_file_upload_black_24px.svg"> Upload all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.cancelAll()"
                                        ng-disabled="!uploader.isUploading">
                                    <img src="./images/icons/ic_block_black_24px.svg"> Cancel all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.clearQueue()"
                                        ng-disabled="!uploader.queue.length">
                                    <img src="./images/icons/ic_delete_black_24px.svg"> Delete all
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>


    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <button du-smooth-scroll="design" du-scrollspy class="btn btn-default">
            Back
        </button>
        <button ng-click="setTab(3)" class="btn btn-success">
            Next
        </button>
    </div>
</div>
<div id="visual" ng-class="testclass" ng-if="visual" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Visual design
        </div>
    </div>

    <!--Graphic design instance-->
    <div class="sec-qtn">
        <!--Question-->
        <div class="qtn qtn-default">
            What design experience do you require?
        </div>
        <!--Options-->
        <div class="row btn-opt">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="xp" uib-btn-radio="'1'">Standard</label>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3">
                <label class="" ng-model="xp" uib-btn-radio="'2'">Custom</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <div class="pad_vertical">
                <div class="qtn qtn-default">
                    Requirements
                </div>

                <div>
                    <textarea name="txtarea1" cols="50" rows="4" class="form-control"></textarea>
                </div>
                <div class="flx-spb-hrt">
                    <a class="font_medium grey3"><i class="fa fa-link"></i> Attach Files</a>
                    <div class="blue2">
                        <span class="font_medium grey2">2 files uploaded</span>
                        <a><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-xs-12 col-sm-6">
            <div class="qtn qtn-default">
                Branding reference.
            </div>
            <div nv-file-drop="" uploader="uploader">
                <form action="">
                    <div class="form-group">
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            <div class="text-center">
                                <div class="drop-zone">

                                    <p class="font_medium" style="margin-bottom:5px;">
                                        <i class="fa fa-file-o"></i> Drop files here or
                                    </p>

                                    <div class="input-group image-preview">
                                        <div class="input-group-btn">
                                            <div class="btn btn-primary image-preview-input"><span
                                                    class="glyphicon glyphicon-folder-open"></span> <span
                                                    class="image-preview-input-title font_medium">Browse</span>
                                                <input type="file" accept="image/png,image/jpeg, image/gif, image/jpeg, image/x-ms-bmp,
                                        audio/mp3, audio/mp4,
                                        video/mp4, video/x-flv, video/3gpp, video/x-msvideo, video/x-ms-wmv, video/quicktime,
                                        application/pdf,
                                        application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                        application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                        text/csv,text/plain,
                                        application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                                        application/zip" nv-file-select="" uploader="uploader" multiple/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th width="25%" ng-show="uploader.isHTML5">Progress</th>
                                <!--     <th style="color: transparent;">Status</th> -->
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue" ng-hide="item.isValid"
                                style="border-bottom: solid thin #ccc;">
                                <td style="padding-top: 15px;">
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td style="padding-top: 15px;" ng-show="uploader.isHTML5" nowrap>{{
                                    item.file.size/1024/1024|number:2 }} MB
                                </td>
                                <td style="padding-top: 22px;" ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar"
                                             ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <!-- <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td> -->
                                <td nowrap>
                                    <button type="button" uib-tooltip="Upload" class="btn btn-xs"
                                            ng-click="item.upload()"
                                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <img src="./images/icons/ic_file_upload_black_24px.svg">
                                    </button>
                                    <button type="button" uib-tooltip="Cancel" class="btn btn-xs"
                                            ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <img src="./images/icons/ic_block_black_24px.svg">
                                    </button>
                                    <button type="button" uib-tooltip="Delete" class="btn btn-xs"
                                            ng-click="item.remove()">
                                        <img src="./images/icons/ic_delete_black_24px.svg">
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="mailbox-controls">
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploadAll()"
                                        ng-disabled="!uploader.getNotUploadedItems().length" ng-if="isUploadAll">
                                    <img src="./images/icons/ic_file_upload_black_24px.svg"> Upload all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.cancelAll()"
                                        ng-disabled="!uploader.isUploading">
                                    <img src="./images/icons/ic_block_black_24px.svg"> Cancel all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.clearQueue()"
                                        ng-disabled="!uploader.queue.length">
                                    <img src="./images/icons/ic_delete_black_24px.svg"> Delete all
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>

                </form>


            </div>

        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="qtn qtn-default">
                Assets
            </div>
            <div nv-file-drop="" uploader="uploader">
                <form action="">
                    <div class="form-group">
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            <div class="text-center">
                                <div class="drop-zone">

                                    <p class="font_medium" style="margin-bottom:5px;">
                                        <i class="fa fa-file-o"></i> Drop files here or
                                    </p>

                                    <div class="input-group image-preview">
                                        <div class="input-group-btn">
                                            <div class="btn btn-primary image-preview-input"><span
                                                    class="glyphicon glyphicon-folder-open"></span> <span
                                                    class="image-preview-input-title font_medium">Browse</span>
                                                <input type="file" accept="image/png,image/jpeg, image/gif, image/jpeg, image/x-ms-bmp,
                                        audio/mp3, audio/mp4,
                                        video/mp4, video/x-flv, video/3gpp, video/x-msvideo, video/x-ms-wmv, video/quicktime,
                                        application/pdf,
                                        application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                        application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                        text/csv,text/plain,
                                        application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                                        application/zip" nv-file-select="" uploader="uploader" multiple/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th width="25%" ng-show="uploader.isHTML5">Progress</th>
                                <!--     <th style="color: transparent;">Status</th> -->
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue" ng-hide="item.isValid"
                                style="border-bottom: solid thin #ccc;">
                                <td style="padding-top: 15px;">
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td style="padding-top: 15px;" ng-show="uploader.isHTML5" nowrap>{{
                                    item.file.size/1024/1024|number:2 }} MB
                                </td>
                                <td style="padding-top: 22px;" ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar"
                                             ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <!-- <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td> -->
                                <td nowrap>
                                    <button type="button" uib-tooltip="Upload" class="btn btn-xs"
                                            ng-click="item.upload()"
                                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <img src="./images/icons/ic_file_upload_black_24px.svg">
                                    </button>
                                    <button type="button" uib-tooltip="Cancel" class="btn btn-xs"
                                            ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <img src="./images/icons/ic_block_black_24px.svg">
                                    </button>
                                    <button type="button" uib-tooltip="Delete" class="btn btn-xs"
                                            ng-click="item.remove()">
                                        <img src="./images/icons/ic_delete_black_24px.svg">
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="mailbox-controls">
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploadAll()"
                                        ng-disabled="!uploader.getNotUploadedItems().length" ng-if="isUploadAll">
                                    <img src="./images/icons/ic_file_upload_black_24px.svg"> Upload all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.cancelAll()"
                                        ng-disabled="!uploader.isUploading">
                                    <img src="./images/icons/ic_block_black_24px.svg"> Cancel all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.clearQueue()"
                                        ng-disabled="!uploader.queue.length">
                                    <img src="./images/icons/ic_delete_black_24px.svg"> Delete all
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>

                </form>


            </div>

        </div>
    </div>
    <br>


    <!--Buttons-->
    <div class="btn-ctn flx-spb-hrt font_medium">
        <button du-smooth-scroll="design" du-scrollspy class="btn btn-default">
            Back
        </button>
        <button class="btn btn-success">
            Next
        </button>
    </div>
</div>
<div id="email" ng-class="testclass" ng-if="emailtemplate" class="qtn-ctn">
    <!--Form section-->
    <div>
        <div class="form-type">
            Email template
        </div>
    </div>

    <!--Email Template instance-->

    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <div class="pad_vertical">
                <div class="qtn qtn-default">
                    Requirements
                </div>

                <div>
                    <textarea name="txtarea1" cols="50" rows="4" class="form-control"></textarea>
                </div>
                <div class="flx-spb-hrt">
                    <div class="attacher">
                        <input type="file" id="attach" name="file" multiple>
                        <label for="attach"><i class="fa fa-link"></i> Attach file(s)</label>
                    </div>
                    <div class="blue2">
                        <span class="font_medium grey2">2 files uploaded</span>
                        <a><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <div class="pad_vertical">
                <div class="qtn qtn-default">
                    <i class="fa fa-link"></i> CTA Link
                </div>
                <div>
                    <input type="text" name="shipping" class="form-control" >
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-xs-12 col-sm-7">
            <div class="qtn qtn-default">
                Assets
            </div>
            <div nv-file-drop="" uploader="uploader">
                <form action="">
                    <div class="form-group">
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            <div class="text-center">
                                <div class="drop-zone">

                                    <p class="font_medium" style="margin-bottom:5px;">
                                        <i class="fa fa-file-o"></i> Drop files here or
                                    </p>

                                    <div class="input-group image-preview">
                                        <div class="input-group-btn">
                                            <div class="btn btn-primary image-preview-input"><span
                                                    class="glyphicon glyphicon-folder-open"></span> <span
                                                    class="image-preview-input-title font_medium">Browse</span>
                                                <input type="file" accept="image/png,image/jpeg, image/gif, image/jpeg, image/x-ms-bmp,
                                        audio/mp3, audio/mp4,
                                        video/mp4, video/x-flv, video/3gpp, video/x-msvideo, video/x-ms-wmv, video/quicktime,
                                        application/pdf,
                                        application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                        application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                        text/csv,text/plain,
                                        application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                                        application/zip" nv-file-select="" uploader="uploader" multiple/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th width="25%" ng-show="uploader.isHTML5">Progress</th>
                                <!--     <th style="color: transparent;">Status</th> -->
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue" ng-hide="item.isValid"
                                style="border-bottom: solid thin #ccc;">
                                <td style="padding-top: 15px;">
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td style="padding-top: 15px;" ng-show="uploader.isHTML5" nowrap>{{
                                    item.file.size/1024/1024|number:2 }} MB
                                </td>
                                <td style="padding-top: 22px;" ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar"
                                             ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <!-- <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td> -->
                                <td nowrap>
                                    <button type="button" uib-tooltip="Upload" class="btn btn-xs"
                                            ng-click="item.upload()"
                                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <img src="./images/icons/ic_file_upload_black_24px.svg">
                                    </button>
                                    <button type="button" uib-tooltip="Cancel" class="btn btn-xs"
                                            ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <img src="./images/icons/ic_block_black_24px.svg">
                                    </button>
                                    <button type="button" uib-tooltip="Delete" class="btn btn-xs"
                                            ng-click="item.remove()">
                                        <img src="./images/icons/ic_delete_black_24px.svg">
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="mailbox-controls">
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploadAll()"
                                        ng-disabled="!uploader.getNotUploadedItems().length" ng-if="isUploadAll">
                                    <img src="./images/icons/ic_file_upload_black_24px.svg"> Upload all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.cancelAll()"
                                        ng-disabled="!uploader.isUploading">
                                    <img src="./images/icons/ic_block_black_24px.svg"> Cancel all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.clearQueue()"
                                        ng-disabled="!uploader.queue.length">
                                    <img src="./images/icons/ic_delete_black_24px.svg"> Delete all
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
    <br>

    <div class="btn-ctn flx-spb-hrt font_medium">
        <button du-smooth-scroll="design" du-scrollspy class="btn btn-default">
            Back
        </button>
        <button ng-click="setTab(3)" class="btn btn-success">
            Next
        </button>
    </div>
</div>


