<div class="wrapper">
    <div class="sec-option hide-sm">
        <div class="dis-flx flx-spb-hrt font_medium">
            <div class="pad_vertical ">
                <a class="btn-plain" ng-click="goBack()"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
            <!-- <div>
                <button type="button" class="btn btn-sm btn-primary"> Update Request</button>
            </div> -->
        </div>
    </div>
    <div class="row padding_10">
        <div class="col-lg-3 col-md-4">
            <div class="case-details-widget">
                <div class="flx-spb-hrt head-case-details font_medium">
                    <div>CASE-{{details.request_info.case_number}}</div>
                    <div style="text-transform: uppercase;">{{details.status_name}}</div>
                </div>
                <div class="font_medium font_18 padding_10 blue3">
                    {{details.request_info.client_details.name}}
                </div>
                <div class="padding_10">
                    <table class="info_table full_width">
                        <tr>
                            <th>Request Type</th>
                            <td>{{details.request_info.request_type_name}}</td>
                        </tr>
                        <tr>
                            <th>Request Status</th>
                            <td>{{details.status_name}}</td>
                        </tr>
                        <tr>
                            <th>Date Requested</th>
                            <td>{{details.date_created | date: 'longDate'}}</td>
                        </tr>
                        <tr>
                            <th>Delivery Date</th>
                            <td>{{details.expected_delivery_date| date:'longDate'}}</td>
                        </tr>
                        <tr>
                            <th>Complexity</th>
                            <td>{{details.request_info.complexity}}</td>
                        </tr>
                        <tr>
                            <th>Priority Type</th>
                            <td>{{details.request_info.priority_name}}</td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                            </td>
                        </tr>
                        <tr ng-if="details.request_info.requester_details">
                            <th>Requestor</th>
                            <td>
                                {{details.request_info.requester_details.person_name}}
                            </td>
                            <td>
                                <!-- <input type="text" class="edit-on-text" ng-focus="sam()" ng-if="!display">
                                <ui-select ng-click="sam()" ng-model="displayName.selected" ng-click="btn-edit = true" style="" uib-tooltip="Click to Edit">
                                    <ui-select-match placeholder="Select" style="outline: 0px;">
                                        {{$select.selected.displayName}}
                                    </ui-select-match>
                                    <ui-select-choices focus-on="sam()" repeat="name in persons | filter: $select.search" position="down">
                                        <span ng-bind-html="name.displayName | highlight: $select.search"></span>
                                        <small ng-bind-html="name.code | highlight: $select.search"></small>
                                    </ui-select-choices>
                                    <button type="button" class="btn btn-default ">sample</button>
                                </ui-select>
                                <div class="edit-btn-container" ng-show="btn-edit">
                                    <button class="btn btn-xm btn-default"><i class="ti ti-check"></i></button>
                                    <button class="btn btn-xm btn-default"><i class="ti ti-close"></i></button>
                                </div> -->
                            </td>
                        </tr>
                        <tr ng-if="details.scheduler_details">
                            <th>Scheduler</th>
                            <td>
                                {{details.scheduler_details.person_name}}
                                <!--  <input type="text" class="edit-on-text" uib-tooltip="Click to Edit">
                                <div class="edit-btn-container" ng-show="btn-editz">
                                    <button class="btn btn-xm btn-default"><i class="ti ti-check"></i></button>
                                    <button class="btn btn-xm btn-default"><i class="ti ti-close"></i></button>
                                </div> -->
                            </td>
                        </tr>
                        <tr>
                            <th>Assignee</th>
                            <td>
                                <!-- {{details.request_info.assignee_details.person_name}} -->
                                <!-- <input type="text" class="edit-on-text" ng-focus="sam()" ng-if="!display"> -->
                                <ui-select ng-model="displayName.selected" theme="bootstrap" style="" uib-tooltip="Click to Edit" on-select="getAssign($item)">
                                    <ui-select-match placeholder="Select" style="outline: 0px;">
                                        {{$select.selected.displayName}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="name.displayName as name in (persons | filter: $select.search) track by name.displayName" position="down">
                                        <span ng-bind-html="name.displayName | highlight: $select.search"></span>
                                        <!-- <small ng-bind-html="name.code | highlight: $select.search"></small> -->
                                    </ui-select-choices>
                                    <!-- <button type="button" class="btn btn-default ">sample</button> -->
                                </ui-select>
                                <div class="edit-btn-container" ng-show="btn-edit" ng-if="edit">
                                    <button class="btn btn-xm btn-default" ng-click="updateAssignee()"><i class="ti ti-check"></i></button>
                                    <button class="btn btn-xm btn-default" ng-click="cancelAssignee()"><i class="ti ti-close"></i></button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="sec-details-tabs">
                <!--Tab Menu-->
                <div class="details-tabs">
                    <div class="dis_table">
                        <a ng-click="setTab(1)" ng-class="{'active':isSet(1)}" class=" dis_cell">
                            <i class="fa fa-users"></i> Activity Logs
                        </a>
                        <a ng-click="setTab(2)" ng-class="{'active':isSet(2)}" class="dis_cell">
                            <i class="fa fa-comments-o"></i> Comments

                        </a>
                        <a ng-click="setTab(3)" ng-class="{'active':isSet(3)}" class="dis_cell">
                            <i class="fa fa-link"></i> Attachments
                        </a>
                    </div>
                </div>
                <!--Activities Tab-->
                <div ng-show="isSet(1)" class="scroll-vt">
                    <table class="info_table tbl-fix-pad full_width tbl-lg tbl-bordered">
                        <tr>
                            <td class="cell_xs">
                                <div class="log-idfr">
                                    <img src="../../images/icons/logs-identifier--09.svg">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="font_medium ">
                                    Vanessa Gacula
                                </span> left a
                                    <span class="txt-underlined">
                                    comment.
                                </span>
                                </div>
                                <div class="font_10 grey2">
                                    November 20, 2016 | 8:00 AM
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell_xs">
                                <div class="log-idfr">
                                    <img src="../../images/icons/logs-identifier--10.svg">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="font_medium ">
                                    Vanessa Gacula
                                </span> left a
                                    <span class="txt-underlined">
                                    comment.
                                </span>
                                </div>
                                <div class="font_10 grey2">
                                    November 20, 2016 | 8:00 AM
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell_xs">
                                <div class="log-idfr">
                                    <img src="../../images/icons/logs-identifier--15.svg">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="font_medium ">
                                    Vanessa Gacula
                                </span> left a
                                    <span class="txt-underlined">
                                    comment.
                                </span>
                                </div>
                                <div class="font_10 grey2">
                                    November 20, 2016 | 8:00 AM
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell_xs">
                                <div class="log-idfr">
                                    <img src="../../images/icons/logs-identifier--12.svg">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="font_medium ">
                                    Vanessa Gacula
                                </span> left a
                                    <span class="txt-underlined">
                                    comment.
                                </span>
                                </div>
                                <div class="font_10 grey2">
                                    November 20, 2016 | 8:00 AM
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--Comments Tab-->
                <div ng-show="isSet(2)" class="scroll-vt sec-comments flx-spb-vrt">
                    <div class="box-comment">
                        <div class="user-block" ng-repeat="convo in comments | orderBy: 'date_created':reverse track by $index">
                            <img class="img-circle">
                            <span class="username" ng-if="convo.split.length >1">
                            <span class="font_medium ">{{convo.user_info[0].person_name}}
                            </span>
                            <br> <a> {{convo.split[0]}}</a>{{convo.split[1]}}
                            <br><small class="font_10 grey2">Just now</small></span>
                            <span class="username" ng-if="convo.split.length ==1"><span class="font_medium ">
                          
                            {{convo.user_info[0].person_name}}
                            </span>
                             <p ng-bind-html="convo.comment_body"></p>
                            <!-- <br><small class="font_10 grey2">Just now</small></span> -->
                        </div>
                        <!-- <div class="user-block">
                            <img class="img-circle" src="../images/user1-128x128.jpg" alt="User Image">
                            <span class="username"><a>Korr Valmoria:</a> Hello Thor, can i ask the asset file for this request? Thanks</span>
                            <span class="description font_10 grey2">7:30 AM <a>Edit</a></span>
                        </div> -->
                    </div>
                    <div class="comment-section">
                        <div class="font_medium blue3">Post a comment</div>
                        <div contenteditable mentio mentio-typed-term="typedTerm" mentio-macros="macros" mentio-require-leading-space="true" mentio-select-not-found="true" class="editor commenttab form-control" mentio-id="'htmlContent'" id="htmlContent" ng-model="posts.htmlContent" >
                        </div>
                        <mentio-menu mentio-for="'htmlContent'" mentio-trigger-char="'@'" mentio-items="people" mentio-template-url="/people-mentions.tpl" mentio-search="searchPeople(term)" mentio-select="getPeopleText(item)"></mentio-menu>
                        <!--  <textarea  class="form-control" rows="2" id="messageInput" ng-model="emojiMessage.messagetext">
                        </textarea> -->
                        <!-- <input type="text"  mentio-typed-text="typedTerm" mentio-trigger-char="'@'" mentio-items="sample" mentio-search="searchPeople(term)" class="form-control" ng-model="theTextArea2" size="100" />
                        </input> -->
                        <div>
                            <div class="blue2" style="padding: 5px 25px 10px 0;">
                                <div class="hidetxt grey2" ng-repeat="item in attachfiles">{{item.name}}
                                    <button class="btn removebutton" type="button" ng-click="removeFile($index)">
                                        <i class="ti ti-close"></i>
                                    </button>
                                </div>
                            </div>
                            <a type="file" ngf-select="newUploader($files)" ngf-max-size="8MB" ngf-multiple="true" ngf-keep="'distinct'" class="font_medium">
                                <i class="fa fa-link"></i> Attach file(s)
                            </a>
                            <!-- <span class="" uib-dropdown style="margin-top: -2px;">
                            <button class="btn-def font_medium" uib-dropdown-toggle><i
                                    class="fa fa-paperclip"></i> Attach Files</button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li role="menuitem" ng-click="newUploader()">
                                    <a><img src="../images/icons/folder.svg"> Local Files</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem">
                                    <a><img src="../images/icons/google-drive.svg"> Google Drive</a>
                                    </li>
                                </ul>
                            </span> -->
                            </button>
                            <button class="btn btn-primary btn-sm pull-right" ng-click="postcomment()">Post</button>
                            <div ng-repeat="people in getPeople">
                                <input type="text" mentio mentio-typed-text="typedTerm" mentio-items="people | filter:label:typedTerm" ng-model="myval" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--Attachments Tab-->
                <div ng-show="isSet(3)" class="scroll-vt sec-attachments">
                    <div class="pad_vertical">
                        <div class="row">
                            <div class="col-xs-4" ng-repeat="attach in attachments">
                                <div class="ctn-attachment">
                                    <a class="attachments-icon font_medium" ng-if="attach.media_mimetype == 'application/pdf'">
                                        <img src="../../images/icons/ext-file-pdf.svg">
                                        <div uib-tooltip="{{attach.media_name}}" class="overlay-filename">{{attach.media_name}}</div>
                                    </a>
                                    <a class="attachments-icon font_medium" ng-if="attach.media_mimetype == 'image/jpeg' || attach.media_mimetype ==  'image/png'">
                                        <img src="../../images/icons/ext-file-slides.svg">
                                        <div uib-tooltip="{{attach.media_name}}" class="overlay-filename">{{attach.media_name}}</div>
                                    </a>
                                    <a class="attachments-icon font_medium" ng-if="attach.asset_mimetype == 'text/plain'">
                                        <img src="./images/icons/ext-preso--06-text.svg">
                                        <div uib-tooltip="{{attach.media_name}}" class="overlay-filename">{{attach.media_name}}</div>
                                    </a>
                                    <a class="attachments-icon font_medium" ng-if="attach.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || attach.asset_mimetype == 'application/vnd.ms-powerpoint'">
                                        <img src="./images/icons/ext-file-slides.svg">
                                        <div uib-tooltip="{{attach.media_name}}" class="overlay-filename">{{attach.media_name}}</div>
                                    </a>
                                    <a class="attachments-icon font_medium" ng-if="attach.asset_mimetype == 'text/csv' || attach.asset_mimetype == 'application/vnd.ms-excel' || attach.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                                        <img src="./images/icons/ext-file-sheets.svg">
                                        <div uib-tooltip="{{attach.media_name}}" class="overlay-filename">{{attach.media_name}}</div>
                                    </a>
                                    <a class="attachments-icon font_medium" ng-if="attach.asset_mimetype == 'audio/mp3'||attach.asset_mimetype == 'audio/mp4'">
                                        <img src="./images/icons/ext-preso--04-mp3.svg">
                                        <div uib-tooltip="{{attach.media_name}}" class="overlay-filename">{{attach.media_name}}</div>
                                    </a>
                                    <a class="float-icon" ng-href="{{attach.media_url}}" target="_self" download="{{attach.media_url}}">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-4">
            <div class=" pad_vertical_15 request-specs">
                <div class=" font_18 font_medium blue3">
                    Request Specifications
                </div>
                <table class="info_table tbl-bordered full_width tbl-lg ">
                    <tr ng-if="objectives.question_options">
                        <th class="tbl-label" colspan="2">Objectives</th>
                    </tr>
                    <tr ng-if="objectives.question_options">
                        <th>Objectives</th>
                        <td>{{objectives.question_options.option_name}}</td>
                    </tr>
                    <tr ng-if="audience.question_options">
                        <th>Intended Audience</th>
                        <td>{{audience.question_options.option_name}}</td>
                    </tr>
                    <tr>
                        <th class="tbl-label" colspan="2">Solution Details</th>
                    </tr>
                    <tr>
                        <th>Request Type</th>
                        <td>{{requestType.question_options.option_name}}</td>
                    </tr>
                    <tr ng-if="requestType.question_options.option_name == 'Proposal'">
                        <th>Proposal Type</th>
                        <td>{{proposalType.question_options.option_name}}</td>
                    </tr>
                    <tr ng-if="solutionperSite">
                        <th class="tbl-label" colspan="2">Deployment Details</th>
                    </tr>
                    <tr ng-if="solutionperSite">
                        <th>Number of solution(s) to be deployed per site.</th>
                        <td>
                            {{solutionperSite.option_value}}
                        </td>
                    </tr>
                    <tr ng-if="deployedSite">
                        <th>Number of sites where solutions be deployed.</th>
                        <td>
                            {{deployedSite.option_value}}
                        </td>
                    </tr>
                    <!-- <tr ng-if="requestType.question_options.option_name == 'Proposal'">
                        <th>Expected deployment type</th>
                        <td>{{requestdetaildesign}}</td>
                    </tr> -->
                    <tr ng-if="softwareapplication">
                        <th class="tbl-label" colspan="2">Software Details</th>
                    </tr>
                    <tr ng-if="softwareapplication">
                        <th>Application</th>
                        <td>
                            {{softwareapplication.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="screenDetail">
                        <th class="tbl-label" colspan="2">Screen Details</th>
                    </tr ng-if="screenDetail">
                    <tr ng-if="screenDetail">
                        <th>Screen Configuration</th>
                        <td>
                            {{screenDetail.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="matrixrow">
                        <th>Row</th>
                        <td>{{matrixrow.option_value}}</td>
                    </tr>
                    <tr ng-if="matrixcolumn">
                        <th>Column</th>
                        <td>{{matrixcolumn.option_value}}</td>
                    </tr>
                    <tr ng-if="orientation">
                        <th>Orientation</th>
                        <td>{{orientation.question_options.option_name}}</td>
                    </tr>
                    <tr ng-if="distanceDMP.question_options">
                        <th class="tbl-label" colspan="2">Site installation</th>
                    </tr>
                    <tr ng-if="distanceDMP.question_options">
                        <th>Distance between DMP and Screen</th>
                        <td>
                            {{distanceDMP.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="preferredDMP">
                        <th>DMP install location</th>
                        <td>
                            {{preferredDMP.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="preferredSolution">
                        <th>Preferred solution installer</th>
                        <td>
                            {{preferredSolution.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="projectimeline.question_options">
                        <th class="tbl-label" colspan="2">Project Timeline</th>
                    </tr>
                    <tr ng-if="projectimeline.question_options">
                        <th>Implementation timeframe</th>
                        <td>
                            {{projectimeline.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="supportPackage">
                        <th class="tbl-label" colspan="2">Support package</th>
                    </tr>
                    <tr ng-if="supportPackage">
                        <th>Support package</th>
                        <td>
                            {{supportPackage.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="currentNetwork">
                        <th class="tbl-label" colspan="2">Connectivity</th>
                    </tr>
                    <tr ng-if="currentNetwork">
                        <th>Current network status</th>
                        <td>
                            {{currentNetwork.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="lanpreference">
                        <th>LAN preference</th>
                        <td>
                            {{lanpreference.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="wanpreference">
                        <th>WAN Preference</th>
                        <td>
                            {{wanpreference.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="contentCreated">
                        <th class="tbl-label" colspan="2">Content management</th>
                    </tr>
                    <tr ng-if="contentCreated">
                        <th>Content plan</th>
                        <td>
                            {{contentCreated.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="contentManaged">
                        <th>Content management</th>
                        <td>
                            {{contentManaged.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="requestType.question_options.option_name == 'Prototype'">
                        <th class="tbl-label" colspan="2">Prototype specifications</th>
                    </tr>
                    <tr ng-if="prototypeSpecification">
                        <th>Prototype requirements</th>
                        <td>
                            {{prototypeSpecification.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="packageSupport">
                        <th>Prototype package</th>
                        <td>
                            {{packageSupport.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="prototyperequirements">
                        <th class="tbl-label" colspan="2">Requirements</th>
                    </tr>
                    <tr ng-if="prototyperequirements">
                        <td>
                            <div>
                                {{prototyperequirements.option_value}}
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="designDetail">
                        <th class="tbl-label" colspan="2">Design Details</th>
                    </tr>
                    <tr ng-if="designDetail">
                        <th>Design Type</th>
                        <td>
                            {{designDetail.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="designSolcat">
                        <th>Solcat Detail</th>
                        <td>
                            {{designSolcat.question_options.option_name}}
                        </td>
                    </tr>
                    <tr ng-if="designrequirements">
                        <th class="tbl-label" colspan="2">Requirements</th>
                    </tr>
                    <tr ng-if="designrequirements">
                        <td>
                            <div>
                                {{designrequirements.option_value}}
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <th>Number of Solution</th>
                        <td>
                            Lorem Ipsum.
                            <div>
                                <a class="blue1 font_medium ">
                                    <i class="fa fa-link"></i> 5 attachments
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Objectives</th>
                        <td>Lorem Ipsum dollar.</td>
                    </tr> -->
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="pad_vertical_15 ">
                <div>
                    <div class=" font_18 font_medium blue3">
                        Client Details
                    </div>
                    <br>
                    <table class="info_table tbl-bordered full_width tbl-lg ">
                        <tr>
                            <th>Company</th>
                            <td>{{details.request_info.client_details.name}}</td>
                        </tr>
                        <tr>
                            <th>ABN/ACN</th>
                            <td>{{details.request_info.client_details.ABN || none}}</td>
                        </tr>
                        <tr>
                            <th>Company Adress</th>
                            <td>{{details.request_info.client_details.address || none}}</td>
                        </tr>
                    </table>
                </div>
                <br>
                <div>
                    <div class=" font_18 font_medium blue3">
                        Contact Details
                    </div>
                    <br>
                    <table class="info_table tbl-bordered full_width tbl-lg ">
                        <tr>
                            <th>Contact Name</th>
                            <td>{{details.contact_name}}</td>
                        </tr>
                        <tr>
                            <th>Phone Number (Home)</th>
                            <td>{{details.contact_number_home}}</td>
                        </tr>
                        <tr>
                            <th>Phone Number (Work)</th>
                            <td>{{details.contact_number_work}}</td>
                        </tr>
                        <tr>
                            <th>Contact Address</th>
                            <td>{{details.contact_address}}</td>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td>{{details.contact_email}}</td>
                        </tr>
                    </table>
                </div>
                <br>
                <div>
                    <div class=" font_18 font_medium blue3">
                        Notes
                    </div>
                    <br>
                    <div>
                        {{details.remark}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading" ng-if="isLoading">Loading&#8230;</div>
<script type="text/ng-template" id="/people-mentions.tpl">
    <ul class="list-group user-search">
        <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
            <img class="user-photo" ng-src="http://educationalsoftware.wikispaces.com/file/view/manga_suzie.jpg/38030142/178x177/manga_suzie.jpg">
            <span class="text-personlist" ng-bind-html="person.displayName | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
        </li>
    </ul>
</script>
<style type="text/css">
    .box-comment {
    padding: 10px;
    height: 280px;
    overflow-y: auto;
}

.user-block {
    margin: 7px 0;
    display: inline-block;
    width: 100%;
}

.user-block img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    position: relative;
    background-image: url(./images/default-profile-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.user-search .user-photo {
    position: relative;
    background-image: url(./images/default-profile-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    /* float: left; */
    border-radius: 50%;
}


/*.user-block img:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 10px;
    height: 41px;
    width: 95px;
    background-color: white;
    background-image: url('./images/default-profile.png');
}*/

.user-block .username {
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-left: 50px;
}

.user-block .description {
    display: block;
    margin-left: 50px;
}

.comment-section {
    background: #fdfdfd;
    border-top: 1px solid #ededed;
    padding: 10px;
    /*padding-bottom: 20px;*/
}

.comment-section textarea {
    margin-bottom: 10px;
    font-size: 12px;
}

.comment-section .btn-def {
    margin-top: 5px;
    border: 0;
    background: transparent;
    font-size: 13px;
}

.comment-section .btn-def:hover {
    color: #337ab7;
}

.comment-section img {
    margin-top: -3px;
}

.comment-section .dropdown-menu {
    top: -500%;
}

.edit-btn-container {
    padding: 1px;
    border: 1px solid #dedede;
    position: absolute;
    right: 26px;
    background: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 6px rgba(111, 111, 111, 0.2);
}

.btn-xm {
    padding: 5px;
    font-size: 12px;
    line-height: 1;
}

.edit-on-text {
    border: 1px transparent solid;
    background-position: right;
    background-repeat: no-repeat;
}

.ui-select-bootstrap > .form-control.ui-select-match > .btn,
.ui-select-bootstrap > .ui-select-match > .btn {
    text-align: left !important;
    border: solid thin transparent !important;
}

.ui-select-bootstrap .form-control {
    height: 23px !important;
    padding: 1px 3px !important;
    width: 100% !important;
    background-position: right;
    background-repeat: no-repeat;
    /*border: solid thin transparent;*/
}

.ui-select-bootstrap .form-control:hover,
.ui-select-bootstrap .form-control:focus {
    border: solid thin #719ECE !important;
    /*transition: all 0.5s ease-in-out;*/
    outline: none !important;
    background-image: url('./images/icons/ic_mode_edit_black_18px.svg');
    background-position: right;
}

.edit-on-text:hover,
.edit-on-text:focus {
    border: solid thin #719ECE;
    outline: none !important;
    background-image: url('./images/icons/ic_mode_edit_black_18px.svg');
    background-position: right;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
    display: none;
}

.emoji-menu {
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px !important;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.removebutton {
    position: absolute;
    right: 26px;
    border-radius: 50%;
    font-size: 11px;
    background: #fff;
    border: thin solid;
    padding: 1px 3px;
}

.hidetxt {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
}

.ctn-attachment {
    word-wrap: break-word;
}

mentio-menu {
    display: block;
    top: inherit !important;
    left: 85px !important;
    position: absolute;
    z-index: 10000;
    bottom: 20px !important;
    height: 350px !important;
    overflow-y: auto;
}

mentio-menu .list-group {
    padding-left: 0;
    margin-bottom: 0px !important;
}

.commenttab {
    height: auto !important;
    text-align: left;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(253, 253, 253, 0.75) 0 1.5em 0 0, rgba(232, 232, 232, 0.75) -1.1em 1.1em 0 0, rgba(234, 232, 232, 0.75) -1.5em 0 0 0, rgba(236, 234, 234, 0.75) -1.1em -1.1em 0 0, rgba(234, 231, 231, 0.75) 0 -1.5em 0 0, rgba(241, 241, 241, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(253, 253, 253, 0.75) 0 1.5em 0 0, rgba(232, 232, 232, 0.75) -1.1em 1.1em 0 0, rgba(234, 232, 232, 0.75) -1.5em 0 0 0, rgba(236, 234, 234, 0.75) -1.1em -1.1em 0 0, rgba(234, 231, 231, 0.75) 0 -1.5em 0 0, rgba(241, 241, 241, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
</style>
