<div id="compare-page" class="wrapper">
    <div class="breadcrumbs ">
        <img src="./images/icons/ico_compare01-01.svg" />
        <a class="current font_medium">
            Product Comparison
        </a>
    </div>
    <div class="page-menu flexi-pad" ng-if="compareproducts.length >0">
        <div class="dis_flex">
            <section>
                <a ng-if="compareproducts.length < 4" ui-sref="main.productCatalogue" class="font_medium btn btn-midnightblue">
                    <i class="fa fa-plus"></i> Add More
                </a>
                <!--   <a ng-click="comparisonShare()" class="font_medium btn btn-primary">
                      <i class="fa fa-share"></i> Share
                  </a> -->
                <!--<div class="font_medium btn-group" data-toggle="buttons">
                    <label ng-click="viewSoftware =!viewSoftware" class="active btn btn-primary-alt">
                        <input type="checkbox">Software
                    </label>
                    <label ng-click="viewHardware =!viewHardware"  class="active btn btn-primary-alt">
                        <input type="checkbox">Hardware
                    </label>
                    <label ng-click="viewSupport =!viewSupport"  class="active btn btn-primary-alt">
                        <input type="checkbox">Support
                    </label>
                    <label ng-click="viewPrice =!viewPrice"  class=" btn btn-primary-alt">
                        <input type="checkbox">Price
                    </label>
                </div>-->
            </section>
        </div>
    </div>
    <div id="compare_products">
        <table cellspacing="0" cellpadding="0" ng-if="compareproducts.length >0" style="width:100%; ">
            <thead>
                <tr>
                    <td style="border-top: solid 5px #9B59B6;"></td>
                    <td class="b-top"></td>
                    <td class="b-top"></td>
                    <td class="b-top"></td>
                    <td class="b-top"></td>
                </tr>
                <tr class="border-bottom compare_head" style="background: white;">
                    <td style=" vertical-align: bottom; padding: 10px;">
                    </td>
                    <td ng-repeat="value in compareproducts" ng-click="toggleProduct = !toggleProduct">
                        <a class="remove bg-violet" ng-click="removeItem(value)">
                            <i class="fa fa-close"></i>
                        </a>
                        <div class="padding_10 img_holder" ng-if="!value.img_default">
                            <img ng-repeat="image in value.product_images | limitTo:1" ng-src="{{image.image_path}}" />
                        </div>
                        <div class="padding_10 img_holder" ng-if="value.img_default">
                            <img ng-src="{{value.img_default}}" />
                        </div>
                        <div class="img_holder" ng-if="value.value">
                            <img ng-src="{{value.value}}" />
                        </div>
                        <div class="font_medium font_18 grey2 padding_10">
                            {{value.bundle_name || value.item_name}}
                            <div>
                                <a class="font_12 " ng-click="vewDetail(value)">

                                View Details
                            </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <!--Software-->
                <tr class=" compare_body">
                    <td colspan="5" style="cursor: pointer;" class=" row_label" ng-click="viewSoftware =!viewSoftware">
                        Software <i ng-if="viewSoftware" class="ti ti-arrow-circle-right "></i><i ng-if="!viewSoftware" class="ti  ti-arrow-circle-up"></i>
                    </td>
                </tr>
                <tr ng-click="toggleCMS = !toggleCMS" ng-class="{'row-highlight' : toggleCMS}" ng-hide="viewSoftware" class=" compare_body">
                    <td class="td-label">CMS</td>
                    <td ng-class="{'row-highlight' : toggleProduct}" ng-repeat="item in compareproducts track by $index ">
                        {{item.bundle_name || item.item_name}}
                    </td>
                </tr>
                <tr ng-click="toggleApp = !toggleApp" ng-class="{'row-highlight' : toggleApp}" ng-hide="viewSoftware" class="border-bottom compare_body">
                    <td class="td-label">Application</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.software">
                            {{item.product_detail.item_name || item.item_name}}
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        {{items.solution.bundle_name}}
                    </td>
                </tr>
                <!--Hardware-->
                <tr class="compare_body">
                    <td ng-click="viewHardware =!viewHardware" style="cursor: pointer" colspan="5" class="row_label">
                        Hardware <i ng-if="viewHardware" class="ti ti-arrow-circle-right"></i><i ng-if="!viewHardware" class="ti  ti-arrow-circle-up"></i>
                    </td>
                </tr>
                <!--  <tr ng-click="toggleScreens = !toggleScreens" ng-class="{'row-highlight' : toggleScreens}" ng-click="toggleBg()" ng-class="{'class1':!blueBg, 'class2': blueBg}" ng-hide="viewHardware" class="compare_body">
                 <td class="td-label">Screens</td>
             </tr> -->
                <!--   <tr ng-click="toggleScreenModel = !toggleScreenModel" ng-class="{'row-highlight' : toggleScreenModel}"
            ng-hide="viewHardware" class="compare_body">
            <td class="td-label">Screen model</td>


        </tr> -->
                <tr ng-click="toggleScreenSize = !toggleScreenSize" ng-class="{'row-highlight' : toggleScreenSize}" ng-hide="viewHardware" class="compare_body" ng-if="softwaresscreenattrib.length >0 || compare.category_id == 80">
                    <td class="td-label">Screen size</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_label == 'Screen' || item.category_id == 80">
                            <div ng-repeat="screen in item.attributes" ng-if="screen.attribute == 'Screen Size'">
                                {{screen.value}}
                            </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Screen Size'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-click="toggleBezel = !toggleBezel" ng-class="{'row-highlight' : toggleBezel}" ng-hide="viewHardware" class="compare_body" ng-if="softwaresscreenattrib.length > 0 || compare.category_id == 80">
                    <td class="td-label">Screen bezel</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_label == 'Screen' || item.category_id == 80">
                            <div ng-repeat="screen in item.attributes" ng-if="screen.attribute == 'Bezel Size'">
                                {{screen.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Bezel Size'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-click="toggleDimen = !toggleDimen" ng-class="{'row-highlight' : toggleDimen}" ng-hide="viewHardware" class="compare_body" ng-if="softwaresscreenattrib.length >0 || compare.category_id == 80">
                    <td class="td-label">Screen dimensions</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_label == 'Screen' || item.category_id == 80">
                            <div ng-repeat="screen in item.attributes" ng-if="screen.attribute == 'Dimensions'">
                                {{screen.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-click="toggleDimen = !toggleDimen" ng-class="{'row-highlight' : toggleDimen" ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Dimensions'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-click="toggleMounting = !toggleMounting" ng-class="{'row-highlight' : toggleMounting}" ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Mounting configuration</td>
                    <td ng-repeat="item in compareproducts track by $index ">
                        ✔
                    </td>
                </tr>
                <!--  <tr ng-click="togglePlayer = !togglePlayer" ng-class="{'row-highlight' : togglePlayer}" ng-hide="viewHardware" class="compare_body" ng-if="softwaresmediaattrib.length>0 || compare.category_id == 83">
                 <td class="td-label">Media player</td>
                 <td ng-repeat="items in compareproducts track by $index">
                     <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                         {{item.product_detail.item_name}}
                     </div>
                 </td>
             </tr> -->
                <!-- <tr ng-click="toggleModel = !toggleModel" ng-class="{'row-highlight' : toggleModel}" ng-hide="viewHardware" class="compare_body" ng-if="softwaresmediaattrib.length>0 || compare.category_id == 83">
                <td class="td-label">Media Player Model</td>
            </tr> -->
                <tr ng-click="toggleProcessor = !toggleProcessor" ng-class="{'row-highlight' : toggleProcessor}" ng-hide="viewHardware" class="compare_body" ng-if="softwaresmediaattrib.length>0 || compare.category_id == 83">
                    <td class="td-label">Processor</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                            <div ng-repeat="media in item.attributes" ng-if="media.name == 'Processor'">
                                {{media.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Processor'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-click="toggleProcessor = !toggleProcessor" ng-class="{'row-highlight' : toggleProcessor}" ng-hide="viewHardware" class="compare_body" ng-if="softwaresmediaattrib.length>0 || compare.category_id == 83">
                    <td class="td-label">RAM</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                            <div ng-repeat="media in item.attributes" ng-if="media.name == 'RAM'">
                                {{media.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'RAM'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-click="toggleProcessor = !toggleProcessor" ng-class="{'row-highlight' : toggleProcessor}" ng-hide="viewHardware" class="compare_body" ng-if="softwaresmediaattrib.length>0 || compare.category_id == 83">
                    <td class="td-label">Storage</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                            <div ng-repeat="media in item.attributes" ng-if="media.name == 'Storage'">
                                {{media.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Storage'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-click="toggleProcessor = !toggleProcessor" ng-class="{'row-highlight' : toggleProcessor}" ng-hide="viewHardware" class="compare_body" ng-if="softwaresmediaattrib.length>0 || compare.category_id == 83">
                    <td class="td-label">Maximum resolution</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                            <div ng-repeat="media in item.attributes" ng-if="media.name == 'Maximum Resolution'">
                                {{media.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Maximum Resolution'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <!--  <tr ng-click="toggleScreenSupport = !toggleScreenSupport" ng-class="{'row-highlight' : toggleScreenSupport}" ng-hide="viewHardware" class="border-bottom compare_body">
            <td class="td-label">Number of screens supported</td>
        </tr> -->
                <!--Deployment-->
                <tr class="compare_body">
                    <td ng-click="viewSupport=!viewSupport" style="cursor: pointer" colspan="5" class="row_label" style="cursor: pointer">
                        Support Type <i ng-if="viewSupport" class="ti ti-arrow-circle-right"></i><i ng-if="!viewSupport" class="ti  ti-arrow-circle-up"></i>
                    </td>
                </tr>
                <tr ng-click="toggleEssentials = !toggleEssentials" ng-class="{'row-highlight' : toggleEssentials}" ng-hide="viewSupport" class="compare_body">
                    <td class="td-label">Essential</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.support">
                        <div ng-repeat="item in items.support" ng-if="item.supp.length > 0">
                            ✔
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="!items.support">
                        X
                    </td>
                </tr>
                <tr ng-click="toggleEnterprise = !toggleEnterprise" ng-class="{'row-highlight' : toggleEnterprise}" ng-hide="viewSupport" class="border-bottom compare_body">
                    <td class="td-label">Enterprise</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.support">
                        <div ng-repeat="item in items.support" ng-if="item.product_detail.item_name == 'Enterprise Support'">
                            ✔
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="!items.support">
                        X
                    </td>
                </tr>
                <!--Support-->
                <tr class="compare_body">
                    <td style="cursor: pointer" colspan="5" ng-click="viewPrice=!viewPrice" class="row_label">
                        Price <i ng-if="viewPrice" class="ti ti-arrow-circle-right"></i>
                        <i ng-if="!viewPrice" class="ti ti-arrow-circle-up"></i>
                    </td>
                </tr>
                <tr ng-click="toggleCapex = !toggleCapex" ng-class="{'row-highlight' : toggleCapex}" ng-hide="viewPrice" class="compare_body">
                    <td class="td-label">Capex</td>
                    <td ng-repeat="items in compareproducts track by $index">
                        {{items.upfront || items.sell_price | currency}}
                        <small>upfront*</small>
                    </td>
                </tr>
                <tr ng-click="toggleOpex = !toggleOpex" ng-class="{'row-highlight' : toggleOpex}" ng-hide="viewPrice" class="border-bottom compare_body" ng-if="compare.weekly">
                    <td class="td-label">Opex</td>
                    <td ng-repeat="items in compareproducts track by $index">
                        {{items.weekly | currency}}
                        <small>per month*</small>
                    </td>
                </tr>
                <tr class="compare_body">
                    <td class="row_label">
                    </td>
                    <td class="row_label" ng-repeat="items in compareproducts track by $index">
                        <button type="button" class="full_width tes-btn bg-green" ng-click="addToCart(items)">
                            <i class="fa fa-shopping-cart"></i> Add to cart
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="compareproducts.length == 0" class="flexi-pad center_align">
            <div class="font_18">No products to compare yet.</div>
            <br>
            <button type="button" class="tes-btn bg-violet" ui-sref="main.productCatalogue"><img src="./images/icons/ico_store00_nav.svg" style="width: 23px;" /> Browse Product Catalogue
            </button>
        </div>
        </div>
    </div>
    <style>
    #active-compare {
        background: #424242;
    }
    
    
    </style>
