<div class="wrapper">
    <div class="ctn border-bottom">
        <div class="row">
            <div class="col-lg-12">
                <div class="ctn-ico">
                    <img src="./images/icons/ico_compare01-01.svg" />
                    <h2 class="fg-sky">Product Comparison</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="font_medium dis-menu">
        <div class=" row">
            <div class=" col-lg-12">
                <button ng-if="compareproducts.length > 0" type="button" class="btn bg-sky" ng-click="comparisonShare()">
                    <i class="fa fa-share"></i> <span class="sm_hid">Share</span>
                </button>
                <button type="button" class="btn bg-midnight" ui-sref="main.productCatalogue">
                    <div class="ctn-ico">
                        <img src="./images/icons/ico_store00_nav.svg" />
                        <span class="sm_hid">Browse Products</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div ng-if="compareproducts.length > 0">
        <div ng-if="compare.pb_id">
            <div class="ctn-top">
                <div class="row dis-flx">
                    <div class="col-xs-6 col-sm-3 center_align" ng-repeat="group in comparelists">
                        <div class="flx-spb-vrt ">
                            <div class="cpr-head">
                                <h3 class="fg-dark">
                                    {{group.titles.title}}
                                </h3>
                            </div>
                            <div>
                                <h5>
                                    <a ui-sref="main.productDetailsSolution({selected_id: group.id})">View
                                        Details</a> |
                                    <a
                                            ng-click="removeItem(group)"> Remove</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn-top">
                <div class="row dis-flx">
                    <div class="col-xs-6 col-sm-3 center_align" ng-repeat="group in comparelists">
                        <div class="dis-img">
                            <img ng-src="{{group.titles.image}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn-top">
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="sec-head">
                            <h4>
                                Software
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row atb-itm dis-flx">
                    <div class=" col-xs-6 col-sm-3" ng-repeat="group in comparelists">
                        <div class="atb">
                            <div class="atb-ins" ng-repeat="(name,value) in group.softwaregroup">
                                <div ng-repeat="val in value track by $index">
                                    <h6>{{name}}</h6>
                                    <p>{{val.product_detail.item_name}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="group in comparelist">
                <div class="ctn-top" ng-repeat="(name,value) in group.hardwaregroup">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sec-head">
                                <h4>
                                    {{name}}
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row atb-itm dis-flx">
                        <div class="col-xs-6 col-sm-3" ng-repeat="val in value track by $index">
                            <div class="atb">
                                <div class="atb-ins" ng-repeat="attribute in val[0].atrribute track by $index" ng-if="attribute.is_comparable == 1">
                                    <h6>{{attribute.attribute}}</h6>
                                    <p>{{attribute.value}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn-top">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-head">
                            <h4>
                                Support Type
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row atb-itm dis-flx">
                    <div class="col-xs-6 col-sm-3" ng-repeat="group in comparelists">
                        <div class="atb">
                            <div class="atb-ins">
                                <h6>Essential</h6>
                                <p ng-if="group.essential">✔
                                </p>
                                <p ng-if="!group.essential">X
                                </p>
                            </div>
                            <div class="atb-ins">
                                <h6>Enterprise</h6>
                                <p ng-if="group.enterprise">✔
                                </p>
                                <p ng-if="!group.enterprise">X
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn-top">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-head">
                            <h4>
                                Price
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row atb-itm dis-flx">
                    <div class="col-xs-6 col-sm-3" ng-repeat="group in comparelists">
                        <div class="atb">
                            <div class="atb-ins">
                                <h6>Capex</h6>
                                <p>{{group.price | currency}}
                                </p>
                            </div>
                            <div class="atb-ins">
                                <h6>Opex</h6>
                                <p ng-if="group.enterprise">{{group.weekly | currency}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn">
                <div class="row">
                    <div class=" col-xs-6 col-sm-3" ng-repeat="group in compareproducts">
                        <button type="button" class="tes-btn bg-green" ng-click="addToCart(group)">
                            <i class="fa fa-shopping-cart"></i> ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="compare.p_id">
            <div class="ctn-top">
                <div class="row dis-flx">
                    <div class="col-xs-6 col-sm-3 flx-spb-vrt center_align" ng-repeat="group in comparehardwarelists">
                        <div class="cpr-head">
                            <h3 class="fg-dark">
                                    {{group.title}}
                                </h3>
                        </div>
                        <div>
                            <h5>
                                    <a ui-sref="main.productDetailsHardware({selected_id: group.id})">View Details 
                                    </a> | <a ng-click="removeItem(group)"> Remove</a>
                                </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn-top">
                <div class="row dis-flx">
                    <div class="col-xs-6 col-sm-3 center_align" ng-repeat="group in comparehardwarelists">
                        <div class="dis-img">
                            <img ng-src="{{group.image}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn-top">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-head">
                            <h4>
                                    {{compare.type}}
                                </h4>
                        </div>
                    </div>
                </div>
                <div class="row atb-itm dis-flx">
                    <div class="col-xs-6 col-sm-3" ng-repeat="group in comparehardwarelists">
                        <div class="atb-ins" ng-repeat="attribute in group.attributes" ng-if="attribute.is_comparable == 1">
                            <h6>{{attribute.attribute}}</h6>
                            <p>{{attribute.value}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn-top">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-head">
                            <h4>
                                    Price
                                </h4>
                        </div>
                    </div>
                </div>
                <div class="row atb-itm dis-flx">
                    <div class="col-xs-6 col-sm-3" ng-repeat="group in comparehardwarelists">
                        <div class="atb-ins">
                            <h6>Capex</h6>
                            <p>{{group.price | currency}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctn">
                <div class="row">
                    <div class=" col-xs-6 col-sm-3" ng-repeat="group in compareproducts">
                        <button type="button" class="tes-btn bg-green" ng-click="addToCart(group)">
                            <i class="fa fa-shopping-cart"></i> ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    #active-compare {
        background: #424242;
    }
    
    @media only screen and (min-width: 200px) and (max-width: 590px) {
        .atb-ins {
            margin-top: 10px !important;
            height: 67px !important;
            overflow: hidden;
        }
        .cpr-head h3 {
            font-size: 14px !important;
            font-family: medium;
            vertical-align: middle;
            color: #333333 !important;
            height: 60px;
        }
        .sec-head h4 {
            font-family: light;
            font-size: 17px !important;
            vertical-align: middle;
            color: #308ECC;
        }
        .atb-ins p {
            font-family: light;
            font-size: 13px !important;
            line-height: 1;
            margin-top: 3px;
        }
        .flx-spb-vrt h5 {
            font-size: 12px;
        }
        .cpr-head {
            height: 95px !important;
        }
    }
    
    @media only screen and (min-width: 591px) and (max-width: 1025px) {
        .atb-ins {
            margin-top: 15px;
            height: 70px !important;
        }
        .atb p {
            font-family: light;
            font-size: 14px !important;
        }
        .cpr-head {
            margin-bottom: 20px;
            height: 100px !important;
        }
        .item_content {
            height: 160px !important;
        }
    }
    
    .atb-ins {
        height: 50px;
    }
    
    .cpr-head {
        height: 55px;
    }
    
    @media only screen and (min-width: 1026px) (max-width: 1340px) {
        .atb-ins {
            margin-top: 15px;
            height: 60px !important;
        }
        .atb p {
            font-family: light;
        }
    }
    </style>
