<div class="modal-header">
    <h4 class="modal-title">Cancel Request</h4>
</div>
<div class="modal-body no-padding" id="modal-body">
    <div class="box">
        <form class="form-horizontal" id="update1" name="updateForm">
            <div class="box-body" style="padding-top: 20px;">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Due Date</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="canceldetail.due_date" data-date-format="MM-dd-yyyy" bs-datepicker/>
                            <!-- <input ng-model="myDate" type="text" class="form-control" placeholder="Choose a date" /> -->
                            <span class="input-group-addon" style="cursor: pointer">
                                <i class="fa fa-lg fa-calendar"></i>
                                </span>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-sm-3 control-label">Assign to</label>
                    <div class="col-sm-9" required>
                        <select class="form-control" ng-model="selectedvalue" ng-change="getValue(selectedvalue)" ng-options="person as person.displayName + ' (' + person.email+ ')' for person in persons" required/>
                        </select>
                    </div>
                </div> -->
                <!--  <div class="form-group">
                    <label class="col-sm-3 control-label">Set complexity</label>
                    <div class="col-sm-9">
                        <select class="form-control" >
                            <option>0.5</option>
                            <option>1</option>
                            <option>3</option>
                            <option>5</option>
                            <option>8</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Set due date</label>
                    <div class="col-sm-9">
                        <datepicker date-format="EEEE, MMMM d, y" selector="form-control">
                            <div class="input-group">
                                <input class="form-control" placeholder="Choose a date" />
                                <span class="input-group-addon" style="cursor: pointer">
                                <i class="fa fa-lg fa-calendar"></i>
                                </span>
                            </div>
                        </datepicker>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Comment</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" ng-model="canceldetail.comment_body" rows="4" required> </textarea>
                    </div>
                </div>
            </div>
        </form>
        <!--  <form class="form-horizontal" id="update2">
            <div class="box-body" style="padding-top: 20px;">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Choose Action</label>
                    <div class="col-sm-12">
                        <div class="btn-group">
                            <label for="cb" class="btn btn-primary btn-primary-switch" ng-model="approve">
                                Approve
                                <input type="checkbox" class="checkbox" name="cb" id="cb" onclick="selectOnlyThis(this)">
                            </label>
                            <label for="cb2" class="btn btn-primary btn-primary-switch">
                                Needs revision
                                <input type="checkbox" class="checkbox" name="cb" id="cb2" onclick="selectOnlyThis(this)">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12 control-label">Remarks</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="4">
                        </textarea>
                    </div>
                </div>
            </div>
        </form> -->
    </div>
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
    <button class="btn btn btn-primary" type="button" ng-click="send()">Update</button>
</div> -->
<div class="modal-footer">
    <!-- <button class="btn btn-default" type="button" ng-click="cancel()">Close</button> -->
    <button class="btn btn btn-primary" type="button"  ng-click="cancelConfirm(action,list,item)">Confirm</button>
</div>
<style type="text/css">
.form-horizontal .control-label {
    text-align: left;
}

.uib-button-bar {
    padding: 5px !important;
}

._720kb-datepicker-calendar-month span {
    color: rgba(0, 0, 0, 0.51);
}

.datepicker .input-group-addon {
    background-color: #fff;
}

.modal-title {
    font-size: 20px;
}

.btn-primary-switch {
    color: #2e6da4;
    background-color: #fff;
    border-color: #2e6da4 !important;
    width: 165px !important;
}

.btn-primary-switch:active,
.btn-primary-switch:visited,
.btn-primary-switch.active,
.btn-primary-switch:focus {
    color: #ffffff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
    width: 165px !important;
}

.btn-group label input[type=checkbox]:focus {
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}
</style>
