<div class="ngdialog-message">
    <div class="font_medium">
        <i class="fa  fa-warning"></i> Confirm
    </div>
    <br>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="updateStatus(action,list,item,manual)">Accept</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="cancelUpdate(action,list,item)">Cancel</button>
</div>
<style type="text/css">
.form-horizontal .control-label {
    text-align: left;
}

.uib-button-bar {
    padding: 5px !important;
}

.modal-title {
    font-size: 20px;
}

.center {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
</style>
