<div class="modal-header">
    <span><h3 class="modal-title"><img src="./images/icons/ico_cast03.svg" style="max-width: 50px;"> Cast Screen</h3></span>
</div>
<div class="modal-body">
    <div class="mira" ng-if="!displayInstallPlugin && !displayInCompatiblePlugin">
        <div class="">
            <div class="font_medium font_15 blue3 text">Connected Devices<span class="arrow"></span></div>
        </div>
        <div class="devices" ng-class="{'active': device.selected}" ng-repeat="device in activeDevices">
            <a class="dis_table_auto" ng-click="selectDevice(device)" ng-dblclick="pingSelectedDevice(device)">
                <div class="dis_cell cell-sm" style="width: 10%">
                    <i class="fa fa-desktop fa-5x"></i>
                </div>
                <div style="line-height: 1;padding-top: 22px;">
                    <div class="grey2" style="font-family: medium;">&nbsp {{device.os}}({{device.os_version}})</div>
                    <br>
                    <small class=" grey2">&nbsp {{device.deviceUUID}}</small>
                </div>
            </a>
        </div>
    </div>
    <div class="mira" ng-if="displayInstallPlugin && !displayInCompatiblePlugin">
        <p class="text-center">
            <a class="btn btn-lg btn-primary" href="" ng-click="installPlugin()" role="button">Install Plugin</a>
        </p>
    </div>
    <div class="mira" ng-if="!displayInstallPlugin && displayInCompatiblePlugin">
        <p class="text-center">
            <label class="font_24 text-danger">Casting not SUPPORTED on this browser!!!</label>
        </p>
    </div>
</div>
<div class="font_bold modal-footer">
    <button ng-click="connectDevice()" ng-if="!displayInstallPlugin && !displayInCompatiblePlugin" class="pull-right  btn btn-primary" ng-disabled="!enableCasting">Cast to selected device</button>
    <button id="close_quote" type="button" class=" btn btn-primary-alt pull-left" ng-click="cancel()">Cancel
    </button>
</div>
<style type="text/css">
.text {
    background-color: #616161;
    color: #fff;
    display: inline-block;
    padding-left: 70px;
    margin-left: -10px;
    letter-spacing: 1px;
}

.arrow {
    border-style: dashed;
    border-color: transparent;
    border-width: 0.20em;
    display: -moz-inline-box;
    display: inline-block;
    /* Use font-size to control the size of the arrow. */
    font-size: 100px;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 0;
    background-color: #fff;
    /* change background color acc to bg color */
    border-left-width: 0.2em;
    border-left-style: solid;
    border-left-color: #616161;
    left: 0.25em;
}

.devices {
    padding: 15px;
    /* border: solid thin #ccc; */
    margin-left: -10px;
    margin-right: -10px;
    border-left: 10px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

.devices:active,
.active {
    padding: 15px;
    margin-left: -10px;
    margin-right: -10px;
    border-left: 10px solid #2b679a;
    margin-top: 5px;
    margin-bottom: 5px;
}
</style>
