<div class="thumbnail_view row" style="border: solid thin transparent;padding-top: 0;">
    <div contextmenu-container="meta.contextmenu">
        <div class="col-lg-3 thumbs active" contextmenu-item="row">
            <!-- <object type="application/pdf" data="../images/Sample.pdf#overflow=0" style="overflow: auto;min-height: 313px;width: 100%;width: 100%" /></object> -->
            <div style="background: red;padding: 60px 20px 60px 20px;">
                <img src="../images/icons/pdf-file-format-symbol.svg" style="width: 100%;">
            </div>
            <div class="thumb-title">PDF
                <h5 class="font_medium">Sample PDF</h5>
            </div>
        </div>
        <div class="col-lg-3 thumbs" contextmenu-item="row">
            <!-- <object type="application/pdf" data="../images/Sample.pdf#overflow=0" style="overflow: auto;min-height: 313px;width: 100%;width: 100%" /></object> -->
            <div style="background: #286090;padding: 60px 20px 60px 20px;">
                <img src="../images/icons/doc-file-format.svg" style="width: 100%;">
            </div>
            <div class="thumb-title">DOC
                <h5 class="font_medium">Sample DOC</h5>
            </div>
        </div>
        <div class="col-lg-3 thumbs" contextmenu-item="row">
            <!-- <object type="application/pdf" data="../images/Sample.pdf#overflow=0" style="overflow: auto;min-height: 313px;width: 100%;width: 100%" /></object> -->
            <div style="background: #1e8a1e;padding: 60px 20px 60px 20px;">
                <img src="../images/icons/xls-file-format-symbol.svg" style="width: 100%;">
            </div>
            <div class="thumb-title">XLS
                <h5 class="font_medium">Sample XLS</h5>
            </div>
        </div>
        <div class="col-lg-3 thumbs" contextmenu-item="row">
            <!-- <object type="application/pdf" data="../images/Sample.pdf#overflow=0" style="overflow: auto;min-height: 313px;width: 100%;width: 100%" /></object> -->
            <div style="background: #ff6f00;padding: 60px 20px 60px 20px;">
                <img src="../images/icons/ppt-business-presentation-file-format-symbol.svg" style="width: 100%;">
            </div>
            <div class="thumb-title">PPT
                <h5 class="font_medium">Sample PPT</h5>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.thumb-title {
    padding: 15px 15px 0px 15px;
    line-height: 0.5px;
}

.thumbs {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 0;
    margin: 10px !important;
}

.active,
.thumbs:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0;
    margin: 10px !important;
    background-color: #fff !important;
}
</style>
