<div class="preso-assets">
    <div class="flexi-flow">
        <div id="testo">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tes-slider">
                            <div class="dis_table slider-content">
                                <!-- <section class="dis_cell_top">
                            <h1>Engagis: Creating Connections</h1>
                            <h3>Author: Engagis</h3>
                            <div class="hide-sm">
                                <p class="pad_vertical_15 ">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                                <div>
                                    <a class="btn btn-primary">Preview</a>
                                    <a class="btn btn-primary">Cast to Screen</a>
                                </div>
                            </div>
                        </section> -->
                                <section class="dis_cell_top">
                                    <div>
                                        <img src="../../images/img-sample-3.jpg" style="height: 500px;width: 100%;" />
                                        <!--  <div class="drp-sdow"></div> -->
                                    </div>
                                    <div class="show-sm">
                                        <div>
                                            <a class="btn btn-primary">Preview</a>
                                            <a class="btn btn-primary">Cast to Screen</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tes-slider">
                            <div class="dis_table slider-content">
                                <!-- <section class="dis_cell_top">
                                <h1>Engagis: Creating Connections</h1>
                                <h3>Author: Engagis</h3>
                                <div class="hide-sm">
                                    <p class="pad_vertical_15 ">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                    <div>
                                        <a class="btn btn-primary">Preview</a>
                                        <a class="btn btn-primary">Cast to Screen</a>
                                    </div>
                                </div>
                            </section> -->
                                <section class="dis_cell_top">
                                    <div>
                                        <img src="../../images/img-sample-2.jpg" style="height: 500px;width: 100%;" />
                                        <!-- <div class="drp-sdow"></div> -->
                                    </div>
                                    <div class="show-sm">
                                        <div>
                                            <a class="btn btn-primary">Preview</a>
                                            <a class="btn btn-primary">Cast to Screen</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="slider-bg img_holder">
            </div>
            <div class="black-fade">
            </div>
        </div>
    </div>
</div>
<script>
var swiper = new Swiper('#testo .swiper-container', {
    pagination: '#testo .swiper-pagination',
    nextButton: '#testo .swiper-button-next',
    prevButton: '#testo .swiper-button-prev',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 50
});


var swiper = new Swiper('.multiple-slider .swiper-container', {
    scrollbar: '.multiple-slider .swiper-scrollbar',
    scrollbarHide: true,
    slidesPerView: 'auto',
    centeredSlides: false,
    spaceBetween: 50,
    grabCursor: true
});
</script>
