<div class="list_view row" style="border: solid thin transparent;margin-right: -21px;margin-left: -21px;padding-top: 0;">
    <table style="width: 100%;" contextmenu-container="meta.contextmenu">
        <tr>
            <th style="width:1%"></th>
            <th style="width: 5%;padding-left: 10px;">Name</th>
            <th style="width: 50%;">
            </th>
            <th>Owner</th>
            <th>Last modified</th>
            <th>File size</th>
        </tr>
        <tr ng-repeat="row in assets" contextmenu-item="row">
            <td style="padding:0px;">
                <div class=" thumb_icon orange1">
                    <i class="fa fa-file-powerpoint-o"></i>
                </div>
            </td>
            <td>Lorem Ipsum</td>
            <td>Griffin</td>
            <td>Peter</td>
            <td>Griffin</td>
        </tr>
    </table>
</div>
