<div id="presentation">
    <div class="wrapper" style="padding-bottom: 0;">
        <div class="breadcrumbs padding_10">
            <img src="../images/icons/ico_store00.svg" />
            <a class="current font_medium" ui-sref="main.presentation">
                Presentation
            </a>
            <a class="current font_medium">
                >
            </a>
            <a class="current font_medium">
                 Lorem Ipsum
            </a>
        </div>
        <div class="page_menu">
            <div class="padding_10 ">
                <div class="dis_flex">
                    <div class="flex flex_1">
                        <a ng-if="isList" ng-click="changeDisplay()"><i class="fa fa-th-list " ></i></a>
                        <a ng-if="!isList" ng-click="changeDisplay()"><i class="fa fa-th-large" ></i></a>
                        <a ng-click="sortTime = !sortTime" class="font_medium padding_10">
                            <span ng-hide="sortTime">Oldest</span>
                            <span ng-show="sortTime">Latest</span> <i class="fa fa-long-arrow-down"></i>
                        </a>
                    </div>
                    <div class="flex_2">
                        <span class="btn-group padding_10">
                            <div class="inblock">
                                       <input type="search" ng-model="txtSearch" placeholder="Search keywords..."
                                              class="form-control" ng-change="(txtSearch.length < 1)?searchData():0"/>
                            </div><div class="inblock">
                                <div class="form_addon">
                                           <a class="blue1" ng-click="searchData()"
                                              ng-keypress="($event.which === 13)?searchData():0">
                                                <i class="fa fa-search"></i>
                                           </a>
                                </div>
                            </div>

                        </span>
                    </div>
                    <div class="flex flex_3">
                        <a ng-click="viewFavorite = !viewFavorite" class="padding_10 font_medium">
                            <span ng-hide="viewFavorite"><i class="fa fa-star-o"></i> View Favorites</span>
                            <span ng-show="viewFavorite"><i class="fa fa-star"></i> Favorites</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--END: Page Menu-->
        <div class="actions_menu">
            <a>
                <input type="checkbox" />
                <span class="sm_hid">Select All</span>
            </a>
            <a>
                <i class="fa fa-download"></i>
                <span class="sm_hid">Download</span>
            </a>
            <a>
                <i class="fa fa-trash-o"></i>
                <span class="sm_hid">Delete</span>
            </a>
            <a>
                <i class="fa fa-share"></i>
                <span class="sm_hid">Share</span>
            </a>
            <span uib-dropdown>
                <a id="single-button" type="button" uib-dropdown-toggle ng-disabled="disabled">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="grey2 dropdown-menu dropdown-menu-left" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li>
                        <a>
                            <i class="fa fa-folder-open"></i>
                            Open
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="svg_icon_sm"><img src="../images/icons/ico_rename02_black.svg" style="margin-top: -3px;"/> </span>
            <span>Rename</span>
            </a>
            </li>
            <li>
                <a>
                    <span class="svg_icon_sm"><img src="../images/icons/ico_addFav02_black.svg" style="margin-top: -3px;"/> </span>
                    <span>Add to Favourite</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-exchange"></i> Move to Folder
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-copy"></i> Copy to Another Folder
                </a>
            </li>
            </ul>
            </span>
        </div>
        <!--HEAD: FOLDER CONTAINER-->
        <div class="folder_container">
            <div contextmenu="meta.contextmenu" class="dropdown contextmenu">
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a role="menuitem" tabindex="-1" href ui-sref="main.openfolder">
                            <span><i class="fa fa-folder-open"></i> Open</span>
                        </a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" href ng-href="#/user/{{ meta.contextmenu.item.email }}/edit">
                            <span class="svg_icon_sm"><img src="../images/icons/ico_addFav02_black.svg" style="margin-top: -3px;"/> </span>
                            <span>Add to Favourite</span>
                        </a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" ng-click="renameSelected()">
                            <span class="svg_icon_sm"><img src="../images/icons/ico_rename02_black.svg" style="margin-top: -3px;"/> </span>
                            <span>Rename</span>
                        </a>
                    </li>
                    <li>
                        <a role="menuitem" href ng-click="delete(meta.contextmenu.item)">
                            <span><i class="fa fa-download"></i> Download</span>
                        </a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" href ng-href="#/user/{{ meta.contextmenu.item.email }}/edit">
                            <span><i class="fa fa-trash-o"></i> Delete</span>
                        </a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" ng-click="moveSelected()">
                            <span><i class="fa fa-exchange"></i> Move to Folder</span>
                        </a>
                    </li>
                </ul>
            </div>
            <ng-include src="'./views/folder/list.html'" ng-if="isList"></ng-include>
            <ng-include src="'./views/folder/grid.html'" ng-if="!isList"></ng-include>
            <div ng-if="isList">
            </div>
            <!-- list view -->
            <div ng-if="!isList">
            </div>
        </div>
    </div>
</div>
