<div class="modal-header" style="border-bottom: transparent;
    padding: 20px 50px 10px;">
    <h3 class="modal-title" style="font-size: 20px;">Upload Media/Files</h3>
</div>
<div class="modal-body" style="padding: 0px 50px;">
    <div class="row" nv-file-drop="" uploader="uploader" style="padding-top: 10px;padding-bottom: 10px;">
        <form role="form">
            <div class="col-md-12">
                <div class="box" style="padding-top:10px;">
                    <div class="form-group">
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            <div class="text-center">
                                <div class="drop-zone">
                                    <h3><div class="dropfile"><img src="./images/icons/ic_content_copy_black_24px.svg" style="width: 100px;"></div></h3>
                                    <h3>
                                            Drop files here <small> or use Browse button</small>
                                        </h3>
                                </div>
                            </div>
                        </div>
                        <div class="input-group image-preview">
                            <div class="input-group-btn" style="padding-right: 10px;">
                                <div class="btn btn-primary image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                                    <input type="file" accept="image/png,image/jpeg, image/gif, image/jpeg, image/x-ms-bmp, 
                                        audio/mp3, audio/mp4, 
                                        video/mp4, video/x-flv, video/3gpp, video/x-msvideo, video/x-ms-wmv, video/quicktime, 
                                        application/pdf, 
                                        application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, 
                                        application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                        text/csv,text/plain,
                                        application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                                        application/zip" nv-file-select="" uploader="uploader" multiple />
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4>
                            File Privacy
                        </h4>
                        <label class="radio-inline">
                            <input type="radio" ng-model="privacy" value="false" ng-required="true" ng-boolean-radio >Public
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="privacy" value="true" ng-required="true" ng-boolean-radio >Private
                        </label>
                    </div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th width="25%" ng-show="uploader.isHTML5">Progress</th>
                                    <!--     <th style="color: transparent;">Status</th> -->
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue" ng-hide="item.isValid" style="border-bottom: solid thin #ccc;">
                                    <td style="padding-top: 15px;">
                                        <strong>{{ item.file.name }}</strong>
                                    </td>
                                    <td style="padding-top: 15px;" ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td style="padding-top: 22px;" ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <!-- <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td> -->
                                    <td nowrap>
                                        <button type="button" uib-tooltip="Upload" class="btn btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <img src="./images/icons/ic_file_upload_black_24px.svg">
                                        </button>
                                        <button type="button" uib-tooltip="Cancel" class="btn btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <img src="./images/icons/ic_block_black_24px.svg">
                                        </button>
                                        <button type="button" uib-tooltip="Delete" class="btn btn-xs" ng-click="item.remove()">
                                            <img src="./images/icons/ic_delete_black_24px.svg">
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="mailbox-controls">
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" ng-if="isUploadAll">
                                    <img src="./images/icons/ic_file_upload_black_24px.svg"> Upload all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                    <img src="./images/icons/ic_block_black_24px.svg"> Cancel all
                                </button>
                                <button type="button" class="btn btn-flat btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                    <img src="./images/icons/ic_delete_black_24px.svg"> Delete all
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer" style="border-top: transparent;padding: 15px 50px 30px">
    <!--  <button type="button" class=" btn btn-primary-alt pull-right" ng-click="cancel()">CLOSE
        </button> -->
    <button id="close_quote" type="button" class=" btn btn-default pull-left" ng-click="cancel()" style="width: 85px;font-family: medium;">Close
    </button>
</div>
<style type="text/css">
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0;
    background: #ddd;
}

.btn {
    border-radius: 0;
    padding: 4px 5px;
    border-radius: 2px;
    background: #fff;
    margin-right: 5px;
}

.btn:hover {
    border-radius: 0;
    padding: 4px 5px;
    border-radius: 2px;
    background: rgba(221, 221, 221, 0.27);
    margin-right: 5px;
    border: thin solid #ccc;
}

.dropfile {
    width: 130px;
    background: #e0e0e0;
    margin: auto;
    padding: 13px;
    border-radius: 50%;
}

.well {
    background-color: #ffffff !important;
    border: 2px dashed #e0e0e0 !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.tes-icon {
    display: table-cell;
    vertical-align: middle;
    border-right: solid thin #E0E0E0;
    border-left: solid thin #E0E0E0;
    font-size: 30px;
    height: 56px;
    background: white;
}

.progress {
    height: 7px !important;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #dedede !important;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #004D7F !important;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
</style>
