<div class="modal-header">
    <h3 class="modal-title" ng-if="!asset_file.isFolder">Move RIGHT{{asset_file.asset_name}}</h3>
    <h3 class="modal-title" ng-if="asset_file.isFolder">Move {{asset_file.folder_name}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="box" style="padding-top: 10px;padding-bottom: 10px;">
        <div data-angular-treeview="true" data-tree-id="abc" data-tree-model="treedata" data-node-id="id" data-node-label="label" data-node-children="children"></div>
        <div class="overlay" ng-show="isLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>
<div class="font_bold modal-footer">
    <button ng-click="Move()" class="pull-right  btn btn-primary">
        Move
    </button>
    <button id="close_quote" type="button" class=" btn btn-primary-alt pull-left" ng-click="cancel()">Cancel
    </button>
</div>
