<div class="pubhead">
    <span uib-dropdown style="float: right;">
        <a id="single-button" uib-tooltip="More actions" tooltip-placement="bottom" type="button" uib-dropdown-toggle style="margin-bottom: -7px;float: right;padding: 8px;margin-left: 10px;margin-right: 10px;">
            <img src="./images/icons/ic_more_vert_white_24px.svg">
        </a>
            <ul class="grey2 dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="margin-top: 6px;margin-right: 9px;">
                <li >
                    <a ng-click="renameSelected()">
                        <span class="svg_icon_sm" style="padding: 0px 8px 0px 0px !important;"><img src="./images/icons/ico_rename02_black.svg" style="margin-top: -3px;"/> </span><span>Rename</span>
    </a>
    </li>
    <li ng-if="selectedFile.isStarred == 1 && selectedFile.isDeleted == 0">
        <a role="menuitem" tabindex="-1" href ng-click="starredSelected()">
            <i class="fa fa-star padd" style="color:orange;"></i> Remove from Favorites
        </a>
    </li>
    <li ng-if="selectedFile.isStarred == 0 && selectedFile.isDeleted == 0">
        <a role="menuitem" tabindex="-1" href ng-click="starredSelected()">
            <i class="ti ti-star padd"></i> Add to Favourite
        </a>
    </li>
    <li>
        <a role="menuitem" tabindex="-1" ng-click="moveSelected()">
            <i class="ti ti-move padd"></i> Move to Folder
        </a>
    </li>
    </ul>
    </span>
    <a type="button" uib-tooltip="Fullscreen" tooltip-placement="bottom" ng-click="enterFullScreen()" ng-if="!isFullScreen" style="margin-bottom: -7px;float: right;padding: 8px;">
        <img src="./images/icons/ic_zoom_out_map_white_24px.svg">
    </a>
    <a type="button" uib-tooltip="Exit Fullscreen" tooltip-placement="bottom" ng-click="exitFullScreen()" ng-if="isFullScreen" style="margin-bottom: -7px;float: right;padding: 8px;">
        <img src="./images/icons/ic_aspect_ratio_white_24px.svg">
    </a>
    <span uib-dropdown style="float: right;" ng-if="!displayInstallPlugin && !displayInCompatiblePlugin && !mirrorFile">
        <a id="single-button" uib-tooltip="Cast to Screen" tooltip-placement="bottom" type="button" uib-dropdown-toggle style="margin-bottom: -7px;float: right;padding: 8px;margin-left: 10px;margin-right: 10px;">
            <img src="./images/icons/ic_cast_white_24px.svg">
        </a>
            <ul class="grey2 dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="margin-top: 6px;margin-right: 9px;">
                <li ng-repeat="device in activeDevices">
                    <a ng-click="selectDevice(device)">
                        <span class="svg_icon_sm"><i class="ti ti-desktop padd"></i>
                        <span>&nbsp {{device.os}}({{device.os_version}})</span>
    </a>
    </li>
    </ul>
    </span>
    <a type="button" uib-tooltip="Cast to Screen" ng-if="!displayInstallPlugin && !displayInCompatiblePlugin && mirrorFile" tooltip-placement="bottom" ng-click="castScreen()" style="margin-bottom: -7px;float: right;padding: 8px;">
        <img src="./images/icons/ic_cast_white_24px.svg">
    </a>
    <a type="button" ng-click="installPlugin()" ng-if="displayInstallPlugin && !displayInCompatiblePlugin && mirrorFile" uib-tooltip="Install Plugin" tooltip-placement="bottom" ng-click="castScreen()" style="margin-bottom: -7px;float: right;padding: 8px;color: #fff;margin-right: 8px;">
        <img src="./images/icons/ic_file_download_white_24px.svg"> Install Plugin
    </a>
    <div style="padding-top: 11px;margin-left: 60px;">
        <span class="orange1" style="margin-right: 5px;">
            <i class="fa fa-file-pdf-o" ng-if="asset_file.asset_mimetype == 'application/pdf'"></i>
            <i class="fa fa-file-word-o" ng-if="asset_file.asset_mimetype == 'application/msword' || asset_file.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
            
             <i class="fa fa-file-text-o" ng-if="asset_file.asset_mimetype == 'text/plain'"></i>
             <i class="fa fa-file-excel-o" ng-if="asset_file.asset_mimetype == 'text/csv' || asset_file.asset_mimetype == 'application/vnd.ms-excel' || asset_file.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
             <i class="fa fa-file-powerpoint-o" ng-if="asset_file.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || asset_file.asset_mimetype == 'application/vnd.ms-powerpoint'"></i>
        </span> {{asset_file.asset_name}}
    </div>
</div>
<div style="padding: 0;">
    <div id="iframe1Div" ng-if="file_type !=='application/pdf'">
        <iframe id="iframe1" style="width: 100%;height: 100%;" src="{{pdfUrl}}" frameborder='0' ng-if="file_type !=='application/pdf'"></iframe>
    </div>
    <div id="object1Div" ng-if="file_type =='application/pdf'">
        <object id="object1" type="application/pdf" data="{{pdfUrl}}" id="pdf_content" ng-if="file_type =='application/pdf'"></object>
    </div>
    <div id="img1Div" style="background: #262626;height: 100vh;width: 100%;" ng-if="file_type == 'image/jpeg' || file_type == 'image/jpg' || file_type == 'image/gif' || file_type == 'image/x-ms-bmp' || file_type == 'image/png'">
        <img style="padding: 10px 200px 50px;max-height: calc(100% - 0px) !important;max-width: 100vw;height: auto;width: auto;max-height: 100vh;margin-left: 25%;" src="{{pdfUrl}}" alt="Attachment" ng-if="file_type == 'image/jpeg' || file_type == 'image/jpg' || file_type == 'image/gif' || file_type == 'image/x-ms-bmp' || file_type == 'image/png'">
    </div>
    <div id="media1Div" style="padding:10px 200px 50px;background: #262626;height: 100vh;width: 100%;" ng-if="file_type == 'video/mp4' || file_type == 'video/x-flv' || file_type == 'video/x-msvideo' || file_type == 'video/x-ms-wmv' || file_type == 'video/quicktime' || file_type =='video/3gpp'">
        <div class="videogular-container">
            <videogular vg-player-ready="onReady($API)" vg-theme="config.theme.url">
                <vg-media vg-src="config.sources"></vg-media>
                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button ng-if="isFullScreen" ng-click="exitFullScreen()"></vg-fullscreen-button>
                </vg-controls>
                <vg-buffering></vg-buffering>
            </videogular>
        </div>
    </div>
    <div id="media2Div" style="padding:10px 200px 50px;background: #262626;height: 100vh;width: 100%;" ng-if="file_type == 'audio/mp3' || file_type == 'audio/mp4'">
        <div class="videogular-container audio">
            <videogular vg-player-ready="onReady($API)" vg-theme="config.theme.url">
                <vg-media vg-src="config.sources" vg-type="audio"></vg-media>
                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                </vg-controls>
                <vg-buffering></vg-buffering>
                <!-- <vg-overlay-play></vg-overlay-play> -->
            </videogular>
        </div>
    </div>
    <style type="text/css">
    .cast {
        background: transparent;
        padding: 10px;
        border-radius: 3px;
    }
    
    .cast:hover,
    .cast:active,
    .cast:focus {
        background: rgba(49, 106, 202, 0.51);
        padding: 10px;
        border-radius: 3px;
        transition: background-color 0.5s ease;
    }
    
    a:focus,
    a:hover {
        color: #23527c;
        text-decoration: underline;
        background: rgba(255, 255, 255, 0.27);
        padding: 8px;
        border-radius: 3px;
    }
    
    .pubhead {
        padding: 5px 0px 11px;
        border-bottom: 1px solid rgb(37, 42, 45);
        background: rgb(37, 42, 45);
        color: #fff;
        min-height: 15.45px;
    }
    
    iframe {
        position: fixed;
        top: 48px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        padding-bottom: 70px;
        overflow: hidden;
    }
    
    object {
        position: fixed;
        top: 48px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        padding-bottom: 70px;
        overflow: hidden;
    }
    
    #media1Div .videogular-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    
    #media2Div .videogular-container {
        width: 100%;
        height: 200px;
        max-width: 100%;
        max-height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 400px;
    }
    </style>
